<header class="section-header">
    <h1 class="title">{{l('Invoices')}}</h1>
    <button class="icon reload" (click)="refresh()"></button>
</header>
<div class="reports-wrapper" [hidden]="isDataLoaded && dataSource.totalCount() < 1">
    <div class="grid-side">
        <ghost-list [hidden]="isDataLoaded"></ghost-list>
        <dx-data-grid id="gridContainer"
                      [loadPanel]="{ enabled: false }"
                      [dataSource]="dataSource"
                      [hoverStateEnabled]="true"
                      [renderAsync]="true"
                      [allowColumnReordering]="true"
                      [columnAutoWidth]="true"
                      [pager]="defaultGridPagerConfig"
                      (onOptionChanged)="onGridOptionChanged($event)"
                      (onContentReady)="onContentReady($event)"
                      (onRowClick)="onRowClick($event)">
            <dxi-column alignment="center" width="50px" cellTemplate="actionsCellTemplate" headerCellTemplate="actionsCellTemplate"></dxi-column>
            <a class="dx-link dx-link-edit" *dxTemplate="let cellData of 'actionsCellTemplate'"></a>
            <dxi-column width="15%" [dataField]="invoiceFields.Id" alignment="left" [caption]="l('Invoice')" cellTemplate="invoiceId"></dxi-column>
            <dxi-column width="15%" [dataField]="invoiceFields.Amount" [format]="currencyFormat" dataType="string" [caption]="l('Amount')"></dxi-column>
            <dxi-column [dataField]="invoiceFields.Status" [caption]="l('Status')" alignment="center" cellTemplate="statusCell"></dxi-column>
            <dxi-column width="23%" [dataField]="invoiceFields.Date" [caption]="l('Date')" cellTemplate="datetimeCell"></dxi-column>
            <dxi-column width="23%" [dataField]="invoiceFields.DueDate" [caption]="l('Due Date')" cellTemplate="dueDateCell"></dxi-column>

            <div *dxTemplate="let cellData of 'invoiceId'">
                <span class="invoice-id">{{cellData.value}}</span>
            </div>
            <div *dxTemplate="let cellData of 'statusCell'" class="status-wrapper">
                <div *ngIf="cellData.value" class="status {{ cellData.value | lowercase }}">{{ startCase(cellData.value) }}</div>
            </div>
            <div *dxTemplate="let cellData of 'dueDateCell'" class="clipboard-holder">
                {{ (cellData.value | date: formatting.date) || l('Invoice_DueOnReceipt') }}
            </div>
            <div *dxTemplate="let cellData of 'datetimeCell'" class="clipboard-holder">
                {{ cellData.value | date: formatting.date }}
            </div>
            <dxo-selection mode="single"></dxo-selection>
        </dx-data-grid>
    </div>
    <div class="pdf-side">
        <app-image-viewer *ngIf="previewContent"
            [images]="[previewContent]"
            [idContainer]="'imageViewer'"
            [loadOnInit]="true">
        </app-image-viewer>
    </div>
</div>
<app-no-data
    [hidden]="!isDataLoaded || dataSource.totalCount() > 1"
    [showLink]="false">
</app-no-data>

