<header *ngIf="title">
    <h2 mat-dialog-title>{{ title }}</h2>
</header>
<mat-dialog-content>
    <mat-tab-group>
        <mat-tab [label]="ls.l('FromComputer').toUpperCase()">
            <div class="file-loading">
                <span>{{ ls.l('SelectPhotoToApply') }}</span>
                <button mat-button class="fileInputButton" (click)="fileInput.click()">{{ls.l('Open')}}</button>
                <input type="file" (change)="fileSelected($event)" accept="image/*" #fileInput>
            </div>
        </mat-tab>
        <mat-tab [label]="ls.l('FromUrl').toUpperCase()">
            <div class="file-loading link-loading">
                <mat-form-field>
                    <input matInput [placeholder]="ls.l('EnterTheUrl')" [formControl]="fileUrlFormControl" (paste)="onPaste()">
                    <mat-error
                        *ngIf="fileUrlFormControl && fileUrlFormControl.hasError('pattern') && !fileUrlFormControl.hasError('required')">
                        Please enter a valid url
                    </mat-error>
                </mat-form-field>
                <button mat-button class="loadFile" (click)="loadFile()">{{ ls.l('Load') }}</button>
            </div>
        </mat-tab>
    </mat-tab-group>
    <ngx-file-drop (onFileDrop)="fileDropped($event)">
        <ng-template ngx-file-drop-content-tmp>
            <image-cropper #cropper (imageCropped)="onCrop($event)"></image-cropper>
        </ng-template>
    </ngx-file-drop>
</mat-dialog-content>
<mat-dialog-actions>
    <button mat-button class="button-layout button-default clear" [disabled]="clearDisabled" (click)="clearPhoto()">{{ ls.l('Clear') }}</button>
    <button mat-button mat-dialog-close class="button-layout button-default">{{ ls.l('Cancel') }}</button>
    <button mat-button class="button-layout button-primary" (click)="onSave()">{{ ls.l('Save') }}</button>
</mat-dialog-actions>
