:host {
    .compact {
        ::ng-deep .dx-texteditor.dx-editor-outlined {
            background-color: transparent;

            dx-text-box {
                background-color: transparent;

                .dx-texteditor-input {
                    border: 0;
                }
            }
        }

        ::ng-deep h1.title {
            font-size: 18px;
            font-weight: 600;
            color: #171c1d;
            padding: 12px 8px;
            line-height: 1.35715;
            margin: 0;
        }
    }

    ::ng-deep dx-drop-down-box {
        input {
            font-size: 16px;
            padding-left: 40px;
        }
        .dx-texteditor-buttons-container {
            left: 0px;
        }
        &.dx-state-disabled {
            opacity: 1!important;
            .dx-texteditor-buttons-container {
                display: none;
            }
        }
    }
}

::ng-deep dx-list[accesskey="account-selector"] {
    .dx-list-item, .dx-texteditor-input {
        width: calc(100% - 13px);
        div.name {
            overflow: hidden;
            text-overflow: ellipsis;
        }
    }
}