:host {
    .calendar {
        @media (min-width: 768px) {
            width: 395px;
        }
    }

    ::ng-deep .date-picker-wrapper {
        z-index: 1;
        background-color: #fff;
        font-size: 14px;
        line-height: 20px;
        color: #aaa;
        font-family: var(--app-font-family) !important;
        box-sizing: initial;

        &.inline-wrapper {
            position: relative;
            box-shadow: none;
            display: inline-block;
        }

        &.single-date {
            width: auto;
        }

        &.no-shortcuts {
            padding-bottom: 12px;
        }

        &.no-topbar {
            padding-top: 12px;
        }

        .footer {
            display: none;
            font-size: 11px;
            padding-top: 3px;
            border-top: 2px solid;
        }

        b {
            color: #666;
            font-weight: 700;
        }

        a {
            color: rgb(107, 180, 214);
            text-decoration: underline;
        }

        .month-name-header,
        .year-number-header {
            text-transform: uppercase;
            cursor: pointer;
        }

        .month-wrapper {
            border-radius: 3px;
            background-color: #fff;
            margin-bottom: 20px;
            padding: 5px;
            cursor: default;
            display: table;
            margin-right: auto;
            margin-left: auto;
            position: relative;
        }

        .month-wrapper table {
            float: left;
        }

        .month-wrapper table.month2 {
            width: 190px;
            float: left;
        }

        .month-wrapper table th,
        .month-wrapper table td {
            vertical-align: middle;
            text-align: center;
            line-height: 14px;
            margin: 0px;
            padding: 0px;
        }

        .month-wrapper table .day {
            width: 15px;
            height: 15px;
            display: inline-block;
            padding: 10px;
            font-size: 14px;
            font-weight: 500;
            line-height: 1.3;
            letter-spacing: 0.8px;
            text-align: center;
            cursor: default;
            box-sizing: content-box;
            @media (min-width: 768px) {
                padding: 13px 14px 15px 14px;
            }
        }

        .month-wrapper table div.day.lastMonth,
        .month-wrapper table div.day.nextMonth {
            color: #999;
            cursor: default;
        }

        .month-wrapper table .day.checked {
            background-color: #e7f7ff;
            color: #00aeef !important;
        }

        .month-wrapper table .day.has-tooltip {
            cursor: help !important;
        }

        .time label {
            white-space: nowrap;
        }

        .month-wrapper table .day.toMonth.valid {
            color: #677380;
            cursor: pointer;
        }

        .month-wrapper table .day.toMonth.invalid {
            color: #DBD7E2;
        }

        .month-wrapper table .day.toMonth.hovering {
            background-color: #e7f7ff;
        }

        .month-wrapper table .day.nextMonth,
        .month-wrapper table .day.lastMonth {
            color: #333;
        }

        .month-wrapper table .day.real-today {
            background-color: rgb(255, 230, 132);
            border-radius: 50%;
        }

        .month-wrapper table .day.real-today.checked,
        .month-wrapper table .day.real-today.hovering {
            background-color: rgb(112, 204, 213);
            border-radius: 0;
        }

        .day.toMonth.valid.real-today {
            &.checked, &.hovering {
                background-color: #e7f7ff !important;
                position: relative;
                z-index: 1;
                &:before {
                    content: '';
                    width: 43px;
                    height: 43px;
                    display: block;
                    position: absolute;
                    top: 0px;
                    left: 0px;
                    background: rgb(255, 230, 132);
                    z-index: -1;
                    border-radius: 50%;
                }
            }
        }

        table .caption {
            height: 41px;
            border-radius: 2px;
            background-color: #f8f9fa;
        }

        table .caption {
            .nextyear i, .prevyear i,
            .next i, .prev i,
            .nextdecade i, .prevdecade i {
                opacity: 0;
            }

            .nextyear, .prevyear,
            .next, .prev,
            .nextdecade, .prevdecade {
                top: 5px;
                height: 41px;
                width: 45px;
                border-radius: 2px;
                position: absolute;
                cursor: pointer;
            }

            .next, .nextyear, .nextdecade {
                background: url(../../../../assets/common/icons/arrow-right.svg) no-repeat center, #f8f9fa;
            }
            .prev, .prevyear, .prevdecade {
                background: url(../../../../assets/common/icons/arrow-left.svg) no-repeat center, #f8f9fa;
            }
            .next, .nextyear, .nextdecade {
                right: 0;
            }
            .prev, .prevyear, .prevdecade {
                left: 0;
            }
            @media (min-width: 768px) {
                .next {
                    right: -35px;
                }
                .nextyear, .nextdecade {
                    right: -26px;
                }
                .prev {
                    left: -35px;
                }
                .prevyear, .prevdecade {
                    left: -26px;
                }
            }
        }

        .gap {
            position: relative;
            z-index: 1;
            width: 15px;
            height: 100%;
            background-color: red;
            font-size: 0;
            line-height: 0;
            float: left;
            top: -5px;
            margin: 0 10px -10px;
            visibility: hidden;
            height: 0;
        }

        .gap .gap-lines {
            height: 100%;
            overflow: hidden;
        }

        .gap .gap-line {
            height: 15px;
            width: 15px;
            position: relative;
        }

        .gap .gap-line .gap-1 {
            z-index: 1;
            height: 0;
            border-left: 8px solid white;
            border-top: 8px solid #eee;
            border-bottom: 8px solid #eee;
        }

        .gap .gap-line .gap-2 {
            position: absolute;
            right: 0;
            top: 0px;
            z-index: 2;
            height: 0;
            border-left: 8px solid transparent;
            border-top: 8px solid white;
        }

        .gap .gap-line .gap-3 {
            position: absolute;
            right: 0;
            top: 8px;
            z-index: 2;
            height: 0;
            border-left: 8px solid transparent;
            border-bottom: 8px solid white;
        }

        .gap .gap-top-mask {
            width: 6px;
            height: 1px;
            position: absolute;
            top: -1px;
            left: 1px;
            background-color: #eee;
            z-index: 3;
        }

        .gap .gap-bottom-mask {
            width: 6px;
            height: 1px;
            position: absolute;
            bottom: -1px;
            left: 7px;
            background-color: #eee;
            z-index: 3;
        }

        .selected-days {
            display: none;
        }

        .drp_top-bar {
            line-height: 1.4;
            position: relative;
            padding: 10px 0px 10px 0;
        }

        .drp_top-bar .error-top {
            display: none;
        }

        .drp_top-bar .normal-top {
            display: none;
        }

        .drp_top-bar .default-top {
            display: block;
        }

        .drp_top-bar.error .default-top {
            display: none;
        }

        .drp_top-bar.error .error-top {
            display: block;
            color: red;
        }

        .drp_top-bar.normal .default-top {
            display: none;
        }

        .drp_top-bar.normal .normal-top {
            display: block;
        }

        .drp_top-bar .apply-btn {
            position: absolute;
            right: 0px;
            top: 6px;
            padding: 3px 5px;
            margin: 0;
            font-size: 12px;
            border-radius: 4px;
            cursor: pointer;
            color: #d9eef7;
            border: solid 1px #0076a3;
            background: #0095cd;
            background: -webkit-gradient(linear, left top, left bottom, from(#00adee), to(#0078a5));
            background: -moz-linear-gradient(top, #00adee, #0078a5);
            filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00adee', endColorstr='#0078a5');
            color: white;
            line-height: initial;
        }

        .drp_top-bar .apply-btn.disabled {
            cursor: pointer;
            color: #606060;
            border: solid 1px #b7b7b7;
            background: #fff;
            background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#ededed));
            background: -moz-linear-gradient(top, #fff, #ededed);
            filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#ededed');
        }

        /*time styling*/

        .time {
            position: relative;
        }

        &.single-month .time {
            display: block;
        }

        .time input[type=range] {
            vertical-align: middle;
            width: 129px;
            padding: 0;
            margin: 0;
            height: 20px;
        }

        .time1,
        .time2 {
            width: 50%;
            padding: 0 5px;
            text-align: center;
        }

        .time1 {
            float: left;
        }

        .time2 {
            float: right;
        }

        .hour,
        .minute {
            text-align: right;
        }

        .hide {
            display: none;
        }

        .month-wrapper table .day.checked.first-date-selected {
            background-size: contain;
            color: white !important;
        }

        .month-wrapper table .day.checked.last-date-selected {
            background-color: #e7f7ff !important;
            background-size: contain;
            color: white !important;
        }
        .month-wrapper table .day.checked.first-date-selected,
        .month-wrapper table .day.checked.last-date-selected {
            background: none;
            background-color: #00aeef !important;
            border-radius: 50%;
            color: #fff;
        }

        .date-range-length-tip {
            position: absolute;
            margin-top: -4px;
            margin-left: -8px;
            box-shadow: 0 0 3px rgba(0, 0, 0, .3);
            display: none;
            background-color: yellow;
            padding: 0 6px;
            border-radius: 2px;
            font-size: 12px;
            line-height: 16px;
            -webkit-filter: drop-shadow(0 0 3px rgba(0, 0, 0, .3));
            -moz-filter: drop-shadow(0 0 3px rgba(0, 0, 0, .3));
            -ms-filter: drop-shadow(0 0 3px rgba(0, 0, 0, .3));
            -o-filter: drop-shadow(0 0 3px rgba(0, 0, 0, .3));
            filter: drop-shadow(0 0 3px rgba(0, 0, 0, .3));
        }

        .date-range-length-tip:after {
            content: '';
            position: absolute;
            border-left: 4px solid transparent;
            border-right: 4px solid transparent;
            border-top: 4px solid yellow;
            left: 50%;
            margin-left: -4px;
            bottom: -4px;
        }

        &.two-months.no-gap .month1 .next,
        &.two-months.no-gap .month2 .prev {
            display: none;
        }

        .week-number {
            padding: 5px 0;
            line-height: 1;
            font-size: 12px;
            margin-bottom: 1px;
            color: #999;
            cursor: pointer;
        }

        .week-number.week-number-selected {
            color: #4499EE;
            font-weight: bold;
        }

        /* New style */
        .month-wrapper table.month1 {
            tbody tr:last-child {
                td[colspan="7"] {
                    display: none;
                }
            }
            border-collapse: initial;
            td.start-selected.end-selected {
                background: none !important;
            }
            td.start-selected {
                background: linear-gradient(to right, #FFF 50%, #e7f7ff 50%);
            }
            td.end-selected {
                background: linear-gradient(to right, #e7f7ff 50%, #FFF 50%);
            }
        }

        .month-wrapper table.month1 tr:first-child th:first-child {
            border-top-left-radius: 5px;
            border-bottom-left-radius: 5px;
        }

        .month-wrapper table.month1 tr:first-child th:last-child {
            border-top-right-radius: 5px;
            border-bottom-right-radius: 5px;
        }
        .month-wrapper table.month1 tr:first-child th.month-name-header,
        .month-wrapper table.year-header tr:first-child th.year-number-header,
        .month-wrapper table.decade-header tr:first-child th.decade-number-header {
            color: #202b35;
            font-size: 14px;
            line-height: 1.3;
            letter-spacing: 0.8px;
            text-align: center;
        }

        .month-wrapper table.month1 tr:first-child th.month-name-header:hover,
        .month-wrapper table.year-header tr:first-child th.year-number-header:hover,
        .month-wrapper table.decade-header tr:first-child th.decade-number-header {
            color: #00aeef;
        }

        .month-wrapper table .week-name th {
            width: 40px;
            height: 40px;
            text-transform: capitalize;
            font-size: 14px;
            font-weight: 600;
            line-height: 1.3;
            letter-spacing: 0.8px;
            text-align: center;
            color: #202b35;
        }

        .topBarDateWrapper .fa.fa-calendar-o {
            font-size: 17px;
            color: #999;
            @media (min-width: 768px) {
                font-size: 22px;
            }
        }

        .topBarDateWrapper .topBarStartDate,
        .topBarDateWrapper .topBarEndDate {
            width: 100px;
            font-size: 16px;
            font-weight: bold;
            color: #999;
            border: none;
            padding: 5px;
            @media (min-width: 768px) {
                margin: 0 10px;
                width: 105px;
            }
        }

        .topBarDateWrapper .arrowToDate {
            margin-right: 5px;
            color: #999;
            @media (min-width: 768px) {
                margin-right: 30px;
            }
        }

        .topBarDateWrapper {
            text-align: center;
            @media (min-width: 768px) {
                padding-left: 5px;
            }
        }

        table.dateSelections {
            margin-right: auto;
            margin-left: auto;

            button {
                width: 116px !important;
                height: 37px !important;
                padding: 0;
                border-radius: 2px;
                background-color: #f9fbfc;
                font-size: 13px;
                font-weight: 500;
                letter-spacing: 0.3px;
                text-align: center;
                color: #686f76;

                &.active, &:active, &:focus {
                    background-color: #e7f7ff;
                    font-size: 13px;
                    letter-spacing: 0.3px;
                    color: #00aeef;
                    outline: 0;
                    box-shadow: 0 0 0 0.2rem rgba(88,163,220,.25);
                }
                &.availableDates {
                    width: 187px!important;
                }
                @media (min-width: 768px) {
                    width: 187px !important;
                }
            }
            @media (min-width: 768px) {
                width: 395px;
            }
        }
        table.dateSelections td {
            text-align: center;
            padding: 5px;
        }
        table.dateSelections td button {
            width: 100%;
        }
        .calendar-wrapper {
            min-width: 320px;
            font-size: 16px;
            padding: 10px;
            display: none;
            font-family: var(--app-font-family) !important;
        }
        .calendar-wrapper .header {
            padding-bottom: 5px;
            border-bottom: 2px solid #ccc;
            margin-bottom: 10px;
        }
        .calendar-wrapper .header .calendar-icon {
            margin-right: 6px;
            font-weight: bold;
        }
        .calendar-wrapper .dateInputInit {
            color: #999;
            cursor: pointer;
        }
        .calendar-wrapper .dateInputInit .selector-icon {
            float: right;
            margin-top: 2px;
        }
        .calendar-wrapper .dateInputSelected {
            color: #999;
            cursor: pointer;
            font-size: 14px;
            font-weight: 600;
            display: none;
            text-align: center;
            margin-top: 5px;
        }
        .calendar-wrapper .dateInputSelected .selectedDateText {
            margin-top: 5px;
            cursor: pointer;
        }
        .calendar-wrapper .dateInputSelected button {
            background-color: #444 !important;
            color: #fff !important;
            padding: 5px 8px;
        }
        .calendar-wrapper .dateInputSelected .prevBtn {
            float: left;
        }
        .calendar-wrapper .dateInputSelected .nextBtn {
            float: right;
        }
        .custom-top {
            min-height: 25px;
        }

        .month-wrapper table {
            width: 245px;
            @media (min-width: 768px) {
                width: auto;
            }
        }

        /* Year view design */
        .month-wrapper table.year-header {
            border-collapse: initial;
            border-color: #aaa;
            width: 100%;
            @media (min-width: 768px) {
                width: 329px;
            }
        }

        .month-wrapper table.year-header tr:first-child th:first-child {
            border-top-left-radius: 5px;
            border-bottom-left-radius: 5px;
            width: 47px;
        }

        .month-wrapper table.year-header tr:first-child th:last-child {
            border-top-right-radius: 5px;
            border-bottom-right-radius: 5px;
            width: 47px;
        }

        .month-wrapper table.yearview {
            clear: both;
            border-color: #aaa;
            @media (min-width: 768px) {
                margin-left: 32px;
            }
        }

        .month-wrapper table.yearview .month {
            padding: 25px 15px;
            line-height: 1;
            font-size: 18px;
            margin-bottom: 1px;
            cursor: default;
            color: #000;
        }

        .month-wrapper table.yearview .month:hover {
            cursor: pointer;
            background-color: #e7f7ff;
            border-radius: 50%;
        }

        .month-wrapper table.yearview .month.selected {
            background: #00aeef;
            border-radius: 50%;
            color: #fff;
        }

        /* Decade view design */
        .month-wrapper table.decade-header {
            border-collapse: initial;
            width: 100%;
            border-color: #aaa;
            @media (min-width: 768px) {
                width: 329px;
            }
        }

        .month-wrapper table.decade-header tr:first-child th:first-child {
            border-top-left-radius: 5px;
            border-bottom-left-radius: 5px;
            width: 47px;
        }

        .month-wrapper table.decade-header tr:first-child th:last-child {
            border-top-right-radius: 5px;
            border-bottom-right-radius: 5px;
            width: 47px;
        }

        .month-wrapper table.decadeview {
            clear: both;
            border-color: #aaa;
            /*border-bottom: 2px solid;*/
            @media (min-width: 768px) {
                margin-left: 34px;
            }
        }

        .month-wrapper table.decadeview .year {
            padding: 22px 10px;
            line-height: 1;
            font-size: 18px;
            margin-bottom: 1px;
            cursor: default;
            color: #000;
        }

        .month-wrapper table.decadeview .year.invalid {
            color: #DBD7E2;
        }

        .month-wrapper table.decadeview .year:hover {
            cursor: pointer;
            background-color: #e7f7ff;
            border-radius: 50%;
        }

        .month-wrapper table.decadeview .year.selected {
            background-color: #00aeef;
            border-radius: 50%;
            color: #fff;
        }

        button {
            color: #000;
        }
    }
}
