:host {
    header {
        background: #fff;
        display: flex;
        top: 0;
        left: 0;
    }

    .full_name h1 {
        font-weight: 400;
        font-family: Montserrat;
        font-size: 28px!important;
        line-height: 1;
        margin-bottom: 0;
        color: #202b35;
        @media (min-width: 768px) {
            margin-top: -2px;
            white-space: nowrap;
        }
    }

    .avatar {
        margin: 0 16px;
        z-index: 1;
        position: relative;
    }

    .avatar img {
        border-radius: 50%;
        height: 54px;
        width: 54px;
        background-color: #fff;
    }

    .avatar .active {
        background: #37d749;
        border-radius: 50%;
        border: 2px solid #f3f7fa;
        width: 14px;
        height: 14px;
        top: 2px;
        right: 2px;
        position: absolute;
    }

    .personal_info {
        display: flex;
        align-items: center;
    }
}
