
.m--full-height {
    height: 100%
}

.m--valign-top {
    vertical-align: top
}

.m--space-5 {
    display: block;
    height: 0;
    margin-bottom: 5px
}

.m--space-10 {
    display: block;
    height: 0;
    margin-bottom: 10px
}

.m--space-15 {
    display: block;
    height: 0;
    margin-bottom: 15px
}

.m--space-20 {
    display: block;
    height: 0;
    margin-bottom: 20px
}

.m--space-30 {
    display: block;
    height: 0;
    margin-bottom: 30px
}

.m--space-40 {
    display: block;
    height: 0;
    margin-bottom: 40px
}

.m--valign-middle {
    vertical-align: middle
}

.m--valign-bottom {
    vertical-align: bottom
}

.m--block-center {
    margin-left: auto;
    margin-right: auto
}

.m--align-right {
    text-align: right
}

.m--align-left {
    text-align: left
}

.m--align-center {
    text-align: center
}

.m--pull-right {
    float: right
}

.m--pull-left {
    float: left
}

.m--img-rounded {
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%
}

.m--block-inline {
    display: inline-block
}

.m--icon-middle:before {
    vertical-align: middle
}

.m--hide {
    display: none !important
}

.m--clearfix:after, .m--clearfix:before {
    content: " ";
    display: table
}

.m--clearfix:after {
    clear: both
}

.m--marginless {
    margin: 0 !important
}

.m--img-centered {
    text-align: center
}

.m--font-transform-u {
    text-transform: uppercase
}

.m--font-transform-l {
    text-transform: lowercase
}

.m--font-transform-c {
    text-transform: capitalize
}

.m--font-transform-i {
    text-transform: initial
}

.m--font-thin {
    font-weight: 200
}

.m--font-normal {
    font-weight: 300
}

.m--font-bold {
    font-weight: 400
}

.m--font-bolder {
    font-weight: 500
}

.m--font-boldest {
    font-weight: 600
}

.m--font-boldest2 {
    font-weight: 700
}

.m--regular-font-size-sm5 {
    font-size: .7rem !important
}

.m--regular-font-size-sm4 {
    font-size: .75rem !important
}

.m--regular-font-size-sm3 {
    font-size: .78rem !important
}

.m--regular-font-size-sm2 {
    font-size: .8rem !important
}

.m--regular-font-size-sm1 {
    font-size: .85rem !important
}

.m--regular-font-size- {
    font-size: 1rem !important
}

.m--regular-font-size-lg1 {
    font-size: 1.1rem !important
}

.m--regular-font-size-lg2 {
    font-size: 1.2rem !important
}

.m--regular-font-size-lg3 {
    font-size: 1.3rem !important
}

.m--regular-font-size-lg4 {
    font-size: 1.5rem !important
}

.m--regular-font-size-lg5 {
    font-size: 1.6rem !important
}

.m--icon-font-size-sm5 {
    font-size: .8rem !important
}

.m--icon-font-size-sm4 {
    font-size: .9rem !important
}

.m--icon-font-size-sm3 {
    font-size: 1rem !important
}

.m--icon-font-size-sm2 {
    font-size: 1.1rem !important
}

.m--icon-font-size-sm1 {
    font-size: 1.2rem !important
}

.m--icon-font-size- {
    font-size: 1.3rem !important
}

.m--icon-font-size-lg1 {
    font-size: 1.4rem !important
}

.m--icon-font-size-lg2 {
    font-size: 1.6rem !important
}

.m--icon-font-size-lg3 {
    font-size: 1.8rem !important
}

.m--icon-font-size-lg4 {
    font-size: 2rem !important
}

.m--icon-font-size-lg5 {
    font-size: 2.1rem !important
}

b, strong {
    font-weight: 700
}

.m--font-brand {
    color: #6aa0ca !important
}

.m--font-inverse-brand {
    color: #fff !important
}

.m--bg-brand {
    background-color: #6aa0ca !important
}

.m--bg-fill-brand {
    background-color: #6aa0ca !important;
    color: #fff !important
}

.m--font-metal {
    color: #c4c5d6 !important
}

.m--font-inverse-metal {
    color: #fff !important
}

.m--bg-metal {
    background-color: #c4c5d6 !important
}

.m--bg-fill-metal {
    background-color: #c4c5d6 !important;
    color: #fff !important
}

.m--font-light {
    color: #fff !important
}

.m--font-inverse-light {
    color: #27333c !important
}

.m--bg-light {
    background-color: #fff !important
}

.m--bg-fill-light {
    background-color: #fff !important;
    color: #27333c !important
}

.m--font-accent {
    color: #00c5dc !important
}

.m--font-inverse-accent {
    color: #fff !important
}

.m--bg-accent {
    background-color: #00c5dc !important
}

.m--bg-fill-accent {
    background-color: #00c5dc !important;
    color: #fff !important
}

.m--font-focus {
    color: #9816f4 !important
}

.m--font-inverse-focus {
    color: #fff !important
}

.m--bg-focus {
    background-color: #9816f4 !important
}

.m--bg-fill-focus {
    background-color: #9816f4 !important;
    color: #fff !important
}

.m--font-primary {
    color: #58a3dc !important
}

.m--font-inverse-primary {
    color: #fff !important
}

.m--bg-primary {
    background-color: #58a3dc !important
}

.m--bg-fill-primary {
    background-color: #58a3dc !important;
    color: #fff !important
}

.m--font-success {
    color: #34bfa3 !important
}

.m--font-inverse-success {
    color: #fff !important
}

.m--bg-success {
    background-color: #34bfa3 !important
}

.m--bg-fill-success {
    background-color: #34bfa3 !important;
    color: #fff !important
}

.m--font-info {
    color: #36a3f7 !important
}

.m--font-inverse-info {
    color: #fff !important
}

.m--bg-info {
    background-color: #36a3f7 !important
}

.m--bg-fill-info {
    background-color: #36a3f7 !important;
    color: #fff !important
}

.m--font-warning {
    color: #ffb822 !important
}

.m--font-inverse-warning {
    color: #111 !important
}

.m--bg-warning {
    background-color: #ffb822 !important
}

.m--bg-fill-warning {
    background-color: #ffb822 !important;
    color: #111 !important
}

.m--font-danger {
    color: #f4516c !important
}

.m--font-inverse-danger {
    color: #fff !important
}

.m--bg-danger {
    background-color: #f4516c !important
}

.m--bg-fill-danger {
    background-color: #f4516c !important;
    color: #fff !important
}
