:host {
    display: block;
    position: relative;
    background: #fff;
    padding: 30px;
    margin-top: 30px;

    header {
        display: flex;
        margin-bottom: 18px;
        align-items: center;
        flex-wrap: wrap;
    }

    .title {
        font-size: 22px;
        font-weight: bold;
        color: #212c36;
        margin-bottom: 0;
        line-height: 48px;
    }
}
