<action-menu [width]="hasManagePaymentsPermission ? '200px' : '150px'"
    [items]="actionMenuItems"
    target=""
    (onItemClick)="onMenuItemClick($event)">
</action-menu>
<dx-data-grid
    height="95%"
    class="alone main-component-view"
    keyExpr="id"
    [pager]="{visible: false}"
    [paging]="{enabled: false}"
    [dataSource]="orderSubscriptions"
    [allowColumnReordering]="false"
    [columnAutoWidth]="true"
    [allowColumnResizing]="false">
    <dxo-scrolling mode="infinite"></dxo-scrolling>

    <dxi-column caption="" cellTemplate="imageTemplate" width="80px"></dxi-column>

    <dxi-column dataField="productName" [caption]="l('ProductName')"></dxi-column>

    <dxi-column dataField="paymentPeriodType" [caption]="l('PaymentPeriod')"></dxi-column>

    <dxi-column dataField="trialEndDate" [caption]="l('Trial End Date')" cellTemplate="dateTimeTemplate"></dxi-column>

    <dxi-column dataField="statusCode" [allowResizing]="false" [caption]="l('Status')" cellTemplate="statusCell" width="100px"></dxi-column>

    <dxi-column dataField="endDate" [allowResizing]="false" cellTemplate="dateTimeTemplate" width="100px" cssClass="tabular"></dxi-column>

    <dxi-column *ngIf="hasManagePaymentsPermission" [caption]="l('LastPaymentHeader')" width="200px" cellTemplate="lastPaymentCell"></dxi-column>

    <dxi-column
        alignment="center"
        width="50px"
        cellTemplate="actionCell"
        [allowResizing]="false">
    </dxi-column>

    <div *dxTemplate="let cellData of 'imageTemplate'" class="product-icon">
        <img width="auto" height="64px" [src]="cellData.data.productThumbnailUrl" onerror="this.src='assets/common/images/product.png'">
    </div>

    <div *dxTemplate="let cellData of 'dateTimeTemplate'" class="date-box">
        <span *ngIf="cellData.value" class="date-time" title="{{cellData.value | datetime: formatting.dateTimeMoment}}">{{cellData.value | datetime: formatting.dateMoment}}</span>
    </div>

    <div *dxTemplate="let cellData of 'statusCell'" class="status {{isExpired(cellData) ? 'E' : cellData.value}}">
        {{cellData.value == 'A' ? l(isExpired(cellData) ? 'Expired' : 'Active') : (cellData.value == 'D' ? l('Draft') : l('Cancelled'))}}
    </div>

    <div *dxTemplate="let cellData of 'lastPaymentCell'">
        <div *ngIf="subscriptionLastPaymentInfos[cellData.data.id]">
            <div [ngSwitch]="subscriptionLastPaymentInfos[cellData.data.id].type" class="payment-method">
                <ng-container *ngSwitchCase="paymentMethodsTypes.BankCard">
                    <div class="paymentMethodIcon">
                        <img [src]="'./assets/common/images/payments/card-logo/' + getCardType(subscriptionLastPaymentInfos[cellData.data.id].bankCardInfo) + '.svg'">
                    </div>
                    <div>
                        <div class="paymentName">
                            {{ subscriptionLastPaymentInfos[cellData.data.id].bankCardInfo.cardNumber }}
                        </div>
                        <div class="paymentExpiration">{{ l('Expires') + ' ' + subscriptionLastPaymentInfos[cellData.data.id].bankCardInfo.expirationMonth + '/' + subscriptionLastPaymentInfos[cellData.data.id].bankCardInfo.expirationYear }}</div>
                    </div>
                </ng-container>
                <ng-container *ngSwitchCase="paymentMethodsTypes.PayPal">
                    <div class="paymentMethodIcon">
                        <img [src]="'./assets/common/images/payments/card-logo/paypal.svg'">
                    </div>
                    <div>
                        <div class="paymentName" title="{{ subscriptionLastPaymentInfos[cellData.data.id].payPalInfo.email || l('PayPal') }}">
                            {{ subscriptionLastPaymentInfos[cellData.data.id].payPalInfo.email || l('PayPal') }}
                        </div>
                    </div>
                </ng-container>
                <ng-container *ngSwitchCase="paymentMethodsTypes.ACH">
                    <div class="achPaymentMethodIcon paymentMethodIcon">{{ l('eCheck') }}</div>
                    <div>
                        <div class="paymentName" title="{{ subscriptionLastPaymentInfos[cellData.data.id].achCustomerInfo.bankName + ' ' + subscriptionLastPaymentInfos[cellData.data.id].achCustomerInfo.accountNumber }}">
                            {{ subscriptionLastPaymentInfos[cellData.data.id].achCustomerInfo.bankName + ' ' + subscriptionLastPaymentInfos[cellData.data.id].achCustomerInfo.accountNumber }}
                        </div>
                    </div>
                </ng-container>
            </div>
        </div>
    </div>

    <div *dxTemplate="let cellData of 'actionCell'">
        <a *ngIf="cellData.data.statusCode == 'A'" (click)="toggleActionsMenu($event, cellData.data)" class="dx-link dx-link-edit"></a>
    </div>
</dx-data-grid>
<div *ngIf="(paymentService?.addOnConfig$ | async)?.length"><a href="javascript:void(0);" (click)="showAddOnProducts()">{{l('ClickAddOnFeaturesMessage')}}</a></div>