<dx-tooltip height="410"
            [target]="targetSelector"
            [(visible)]="tooltipVisible">
    <div *dxTemplate="let data of 'content'">
        <div class="tags-tooltip-container">
            <div class="actions clearfix">
                <span class="title">{{ls.l('Toolbar_Tags')}}</span>
                <span class="filter-clear" [hidden]="!filterModel?.items?.element?.value?.length" (click)="clearFilterIfSelected()">{{ls.l('ClearFilter')}}</span>
                <div [hidden]="hideButtons || bulkUpdateMode">
                    <span class="filter-clear" [class.disabled]="!isManageAllowed()" (click)="clear()">{{ls.l('Remove')}}</span>
                    <span class="filter-apply" [class.disabled]="!isManageAllowed()" (click)="apply()">{{ls.l('Apply')}}</span>
                </div>
                <div [hidden]="hideButtons || !bulkUpdateMode || !selectedKeys?.length">
                    <span class="filter-clear" [class.disabled]="!isManageAllowed()" (click)="apply(true)">{{ls.l('Remove')}}</span>
                    <span class="filter-apply" [class.disabled]="!isManageAllowed() || !tagslist.selectedRowKeys?.length" (click)="apply()">{{ls.l('Add')}}</span>
                </div>
            </div>
            <dx-tree-list #tagslist
                width="300px"
                height="350px"
                keyExpr="id"
                parentIdExpr="parent"
                [rootValue]="0"
                [noDataText]="ls.l('AddNewTag')"
                [showColumnLines]="false"
                [showColumnHeaders]="false"
                [searchPanel]="{ visible: true, placeholder: ls.l('Search'), width: 260 }"
                [selection]="{ allowSelectAll: false, mode: isManageAllowed() ? 'multiple' : 'none' }"
                [selectedRowKeys]="selectedTags"
                [(dataSource)]="list"
                (onRowClick)="onRowClick($event)"
                (onInitialized)="onInitialized($event)"
                (onInitNewRow)="onInitNewRow($event)"
                (onRowUpdating)="onRowUpdating($event)"
                (onRowInserting)="onRowInserting($event)"
                (onSelectionChanged)="onSelectionChanged($event)"
                (onCellPrepared)="onCellPrepared($event)"
                (onContentReady)="onContentReady($event)"
                (onRowInserted)="onRowInserted($event)"
                (onEditorPrepared)="editorPrepared($event)"
                [ngClass]="isManageAllowed() ? 'add-new-item-mode' : ''">
                <dxi-column dataField="name" [sortingMethod]="customSortingMethod" [sortIndex]="0" sortOrder="asc"></dxi-column>
                <dxo-editing mode="row"
                    [texts]="{ confirmDeleteMessage: '' }"
                    [allowUpdating]="true"
                    [allowDeleting]="isUpdateDeleteAllowed"
                    [allowAdding]="isManageAllowed()">
                </dxo-editing>
            </dx-tree-list>
        </div>
    </div>
</dx-tooltip>
