::ng-deep cancel-subscription-dialog {
    .mat-dialog-content {
        .mat-form-field-infix,
        .mat-form-field {
            width: 100%;
        }
    }

    .mat-dialog-actions {
        justify-content: center;
    }
        .dx-radiogroup {
        margin: 10px 0;

        .dx-item-content {
            font-size: 14px;
            color: #333;

            .end-date {
                font-weight: 400;
                font-style: italic;
            }
        }
    }

    .cancellation-date-warning {
        color: orange;
        font-style: italic;
        margin: 10px 0;
    }
}

