:host {
    .card-text-footer {
        font-family: 'AktivGroteskW01-Regular', sans-serif !important;
        font-size: 13px;
        line-height: 1.77;
        letter-spacing: -0.26px;
        color: #959494;
        text-align: center;
        margin-bottom: 13px !important;
    }
}
