:host {
    ::ng-deep .dx-selectbox {
        background: #fff;
        border-radius: 22px;
        border: 1px solid #e5e9ec!important;
        padding: 0 10px;
        height: 39px;

        .dx-texteditor-input,
        input.form-control,
        .dx-widget .dx-dropdowneditor-icon {
            color: #686f76;
        }

        .dx-texteditor-input:read-only {
            text-align: center;
        }

        .dx-texteditor-input, input.form-control {
            color: #677380;
            font-size: 14px;
            font-weight: 300;
            letter-spacing: 0.2px;
            line-height: 24px;
            padding: 0 16px 0 0 ;
            background-color: transparent;
            min-height: 24px;
            text-align: right;
            border: 0;
        }

        .dx-dropdowneditor-button {
            width: 10px;
            padding: 0;
            border-radius: 0;

            .dx-dropdowneditor-icon {
                background-color: transparent !important;
                &::before {
                    font-size: 14px;
                    content: '\f0d7' !important;
                    font-family: FontAwesome !important;
                }
            }
        }

        @media (max-width: 768px) {
            height: 32px;
            padding: 0 5px;
        }
    }
}
