:host {
    header {
        position: relative;
        h1 {
            font-family: Poppins;
            font-size: 13px;
            font-weight: 500;
            font-stretch: normal;
            font-style: normal;
            line-height: 2.67;
            letter-spacing: -0.27px;
            text-align: left;
            color: #010043;
            position: absolute;
            top: 0px;
            z-index: 1;
            left: 35px;
        }
        button {
            height: 27px;
            padding: 0px 12px;
            background-color: #e7ebef;
            position: absolute;
            border-radius: 4px;
            cursor: pointer;
            border: none;
            z-index: 1;
            right: 25px;
            top: 2px;
            font-size: 12px;
            font-weight: normal;
            font-stretch: normal;
            font-style: normal;
            line-height: normal;
            letter-spacing: -0.16px;
            text-align: right;
            color: #010043;
        }
    }

    .grid {
        max-width: calc(100vw - 343px);

        ::ng-deep dx-data-grid {
            width: calc(100% - 50px);
            height: calc(100vh - 310px);
            margin: 0 25px;

            .dx-toolbar {
                height: 40px;
                .dx-datagrid-group-panel {
                    height: 28px;
                    width: 100%!important;
                    text-align: center;
                    background-color: #f4f6f8;
                }
            }
            .dx-group-panel-message {
                width: 360px;
                text-align: right;
                display: inline-block;
                margin: 3px 0 0;
                background: transparent;
                font-size: 12px;
                font-weight: normal;
                font-stretch: normal;
                font-style: normal;
                line-height: 1.8;
                letter-spacing: normal;
                color: #6a6a6a;
                border: none;
                &::before {
                    content: url(../../../../assets/common/icons/move-2.svg);
                    position: relative;
                    top: 3px;
                    right: 5px;
                }
            }

            .dx-datagrid-headers {
                border: 0px;
                .dx-datagrid-content {
                    border-color: #eae7e1;
                }
                .dx-datagrid-text-content {
                    text-transform: capitalize;
                    font-size: 11px;
                    font-weight: 500;
                    font-stretch: normal;
                    font-style: normal;
                    line-height: 1.69;
                    letter-spacing: -0.16px;
                    text-align: left;
                    color: #0a0850;
                }
                .dx-column-indicators {
                    .dx-sort-down:before, .dx-sort-up:before {
                        background: url('../../../../assets/common/icons/sort-up-blue.svg') no-repeat center;
                    }
                }
            }

            .dx-datagrid-rowsview {
                border: 0px;
            }

            .dx-datagrid-pager {
                border: 0px;

                .dx-page-size {
                    width: 30px;
                    height: 30px;
                    border: 0px;
                    padding: 7px;
                    font-size: 11px;
                    font-weight: normal;
                    font-stretch: normal;
                    font-style: normal;
                    line-height: normal;
                    letter-spacing: -0.24px;
                    text-align: center;
                    color: #908d87;

                    &.dx-selection {
                        border-radius: 50%;
                        background-color: #02008a;
                        color: #FFF!important;
                    }
                }

                .dx-page {
                    width: 30px;
                    height: 30px;
                    border: 0px;
                    padding: 7px;
                    font-size: 11px;
                    font-weight: normal;
                    font-stretch: normal;
                    font-style: normal;
                    line-height: normal;
                    letter-spacing: -0.24px;
                    text-align: center;
                    color: #908d87;
                    &.dx-selection {
                        border-radius: 50%;
                        background-color: #02008a;
                        color: #FFF!important;
                    }
                }
            }
        }
    }
}