:host {
    padding-top: 40px;
    display: block;
    .total {
        display: flex;
        align-items: center;
        justify-content: center;
        .labels {
            margin-right: 30px;
        }
    }
    .search {
        display: flex;
        justify-content: flex-end;
    }
}