<div class="grid">
    <header>
        <h1>{{ ls.l('Referral.CommissionHistoryTitle') }}</h1>
        <button (click)="downloadReport()">{{ ls.l('Referral.DownloadTheReport') }}</button>
    </header>
    <div class="grid-container">
        <begin-overlay text="Coming Soon...." subText="Your commission activity is being imported and will be shown here once the report is ready."></begin-overlay>
        <dx-data-grid class="commission-history-grid main-component-view limitedPagerTotal"
                      accesskey="narrowHeaderPanel"
                      [renderAsync]="true"
                      [allowColumnReordering]="false"
                      [columnAutoWidth]="true"
                      [dataSource]="dataSource"
                      [allowColumnResizing]="true"
                      [hoverStateEnabled]="true"
                      [showBorders]="true"
                      [loadPanel]="{ enabled: false }"
                      [remoteOperations]="{
                        filtering: false,
                        grouping: false,
                        groupPaging: true,
                        paging: true,
                        sorting: true,
                        summary: true
                      }"
                      [pager]="defaultGridPagerConfig"
                      (onDataErrorOccurred)="httpInterceptor.handleError($event.error)">
            <dxo-scrolling rowRenderingMode="virtual"></dxo-scrolling>
            <dxi-column [dataField]="commissionFields.OrderDate"
                        [caption]="ls.l('Referral.OrderDate')"
                        [width]="160"
                        sortOrder="desc"
                        cssClass="clipboard-holder"
                        [calculateCellValue]="calculateDateValue">
            </dxi-column>
            <dxi-column [dataField]="commissionFields.OrderNumber"
                        alignment="left"
                        [width]="100"
                        [caption]="ls.l('Referral.OrderId')"
                        cssClass="clipboard-holder">
            </dxi-column>
            <dxi-column [dataField]="commissionFields.CustomerName"
                        [caption]="ls.l('Referral.CustomerName')"
                        cssClass="clipboard-holder">
            </dxi-column>
            <dxi-column [dataField]="commissionFields.ProductName"
                        [caption]="ls.l('Referral.ProductName')"
                        [width]="150"
                        cssClass="clipboard-holder">
            </dxi-column>
            <dxi-column [dataField]="commissionFields.ProductAmount"
                        [caption]="ls.l('Referral.SaleAmount')"
                        cellTemplate="amountCell"
                        [calculateCellValue]="calculateSaleAmountValue"
                        [width]="185"
                        cssClass="padding-right">
            </dxi-column>
            <dxi-column [dataField]="commissionFields.CommissionAmount"
                        [caption]="ls.l('Referral.Commission')"
                        cellTemplate="amountCell"
                        [calculateCellValue]="calculateCommissionAmountValue"
                        [width]="185"
                        cssClass="padding-right">
            </dxi-column>
            <dxi-column [dataField]="commissionFields.Status"
                        [caption]="ls.l('Referral.Status')"
                        cellTemplate="statusCell"
                        cssClass="padding-right">
            </dxi-column>
            <dxo-sorting mode="multiple"></dxo-sorting>
            <dxo-paging [pageSize]="20"></dxo-paging>
            <div *dxTemplate="let cellData of 'amountCell'" class="clipboard-holder">
                <span class="amountCell"
                      [ngStyle]="{color: cellData.column.field === commissionFields.CommissionAmount ? getCellColor(cellData.row.data) : '' }">
                    {{ cellData.value }}
                </span>
            </div>
            <div *dxTemplate="let cellData of 'statusCell'" class="clipboard-holder">
                <span [ngStyle]="{ color: getCellColor(cellData.row.data) }">{{ cellData.value }}</span>
            </div>
        </dx-data-grid>
    </div>
</div>