<ul class="area-navigation" *ngIf="inlineMemberAreaLinks.length" #linksList>
    <li *ngFor="let item of inlineMemberAreaLinks"
        class="app-list-item"
        routerLinkActive="active"
        [hidden]="item.hidden"
        (mouseenter)="navigationItemEnter($event, item)"
        (mouseleave)="navigationItemLeave($event)">
        <ng-container *ngIf="item.url; else internalBlock">
            <a [href]="item.url">{{ls.l(item.name)}}</a>
        </ng-container>
        <ng-template #internalBlock>
            <a routerLinkActive="active"
               [href]="item.hrefUrl"
               [ngClass]="{ active: currentUrl === item.routerUrl, disabled: !item.url && !item.routerUrl && (!item.sublinks || !item.sublinks.length)}"
               [routerLinkActiveOptions]="{exact:true}"
               (click)="handleLinkClick($event, item)">
               {{ls.l(item.name)}} <span *ngIf="item.sublinks && item.sublinks.length" class="dropdown-mark"></span>
            </a>
        </ng-template>
        <ul *ngIf="item.sublinks && item.sublinks.length" class="sublinks" #sublinks>
            <li *ngFor="let sublink of item.sublinks" [hidden]="sublink.hidden">
                <a [routerLink]="sublink.routerUrl"
                   routerLinkActive="active"
                   [routerLinkActiveOptions]="{exact:true}"
                   #simlink>
                    <span *ngIf="sublink.namePrefix">{{ls.l(sublink.namePrefix)}}</span>{{ls.l(sublink.name)}}
                </a>
            </li>
        </ul>
    </li>
</ul>

<div class="dropdown" *ngIf="responsiveMemberAreaLinks.length">
    <button class="btn btn-secondary" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true"
            aria-expanded="false">
        <span class="navbar-toggler-icon"></span>
    </button>
    <ul class="app-responsive-menu dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton">
        <li *ngFor="let item of responsiveMemberAreaLinks" routerLinkActive="active" [hidden]="item.hidden">
            <ng-container *ngIf="item.url; else internalBlock">
                <a [href]="item.url" class="dropdown-item">{{ls.l(item.name)}}</a>
            </ng-container>
            <ng-template #internalBlock>
                <a routerLinkActive="active"
                   [ngClass]="item.class"
                   [routerLinkActiveOptions]="{exact:true}"
                   [routerLink]="item.routerUrl || item.sublinks && item.sublinks[0].routerUrl"
                   class="dropdown-item"
                   [class.disable]="item.disabled || !item.url && !item.routerUrl && (!item.sublinks || !item.sublinks.length)">
                    {{ls.l(item.name)}}
                </a>
            </ng-template>
            <ul *ngIf="item.sublinks && item.sublinks.length" class="responsive-sublinks">
                <li *ngFor="let sublink of item.sublinks" [hidden]="sublink.hidden">
                    <a [routerLink]="sublink.routerUrl" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">
                        <span *ngIf="sublink.namePrefix">{{ls.l(sublink.namePrefix)}}</span>{{ls.l(sublink.name)}}
                    </a>
                </li>
            </ul>
        </li>
    </ul>
</div>

<ul class="right-actions" *ngIf="!loggedUserId">
    <li class="right-actions--item" *ngFor="let link of actionsButtons">
        <a [href]="link.url" class="left-menu--link"
           [ngClass]="link.class"
           [class.disable]="link.disabled">
            <span>{{ls.l(link.name)}}</span>
        </a>
    </li>
</ul>
