::ng-deep .dx-datagrid-rowsview,
::ng-deep .dx-datagrid-total-footer {
    .dx-datagrid-content table:first-child {
        .clipboard-holder {
            position: relative;
            padding-right: 25px!important;
            &:hover > i.save-to-clipboard {
                display: initial;
            }
            & > i.save-to-clipboard {
                display: none;
                cursor: pointer;
                position: absolute;
                top: calc((100% - 15px) / 2);
            }
            &.fixed-right > i.save-to-clipboard {
                right: 5px;
            }
        }
    }
}