<dx-tooltip height="410"
            [target]="targetSelector"
            [(visible)]="tooltipVisible">
    <div *dxTemplate="let data of 'content'">
        <div class="lists-tooltip-container">
            <div class="actions clearfix">
                <span class="title">{{l('Lists')}}</span>
                <span class="filter-clear" [hidden]="!filterModel?.items?.element?.value?.length" (click)="clearFilterIfSelected()">{{l('ClearFilter')}}</span>
                <div [hidden]="hideButtons || bulkUpdateMode">
                    <span class="filter-clear" [class.disabled]="!isManageAllowed()" (click)="clear()">{{l('Remove')}}</span>
                    <span class="filter-apply" [class.disabled]="!isManageAllowed()" (click)="apply()">{{l('Apply')}}</span>
                </div>
                <div [hidden]="hideButtons || !bulkUpdateMode || !selectedKeys?.length">
                    <span class="filter-clear" [class.disabled]="!isManageAllowed()" (click)="apply(true)">{{l('Remove')}}</span>
                    <span class="filter-apply" [class.disabled]="!isManageAllowed() || !listslist.selectedRowKeys?.length" (click)="apply()">{{l('Add')}}</span>
                </div>
            </div>
            <dx-tree-list #listslist
                width="300px"
                height="350px"
                keyExpr="id"
                parentIdExpr="parent"
                [rootValue]="0"
                [showColumnLines]="false"
                [showColumnHeaders]="false"
                [searchPanel]="{visible: true, placeholder: l('Search'), width: 260}"
                [selection]="{allowSelectAll: false, mode: isManageAllowed() ? 'multiple' : 'none' }"
                [selectedRowKeys]="selectedLists"
                [(dataSource)]="list"
                (onRowClick)="onRowClick($event)"
                (onInitialized)="onInitialized($event)"
                (onInitNewRow)="onInitNewRow($event)"
                (onRowUpdating)="onRowUpdating($event)"
                (onRowInserting)="onRowInserting($event)"
                (onCellPrepared)="onCellPrepared($event)"
                (onContentReady)="onContentReady($event)"
                (onRowInserted)="onRowInserted($event)"
                (onEditorPrepared)="editorPrepared($event)"
                (onSelectionChanged)="onSelectionChange($event)"
                [ngClass]="isManageAllowed() ? 'add-new-item-mode' : ''">
                <dxi-column dataField="name" [sortingMethod]="customSortingMethod" [sortIndex]="0" sortOrder="asc"></dxi-column>
                <dxo-editing mode="row"
                    [texts]="{confirmDeleteMessage: ''}"
                    [allowUpdating]="true"
                    [allowDeleting]="isUpdateDeleteAllowed"
                    [allowAdding]="isManageAllowed()">
                </dxo-editing>
            </dx-tree-list>
        </div>
    </div>
</dx-tooltip>