<div class="left">
    <div class="stepsList">
        <ul>
            <li *ngFor="let step of steps; let i = index" [ngClass]="{ 'active': step.active }">
                <div class="label" [ngClass]="{ 'completed': step.completed }"><span>{{ i + 1 }}</span></div>
                <div class="stepName">
                    <p>{{ step.name }}</p>
                    <button *ngIf="step.editable" (click)="goToStep(i)">{{ l('Change') }}</button>
                </div>
            </li>
        </ul>
    </div>
    <div class="securedInfo">
        <img [src]="'./assets/common/icons/secured-shield.svg'" />
        <p>{{ l('SecuredAndEncryptedPaymentMessage') }}</p>
    </div>
    <div class="orderSummary">
        <div class="orderSummaryTitle">
            <h3>{{ l('PaymentOrderSummary').toUpperCase() }}</h3>
            <hr>
        </div>

        <h4 class="planName">{{ plan.productName }}</h4>
        <div class="trial-day-count" *ngIf="plan.trialDayCount || plan.signUpFee">
            <ng-container *ngIf="plan.trialDayCount; else signupBlock">
                <span *ngIf="plan.signUpFee; else free">{{ plan.currencySymbol  || '$'}}{{plan.signUpFee | customNumber: '1.0-0' | currency: 'USD' : '' : '1.0-0'}}</span> for {{plan.trialDayCount}}* day(s) then
                <ng-template #free>{{l('Free')}}</ng-template>
            </ng-container>
            <ng-template #signupBlock>
                <span>{{ plan.currencySymbol  || '$'}}{{plan.signUpFee | customNumber: '1.0-0' | currency: 'USD' : '' : '1.0-0'}}</span> signup fee
            </ng-template>
        </div>
        <div *ngIf="plan.total" class="usersAmountAndBilledInfo">
            <!-- span>{{ l('Price') }}: </span -->
            <span>{{ (plan.currencySymbol || '$') + (applyCoupon(plan.total) | number : '1.2-2') }} </span><span>{{ getProductUnit(plan) }}</span>
            <div class="coupon-info" *ngIf="couponInfo && plan.total != 0">
                <div class="save-line">You saved: {{plan.currencySymbol}}{{getDiscount() | number : '1.0-2'}}</div>
            </div>
        </div>
        <div *ngIf="plan.total && plan.pricePerUserPerMonth" class="planPrice">
            <div>
                <span class="currency">{{ plan.currencySymbol || '$' }}</span>
                <span class="numberPrice">{{ plan.pricePerUserPerMonth | customNumber : '1.0-0' }}</span>
                <span class="decimalsPrice">{{ plan.pricePerUserPerMonth | customNumber : '0.2-2' }}</span>
            </div>
            <span class="perMonthText">{{ l('UserPerMonth') }}</span>
        </div>
        <div *ngIf="plan.usersAmount" class="usersAmountAndBilledInfo">
            <span>{{ l('usersAmountInfo', plan.usersAmount) }}</span>
            <span *ngIf="plan.total">, {{ l('billedInfo', getBillingTerm(plan.billingPeriod)) }}</span>
        </div>
        <div class="calculations" [ngClass]="{ hidden: !plan?.discount }">
            <div>
                <span>{{ l('Subtotal') }}</span>
                <span class="subtotalPrice">{{ (plan.currencySymbol || '$') + (plan.subtotal | number : '1.2-2') }}</span>
            </div>
            <div>
                <span>{{ l('Discount') }}</span>
                <span>{{ plan.discount }}%</span>
            </div>
        </div>
        <div class="input name__input" *ngIf="plan.total != 0">
            <label class="coupon">
                Coupon
            </label>
            <div class="coupon-row">
                <div class="coupon-input">
                    <input type="text" placeholder="" name="coupon" maxlength="36" [(ngModel)]="couponCode"
                           (change)="couponChange()" [attr.disabled]="couponLoading || couponInfo ? true : null">
                    <i *ngIf="couponInfo" class="fa fa-close" (click)="clearCoupon()"></i>
                </div>
                <i *ngIf="couponLoading" class="fa fa-spinner fa-spin"></i>
                <button class="button_global button_global_green" [ngClass]="{disabled: !couponCode || couponLoading}" (click)="loadCouponInfo()">Apply</button>
            </div>
            <div *ngIf="couponInfo" class="applied-coupon">Applied {{couponInfo['description']}}</div>
            <div *ngIf="showCouponError" class="error-coupon">Coupon is invalid</div>
        </div>

        <!-- div class="total">
        <span>{{ l('Total') }}</span>
        <span>{{ (plan.currencySymbol || '$') + (plan.total | number : '1.2-2') }}</span>
    </div -->
    </div>
</div>
<div class="right">
    <div class="header">
        <h2 [ngClass]="{ hidden: !plan?.total }">{{ l('ChoosePaymentOption') }}</h2>
        <div class="phoneBlock">
            <img [src]="'./assets/common/icons/talking.svg'" />
            <div>
                <p class="tip">{{ l('HaveAQuestionCall') }}</p>
                <p class="phoneNumber">{{ phoneNumber }}</p>
            </div>
        </div>
        <!-- button (click)="close()"></button -->
    </div>
    <div class="paymentMethods">
        <ng-container *ngIf="plan.total">
            <div *ngIf="hasAnyPaymentSystem == false" class="no-payment-systems">
                <h2>Payment systems are not configured</h2>
            </div>
            <mat-tab-group *ngIf="hasAnyPaymentSystem == true" [(selectedIndex)]="selectedGateway" (selectedTabChange)="selectedTabChange($event)">
                <mat-tab *ngIf="showStripe" [label]="l('Stripe')">
                    <div class="stripe-wrap">
                        <p class="stripe-text">
                            You will be redirected to Stripe payment page
                        </p>
                        <button [disabled]="isPayByStripeDisabled" class="pay-by-stripe" (click)="payByStripe()">Pay</button>
                    </div>
                </mat-tab>
                <mat-tab *ngIf="showPayPal && !isOnceCoupon()" [label]="l('PayPal')">
                    <ng-template mat-tab-label="">
                        <img [src]="'./assets/common/icons/paypal-logo.png'">
                    </ng-template>
                    <pay-pal *ngIf="paymentSystemSettings.paypalClientId && selectedGateway == GATEWAY_PAYPAL"
                             [productId]="plan.productId"
                             [currencyId]="plan.currencyId"
                             [paymentPeriodType]="plan.paymentPeriodType"
                             [quantity]="quantity"
                             [couponInfo]="couponInfo"
                             [clientId]="paymentSystemSettings.paypalClientId"
                             (onSubmit)="submitData($event, paymentMethods.PayPal)">
                    </pay-pal>
                </mat-tab>

            <!--<mat-tab [label]="l('CreditCard')">
                <credit-card (onSubmit)="submitData($event, paymentMethods.CreditCard)"></credit-card>
            </mat-tab>-->
            <!-- mat-tab [label]="l('eCheck')" -->
            <!-- e-check [price]="plan.total" (onSubmit)="submitData($event, paymentMethods.eCheck)"></e-check -->
            <!-- /mat-tab -->
            <!-- <mat-tab [label]="l('BankTransfer')">
                <bank-transfer *ngIf="bankTransferSettings$"
                               [bankTransferSettings]="bankTransferSettings$ | async"
                               (onSubmit)="submitData($event, paymentMethods.BankTransfer)">
                </bank-transfer>
            </mat-tab> -->
            <!--<mat-tab [label]="l('Bitcoin')">-->
            <!--<div class="row align-items-center h-100">-->
            <!--<div class="col-12 text-center">-->
            <!--<h4>{{ l("This payment option will be available soon") }}</h4>-->
            <!--</div>-->
            <!--</div>-->
            <!--</mat-tab>-->
            </mat-tab-group>
        </ng-container>
        <div *ngIf="!plan.total" class="freeBlock">
            <h2>Are you sure you want to subscribe to {{plan.productName}}?</h2>
            <button class="btn btn-layout" (click)="subscribeToFree()">Confirm</button>
        </div>
    </div>
</div>
