:host {
    .wrapper { 
        padding-bottom: 100px;   
    }

    .range-values{
      font-size: 15px;
      margin-bottom: 15px;
      text-align: center;
  
      .start, .end {
        border: 1px solid #ddd;
        padding: 0 10px;
        font-size: 30px;
        color: #000;
        margin: 0 10px;
      }

      .start {
        margin-left: 0;
      }
    }

    ::ng-deep .dx-slider-bar {
      height: 2px;
      
      .dx-slider-handle {
          width: 9px;
      }
    }
}