@media (max-width: 768px) {
    #m_header_topbar {
        position: static;
    }
}

.notification-header {
    @media (min-width: 768px) {
        width: 520px !important;
    }

    ::ng-deep.notification-drop-down-arrow {
        color: #43383b !important;
    }

    .user-notification-item {
        cursor: pointer;
    }

    .user-info {
        color: #fff !important;
        font-size: 1.1rem;
        font-weight: 400;
        display: block;
        word-break: break-word;
        width: 100%;

        .fullName {
            font-weight: 600;
            font-size: 18px;
            text-transform: capitalize;
        }

        .email {
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            text-align: left;
            height: 20px;
        }

        .m-card-user {
            display: flex;
            align-items: center;
            &__pic {
                float: right;
                img {
                    width: 41px;
                    height: 41px;
                    object-fit: cover;
                }
            }
        }
    }

    .subscription-info {
        margin: 0 15px;
        color: #fff !important;
        word-break: break-word;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        .upgrade-button {
            font-size: 1.1rem;
            background-color: #f57c02;
            width: 100px;
            height: 100px;
            border-radius: 50px;
            text-align: center;
            cursor: pointer;
            margin-left: 5px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            div {
                width: 100px;
            }
        }

        .details {
            width: auto;
            max-width: 375px;
            font-size: 1.3rem;

            .vertical-align {
                vertical-align: middle;
            }

            .title {
                font-weight: 600;
            }
        }
    }
}
