:host {

    &.fullscreen {
        display: none;
    }

    .headline-row {
        display: flex;
        position: relative;
        align-items: center;
        justify-content: space-between;
        background-color: #f3f7fa;
        border-bottom: 1px solid #dfdfdf;
        width: 100%;
        height: 75px;
        @media (max-width: 767px) {
            padding-right: 5px;
            padding-left: 5px;
        }
    }

    ::ng-deep .headline-content {
        display: flex;
        flex: 1;
        justify-content: space-between;

        &.menu-empty {
            margin-right: 35px;
        }

        ::ng-deep synch-progress {

            @media all and (min-width: 1200px) {
                position: absolute;
                left: 50%;
                top: 50%;
                transform: translate(-50%, -50%);
            }
        }

        @media (max-width: 992px) {
            flex-wrap: wrap;
            justify-content: center;
        }

        @media (max-width: 767px) {
            flex-direction: column;
            align-items: center;

            business-entities-chooser {
                &, .dx-dropdownbox {
                    margin-left: 0;
                    margin-right: 0;
                    width: 100px !important;
                }
            }

            & > * {
                margin-left: 0px;
            }
            ::ng-deep synch-progress {
                margin: 0;
            }
        }
    }

    .toggle-button-container {
        background: #f9fbfc;
        height: 100%;
        border-right: 1px solid #dfdfdf;
        display: flex;
        align-items: center;
        .toggle-button {
            vertical-align: bottom;
            cursor: pointer;
            outline: none;
            margin: 10px;
            width: 42px;
            height: 42px;
            border: 1px solid #e6eaed;
            border-radius: 50%;
            background: #fff url('../../../../assets/common/icons/follow-icon.svg') no-repeat center;
            @media (max-width: 767px) {
                margin: 5px;
            }
        }
        ul.buttons {
            position: absolute;
            left: 0;
            top: 75px;
            flex-direction: column;
            background-color: #f9fbfc;
            border-right: 1px solid #dfdfdf;
            border-bottom: 1px solid #dfdfdf;
            padding: 15px 0;
            z-index: 100;

            li {
                list-style: none;
                width: 100%;
                display: flex;
                align-items: center;

                .text {
                    padding: 0 10px;
                }

                div {
                    display: flex;
                    width: 68px;
                    text-align: center;
                    height: 100%;
                }

                &:not(:last-child) {
                    margin-bottom: 15px;
                }
            }
        }

        &.right {
            border-right: none;
            border-left: 1px solid #dfdfdf;
            ul.buttons {
                left: initial;
                right: 0;
                border-left: 1px solid #dfdfdf;
                border-right: none;
                li {
                    flex-direction: row-reverse;
                }
            }
        }
    }

    .icon {
        background: #fff;
        display: block;
        height: 45px;
        width: 45px;
        border-radius: 50%;
        margin: auto;
        cursor: pointer;
        position: relative;
        border: 1px solid #e5e9ec;
        &:after {
            height: 100%;
            width: 100%;
            display: block;
            content: '';
            background-repeat: no-repeat;
            background-position: center;
        }
        &.reload:after {
            background-image: url('../../../../assets/common/icons/reload.svg');
            background-size: 20px;
        }

        &.toggleToolbar:after {
            background-image: url('../../../../assets/common/icons/toggle-toolbar.svg');
            background-size: 20px;
        }

        &.toggleTotals:after {
            background-image: url('../../../../assets/common/icons/sigma.png');
            background-size: 20px;
        }

        &.toggleCompactView:after {
            background-image: url('../../../../assets/common/icons/toggle-compact-view.svg');
        }

        &.toggleFullScreenView:after {
            background-image: url('../../../../assets/common/icons/toggle-fullscreen.svg');
        }

        &.toggleColumnSelector:after {
            content: "\f04d";
            font-family: DXIcons;
            color: #959A9F;
            font-size: 20px;
            line-height: 44px;
        }

        &.print {
            background-image: url('../../../../assets/common/icons/print-icon.svg');
        }
    }

    .headline-title {
        font-size: 24px;
        line-height: 1;
        color: #212c36;
        display: flex;
        align-items: center;
        padding-left: 10px;
        .title-icon {
            margin-right: 10px;
        }

        span, small, .transclude {
            display: inline-block;
        }

        @media (max-width: 767px) {
            margin-left: 0;
            img {
                display: none;
            }
        }

        @media (max-width: 640px) {
            small {
                display: none;
            }
        }
        @media (max-width: 430px) {
            .transclude {
                display: none;
            }
        }

        .header-names {
            font-size: 24px;
            font-weight: 600;
            color: #202b35;
            vertical-align: middle;
            display: inline-flex;
            align-items: center;

            @media (max-width: 1400px) {
                max-width: 400px;
            }

            .header-name {
                white-space: nowrap;
            }

            .right-arrow {
                border: solid #b3b9bf;
                border-width: 0 2px 2px 0;
                display: inline-block;
                width: 9px;
                height: 9px;
                transform: rotate(-45deg);
                -webkit-transform: rotate(-45deg);
                margin: 0 10px;
                position: relative;
                top: -2px;
            }

            span:last-child {
                display: none;
            }

            @media (max-width: 992px) {
                flex-direction: column;
                .right-arrow {
                    display: none;
                }
            }

            @media (max-width: 768px) {
                margin-left: 10px;
                .header-name {
                    font-size: 12px;
                    margin-bottom: 3px;
                }
            }
        }
    }

    .headline-buttons {
        display: flex;
        align-items: center;
        margin-left: 5px;
        height: 100%;

        &.need-refresh {
            .toggle-button,
            .icon.reload {
                position: relative;
                &::before {
                    content: '';
                    display: block;
                    position: absolute;
                    width: 11px;
                    height: 11px;
                    border-radius: 50%;
                    background: #3dc14c;
                    border: 2px solid #fff;
                    top: 0;
                    right: 0;
                }
            }
        }

        .toggle {
            width: 36px;
            height: 36px;
            padding: 0;
            border-color: #ddd;
            @media (min-width: 992px) {
                display: none;
            }
            i {
                font-style: normal;
                margin-right: 0;
                &:before {
                    content: "\f00c";
                    font-size: 18px;
                    font-family: DXIcons;
                }
            }
        }

        @media (max-width: 767px) {
            margin-left: 0;
        }

        .reload-button-container {
            padding: 0 10px;
            border-left: 1px solid #dfdfdf;
            height: 100%;
            display: flex;
            background-color: #f9fbfc;
            button.reload {
                outline: none;
            }
        }
    }
}

::ng-deep [accessKey="headlineMenuTooltip"] {
    .dx-popover-arrow {
        display: none;
    }
}
