:host {
    display: inline-flex;
    i.fa {
        &:not(:last-child) {
            margin-right: 3px;
        }
        &.empty {
            color: rgba(138,150,155,0.45) !important;
        }
    }
}
