<div class="container-fluid">
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12 form-wrapper">
            <h1>Login as Sperser</h1>
            <h3>Nam dapibus nisl vitae elit fringilla rutrum. Aenea.</h3>
            <ul class="social-btns">
                <li>
                    <button class="btn btn-social btn-facebook">
                        <i class="fa fa-facebook"></i>
                    </button>
                </li>
                <li>
                    <button class="btn btn-social btn-linkedin">
                        <i class="fa fa-linkedin"></i>
                    </button>
                </li>
                <li>
                    <button class="btn btn-social btn-twitter">
                        <i class="fa fa-twitter"></i>
                    </button>
                </li>
            </ul>

            <div class="separator">
                <p>or log in with email address</p>
            </div>

            <form #loginForm="ngForm" class="login-form" method="post" novalidate (ngSubmit)="login()">
                <div class="form-group input first clearfix">
                    <input [(ngModel)]="loginService.authenticateModel.userNameOrEmailAddress"
                           autoFocus #userNameOrEmailAddress="ngModel"
                           class="form-control form-control-solid placeholder-no-fix input-ltr"
                           type="email" autocomplete="off"
                           placeholder="{{getLoginPlaceholder()}}"
                           name="userNameOrEmailAddress" required tabindex="1" />
                    <!--<i class="fa fa-check-circle" [hidden]="userNameOrEmailAddress.invalid && userNameOrEmailAddress.touched"></i>
                    <i class="fa fa-exclamation-circle" [hidden]="userNameOrEmailAddress.valid || userNameOrEmailAddress.untouched"></i>-->
                </div>

                <div class="form-group input last clearfix">
                    <input [(ngModel)]="loginService.authenticateModel.password"
                           #password="ngModel"
                           class="form-control form-control-solid placeholder-no-fix input-ltr"
                           type="password" autocomplete="off"
                           placeholder="{{ls.l('Password')}}" name="password"
                           required maxlength="32" tabindex="2" />
                    <!--<i class="fa fa-check-circle" [hidden]="password.invalid && password.touched"></i>
                    <i class="fa fa-exclamation-circle" [hidden]="password.valid || password.untouched"></i>-->
                </div>

                <div class="form-group options">
                    <div class="form-group clearfix">
                        <div class="mt-checkbox-list">
                            <label class="mt-checkbox mt-checkbox-outline">
                                <input class="form-control" [(ngModel)]="loginService.authenticateModel.rememberClient" type="checkbox" name="rememberMe" value="true" />{{ls.l("RememberMe")}}
                                <span></span>
                            </label>
                        </div>
                    </div>
                    <div class="form-group clearfix">
                        <a routerLink="/account/forgot-password" id="forget-password" class="forget-password pull-right">{{ls.l("ForgotPassword")}}</a>
                    </div>
                </div>

                <div class="form-actions">
                    <button type="submit" class="btn btn-submit" [disabled]="loginInProgress || !loginForm.form.valid">
                        {{ls.l("LoginBtn")}}
                    </button>
                </div>

                <p class="agree-rights">By continuing, you agree with our
                    <!--<a (click)="openConditionsDialog(conditions.Terms)">Terms</a> &-->
                    <a (click)="openConditionsDialog(conditions.Policies)">Privacy Policy</a></p>
            </form>
        </div>
    </div>
</div>
