:host {
    display: block;
    //position: relative;

    ::ng-deep #vector-map {
        height: 500px;
        width: 100%;
        display: block;

        svg {

            .dxm-layers,
            text.dxm-label {
                cursor: pointer !important;
            }
        }
    }

    .dx-selectbox {
        position: absolute;
        right: 30px;
        top: 30px;
    }
    ::ng-deep .dx-selectbox {

        .dx-texteditor-buttons-container {
            position: relative;
            height: 46px;
        }

        .dx-texteditor-input {
            border: 0;
            text-align: right;
            padding-right: 5px;
            font-size: 16px;
            font-weight: 500;
            color: #525252;
        }

        .dx-dropdowneditor-icon {
            color: #525252;
            font-size: 14px;

            &::before {
                content: '\f016';
            }
        }
    }
}

::ng-deep #gdp-sectors {
    width: 250px;
    height: 200px;
    display: block;
}
