:host {
    display: block;
    position: relative;
    ::ng-deep #vector-map {
        height: 500px;
        width: 100%;
        display: block;

        svg {
            border: 1px solid #E5E9EC;
            border-radius: 4px;
            .dxm-layers,
            text.dxm-label {
                cursor: pointer !important;
            }
        }
    }
    .dx-selectbox {
        position: absolute;
        left: 100px;
        top: 12px;
    }
}

::ng-deep #gdp-sectors {
    width: 250px;
    height: 200px;
    display: block;
}
