<dx-select-box *ngIf="!usaOnly"
               [items]="mapAreasItems"
               displayExpr="name"
               [value]="selectedMapAreaItem$ | async"
               (onValueChanged)="onSelectedMapAreaChanged($event)">
</dx-select-box>
<dx-vector-map
    *ngIf="data"
    id="vector-map"
    [background]="{ borderColor: '#FFFFFF' }"
    [zoomFactor]="selectedMapAreaZoomFactor$ | async"
    [bounds]="selectedMapAreaBounds$ | async"
    (onClick)="mapClick($event)">
    <dxo-loading-indicator [show]="true"></dxo-loading-indicator>
    <dxo-tooltip
        [enabled]="true"
        [customizeTooltip]="customizeTooltip">
    </dxo-tooltip>
    <dxo-export [enabled]="false"></dxo-export>
    <dxo-title text="">
        <dxo-subtitle text=""></dxo-subtitle>
    </dxo-title>
    <dxo-size [height]="height" [width]="width"></dxo-size>
    <dxi-layer
        [customize]="customizeLayers"
        [dataSource]="selectedMap$ | async"
        [colorGroups]="colorGroups"
        [palette]="palette"
        colorGroupingField="total"
        name="areas">
        <dxo-label [enabled]="true" dataField="postal"></dxo-label>
    </dxi-layer>
    <dxi-legend [customizeText]="customizeText" verticalAlignment="top">
        <dxo-source layer="areas" grouping="color"></dxo-source>
        <dxo-border [visible]="showLegendBorder"></dxo-border>
    </dxi-legend>
</dx-vector-map>
<loading-spinner *ngIf="dataIsLoading"></loading-spinner>
