user-management-list {
    margin-left: auto;
    width: auto!important;
    clear: none!important;
    background: none!important;
    order: 3;
    .page-top {
        #m_header_topbar {
            background: transparent;
            width: auto!important;
            height: auto!important;
            margin-top: 0!important;
            box-shadow: none!important;

            .m-topbar__nav.m-nav {
                display: flex;
                align-items: center;

                @media (max-width: 380px) {
                    margin: 0;
                }

                .m-nav__item {
                    padding: 0 14px !important;
                    &.bottom-back {
                        display: inline-block;
                        padding: 3px!important;
                        width: 120px;
                        .m-nav__link-text {
                            color: #3463ae;
                        }
                    }

                    .m-nav__link {
                        white-space: nowrap;
                    }

                    .m-nav__separator {
                        height: 1px;
                        background: #f4f5f8;
                    }

                    @media (max-width: 768px) {
                        padding: 0 8px !important;
                    }
                }
            }
        }

        @media all and (max-width: 529px) {
            order: 2;
            margin-left: auto;
        }
    }

    .m--img-rounded {
        border-radius: 50%
    }

    .m-badge.m-badge--danger {
        background-color: #f4516c;
        color: #fff;
    }

}
