<modal-dialog [title]="ls.l('LoginAttempts')"
              [editTitle]="false"
              [titleClearButton]="false"
              [placeholder]="ls.l('LoginAttempts')">
    <dx-scroll-view showScrollbar="onHover">
        <div class="content">
            <div *ngFor="let userLoginAttempt of userLoginAttempts">
                <div class="m-alert m-alert--icon m-alert--icon-solid m-alert--outline alert" [ngClass]="userLoginAttempt.result == 'Success' ? 'alert-success' : 'alert-danger'" role="alert">
                    <div class="m-alert__icon">
                        <!-- get image url -->
                        <img [src]="profileService.getProfilePictureUrl(userLoginAttempt.result == 'Success' ? profileThumbnailId : undefined)" class="m--img-rounded m--marginless m--img-centered" width="50" height="50"><br />
                        <span></span>
                        <small class="label"> {{userLoginAttempt.result == "Success" ? ls.l("Success") : ls.l("Failed")}} </small>
                    </div>
                    <div class="m-alert__text">
                        <div class="row" *ngIf="userLoginAttempt.clientIpAddress">
                            <label class="control-label col-sm-2 text-right">{{ls.l("IpAddress")}}</label>
                            <div class="col-sm-10">
                                <p class="form-control-static">
                                    {{userLoginAttempt.clientIpAddress}}
                                </p>
                            </div>
                        </div>
                        <div class="row" *ngIf="userLoginAttempt.clientName">
                            <label class="control-label col-sm-2 text-right">{{ls.l("Client")}}</label>
                            <div class="col-sm-10">
                                <p class="form-control-static">
                                    {{userLoginAttempt.clientName}}
                                </p>
                            </div>
                        </div>
                        <div class="row" *ngIf="userLoginAttempt.browserInfo">
                            <label class="control-label col-sm-2 text-right">{{ls.l("Browser")}}</label>
                            <div class="col-sm-10">
                                <p class="form-control-static">
                                    {{userLoginAttempt.browserInfo}}
                                </p>
                            </div>
                        </div>
                        <div class="row">
                            <label class="control-label col-sm-2 text-right">{{ls.l("Time")}}</label>
                            <div class="col-sm-10">
                                <p class="form-control-static login-attempt-date">
                                    {{getLoginAttemptTime(userLoginAttempt)}}
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </dx-scroll-view>
</modal-dialog>
