:host {

    .mat-form-field {
        display: block;
    }

    .btn-primary {
        background-color: #1e5484;
        border-color: #1e5484;

        &:hover {
            background-color: lighten(#1e5484, 10%);
            border-color: lighten(#1e5484, 10%);
        }
    }
}