<h1 mat-dialog-title>{{ls.l('AddTrackingLink.AddNewLink')}}</h1>
<div mat-dialog-content>
    <div class="form-field">
        <div class="logo-area"
            [ngStyle]="{ 'background-image': 'url(' + (data.imageUrl || 'assets/common/icons/link2.svg') + ')' }"
            (click)="openUploadDialog()">
        </div>
    </div>
    <mat-form-field>
        <mat-label>{{ls.l('AddTrackingLink.EnterCategory')}}</mat-label>
        <input matInput [(ngModel)]="data.category" [formControl]="category" required>
        <mat-error *ngIf="url.hasError('required')">
            {{ls.l('AddTrackingLink.CategoryRequired')}}
        </mat-error>
    </mat-form-field>

    <mat-form-field>
        <mat-label>{{ls.l('AddTrackingLink.EnterCompanyName')}}</mat-label>
        <input matInput [(ngModel)]="data.companyName" [formControl]="companyName" required>
        <mat-error *ngIf="url.hasError('required')">
            {{ls.l('AddTrackingLink.CompanyNameRequired')}}
        </mat-error>
    </mat-form-field>

    <mat-form-field>
        <mat-label>{{ls.l('AddTrackingLink.EnterLink')}}</mat-label>
        <input matInput [(ngModel)]="data.url" [formControl]="url" required>
        <mat-error *ngIf="url.hasError('required')">
            {{ls.l('AddTrackingLink.UrlRequired')}}
        </mat-error>
        <mat-error *ngIf="url.hasError('pattern')">
            {{ls.l('AddTrackingLink.UrlPatternInvalid')}}
        </mat-error>
    </mat-form-field>

    <div class="form-field">
        <country-phone-number 
            class="phoneNumber"
            [(phoneNumber)]="data.phoneNumber"
            [required]="true">
        </country-phone-number>
    </div>

    <mat-form-field>
        <mat-label>{{ls.l('AddTrackingLink.EnterSuggestedCopy')}}</mat-label>
        <input matInput [(ngModel)]="data.suggestedCopy" [formControl]="suggestedCopy" required>
        <mat-error *ngIf="url.hasError('required')">
            {{ls.l('AddTrackingLink.SuggestedCopyRequired')}}
        </mat-error>
    </mat-form-field>
</div>
<div mat-dialog-actions>
    <button class="btn btn-default" (click)="close()">{{ls.l('Cancel')}}</button>
    <button class="btn btn-primary"
            [mat-dialog-close]="data"
            [disabled]="isValid()"
            cdkFocusInitial>
        {{ls.l('AddTrackingLink.' + (data.id ? 'EditLink' : 'AddLink'))}}
    </button>
</div>