@base-color: rgba(221, 221, 221, 0.863);
@ghost-color: #ecebebf1;
@animation-duration: 1000ms;
@gradient-offset: 52 + 16;

@keyframes ghost-lines {
    0%   { background-position: -100px;  }
    40%  { background-position: 40vw;    }
    100% { background-position: 60vw;    }
}

@keyframes ghost-avatar {
    0%        { background-position: -100px + @gradient-offset; }
    40%, 100% { background-position: 140px + @gradient-offset;  }
}

.animate-ghost-avatar {
    background-image: linear-gradient(90deg, @base-color 0px, @ghost-color 40px, @base-color 80px);
    background-size: 80vw;
    animation: ghost-avatar @animation-duration infinite linear;
}

.animate-ghost-line {
    animation: ghost-lines @animation-duration infinite linear;
}
