:host {
    header {
        display: flex;
        justify-content: space-between;
        margin-bottom: 5px;
        h1 {
            text-transform: uppercase;
            font-weight: 800;
            font-size: 21px;
        }
        button {
            background: none;
            border: none;
            outline: none;
            text-decoration: underline;
            cursor: pointer;
        }
    }
}