<modal-dialog [title]="data.title">
    <form novalidate (ngSubmit)="refreshTable()" autocomplete="off">
        <div *ngIf="data.isFilterEnabled" class="input-group margin-bottom-10">
            <input autoFocus [(ngModel)]="data.filterText" name="filterText" class="form-control" [placeholder]="ls.l('SearchWithThreeDot')" type="text">
            <span class="input-group-btn">
                <button class="btn btn btn-primary" type="submit"><i class="flaticon-search-1" [attr.aria-label]="ls.l('Search')"></i></button>
            </span>
        </div>
        <div class="datatable-container">
            <dx-data-grid id="gridContainer"
                [dataSource]="dataSource"
                [remoteOperations]="true"
                [allowColumnReordering]="false"
                [columnAutoWidth]="true"
                [allowColumnResizing]="false"
                [hoverStateEnabled]="true">
                <dxi-column [caption]="ls.l('Select')" cellTemplate="selectCell"></dxi-column>
                <dxi-column dataField="name" [caption]="ls.l('Name')" cssClass="clipboard-holder"></dxi-column>

                <div *dxTemplate="let record of 'selectCell'">
                    <button class="btn btn-metal m-btn m-btn--icon m-btn--icon-only"
                            (click)="selectItem(record.data)"
                            [title]="ls.l('Select')">
                        <i class="la la-chevron-circle-right" [attr.aria-label]="ls.l('Select')"></i>
                    </button>
                </div>
                <dxo-pager
                    [allowedPageSizes]="[20, 100, 500, 1000]"
                    [showPageSizeSelector]="true"
                    [showInfo]="true"
                    [visible]="true">
                </dxo-pager>
                <dxo-paging [pageSize]="20"></dxo-paging>
            </dx-data-grid>
        </div>
    </form>
</modal-dialog>
