::ng-deep .hide {
    display: none;
}
:host {
    height: calc(100% - 85px);
    display: block;
    position: relative;
    @media (max-width: 767px) {
        width: 80vw;
    }

    mat-dialog-content {
        max-height: 100%;
        text-align: right;

        margin: 20px 0 0;
        padding: 0;

        ::ng-deep calendar {
            position: relative;
            .date-range-length-tip {
                white-space: nowrap;
            }
        }
    }
}
