.m-badge {
    border-radius: 10px;
    background: #eaeaea;
    color: #444;
    font-size: 0.8rem;
    line-height: 20px;
    min-height: 20px;
    min-width: 20px;
    vertical-align: middle;
    text-align: center;
    display: inline-block;
    padding: 0px 2px;

    &.m-badge--wide {
        letter-spacing: 0.6px;
        padding: 1px 10px;
    }

    &.m-badge--rounded {
        border-radius: 3px;
    }

    &.m-badge--dot {
        padding: 0;
        line-height: 6px;
        min-height: 6px;
        min-width: 6px;
        height: 6px;
        width: 6px;
        border-radius: 100%;
    }

    &.m-badge--dot-small {
        padding: 0;
        line-height: 4px;
        min-height: 4px;
        min-width: 4px;
        height: 4px;
        width: 4px;
        border-radius: 100%;
    }
}
