
.m-btn--icon > span {
    display: table
}

.m-btn--icon > span > i {
    display: table-cell;
    vertical-align: middle;
    line-height: 0
}

.m-btn--icon > span [class*=" la-"], .m-btn--icon > span [class^=la-] {
    font-size: 1.3rem
}

.m-btn--icon > span [class*=" fa-"], .m-btn--icon > span [class^=fa-] {
    font-size: 1.1rem
}

.m-btn--icon > span [class*=" flaticon-"], .m-btn--icon > span [class^=flaticon-] {
    font-size: 1.3rem
}

.m-btn--icon > span > span {
    padding-left: .5em;
    display: table-cell;
    vertical-align: middle
}

.m-btn--icon.m-btn--icon-right > span > span {
    padding-left: 0;
    padding-right: .6em
}
