
.m-list-timeline__group {
    margin: 0 0 30px 0
}

.m-list-timeline__heading {
    margin: 0 0 18px 0;
    font-weight: 600;
    font-size: 1rem;
    text-transform: uppercase
}

.m-list-timeline__items {
    position: relative;
    padding: 0;
    margin: 0
}

.m-list-timeline__items:before {
    position: absolute;
    display: block;
    content: '';
    width: 1px;
    height: 100%;
    top: 0;
    bottom: 0;
    left: 3px
}

.m-list-timeline__items .m-list-timeline__item {
    position: relative;
    display: table;
    table-layout: fixed;
    width: 100%;
    padding: 6px 0;
    margin: 5px 0
}

.m-list-timeline__items .m-list-timeline__item:first-child:before, .m-list-timeline__items .m-list-timeline__item:last-child:before {
    background-color: #fff;
    position: absolute;
    display: block;
    content: '';
    width: 1px;
    height: 50%;
    top: 0;
    bottom: 0;
    left: 3px
}

.m-list-timeline__items .m-list-timeline__item:last-child:before {
    top: auto;
    bottom: 0
}

.m-list-timeline__items .m-list-timeline__item .m-list-timeline__badge {
    text-align: left;
    vertical-align: middle;
    display: table-cell;
    position: relative;
    width: 20px
}

.m-list-timeline__items .m-list-timeline__item .m-list-timeline__badge:before {
    position: absolute;
    display: block;
    content: '';
    width: 7px;
    height: 7px;
    left: 0;
    top: 50%;
    margin-top: -3.5px;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    -ms-border-radius: 100%;
    -o-border-radius: 100%;
    border-radius: 100%
}

.m-list-timeline__items .m-list-timeline__item .m-list-timeline__icon {
    text-align: left;
    vertical-align: middle;
    display: table-cell;
    width: 30px;
    padding: 0 5px 0 0;
    line-height: 0
}

.m-list-timeline__items .m-list-timeline__item [class*=" la-"], .m-list-timeline__items .m-list-timeline__item [class^=la-] {
    font-size: 1.6rem
}

.m-list-timeline__items .m-list-timeline__item [class*=" fa-"], .m-list-timeline__items .m-list-timeline__item [class^=fa-] {
    font-size: 1.2rem
}

.m-list-timeline__items .m-list-timeline__item [class*=" flaticon-"], .m-list-timeline__items .m-list-timeline__item [class^=flaticon-] {
    font-size: 1.6rem
}

.m-list-timeline__items .m-list-timeline__item .m-list-timeline__text {
    display: table-cell;
    text-align: left;
    vertical-align: middle;
    width: 100%;
    padding: 0 5px 0 0;
    font-size: 1rem
}

.m-list-timeline__items .m-list-timeline__item .m-list-timeline__text:hover {
    text-decoration: none
}

.m-list-timeline__items .m-list-timeline__item .m-list-timeline__time {
    display: table-cell;
    text-align: right;
    vertical-align: middle;
    width: 80px;
    padding: 0 7px 0 0;
    font-size: .85rem
}

.m-list-timeline__items .m-list-timeline__item:first-child {
    padding-top: 0;
    margin-top: 0
}

.m-list-timeline__items .m-list-timeline__item:last-child {
    padding-bottom: 0;
    margin-bottom: 0
}

.m-list-timeline .m-list-timeline__items:before {
    background-color: #ebedf2
}

.m-list-timeline .m-list-timeline__items .m-list-timeline__item .m-list-timeline__badge:before {
    background-color: #ebedf2
}

.m-list-timeline .m-list-timeline__items .m-list-timeline__item .m-list-timeline__badge.m-list-timeline__badge--brand:before {
    background-color: #6aa0ca
}

.m-list-timeline .m-list-timeline__items .m-list-timeline__item .m-list-timeline__badge.m-list-timeline__badge--metal:before {
    background-color: #c4c5d6
}

.m-list-timeline .m-list-timeline__items .m-list-timeline__item .m-list-timeline__badge.m-list-timeline__badge--light:before {
    background-color: #fff
}

.m-list-timeline .m-list-timeline__items .m-list-timeline__item .m-list-timeline__badge.m-list-timeline__badge--accent:before {
    background-color: #00c5dc
}

.m-list-timeline .m-list-timeline__items .m-list-timeline__item .m-list-timeline__badge.m-list-timeline__badge--focus:before {
    background-color: #9816f4
}

.m-list-timeline .m-list-timeline__items .m-list-timeline__item .m-list-timeline__badge.m-list-timeline__badge--primary:before {
    background-color: #58a3dc
}

.m-list-timeline .m-list-timeline__items .m-list-timeline__item .m-list-timeline__badge.m-list-timeline__badge--success:before {
    background-color: #34bfa3
}

.m-list-timeline .m-list-timeline__items .m-list-timeline__item .m-list-timeline__badge.m-list-timeline__badge--info:before {
    background-color: #36a3f7
}

.m-list-timeline .m-list-timeline__items .m-list-timeline__item .m-list-timeline__badge.m-list-timeline__badge--warning:before {
    background-color: #ffb822
}

.m-list-timeline .m-list-timeline__items .m-list-timeline__item .m-list-timeline__badge.m-list-timeline__badge--danger:before {
    background-color: #f4516c
}

.m-list-timeline .m-list-timeline__items .m-list-timeline__item .m-list-timeline__icon {
    color: #ced5db
}

.m-list-timeline .m-list-timeline__items .m-list-timeline__item .m-list-timeline__text {
    color: #575d62
}

.m-list-timeline .m-list-timeline__items .m-list-timeline__item .m-list-timeline__time {
    color: #7b838a
}

.m-list-timeline .m-list-timeline__items .m-list-timeline__item:first-child:before, .m-list-timeline .m-list-timeline__items .m-list-timeline__item:last-child:before {
    background-color: #fff
}

.m-list-timeline .m-list-timeline__items .m-list-timeline__item.m-list-timeline__item--read {
    opacity: .5
}

.m-list-timeline.m-list-timeline--skin-dark .m-list-timeline__items:before {
    background-color: #a1aab1
}

.m-list-timeline.m-list-timeline--skin-dark .m-list-timeline__items .m-list-timeline__item .m-list-timeline__badge:before {
    background-color: #a1aab1
}

.m-list-timeline.m-list-timeline--skin-dark .m-list-timeline__items .m-list-timeline__item .m-list-timeline__badge.m-list-timeline__badge--brand:before {
    background-color: #6aa0ca
}

.m-list-timeline.m-list-timeline--skin-dark .m-list-timeline__items .m-list-timeline__item .m-list-timeline__badge.m-list-timeline__badge--metal:before {
    background-color: #c4c5d6
}

.m-list-timeline.m-list-timeline--skin-dark .m-list-timeline__items .m-list-timeline__item .m-list-timeline__badge.m-list-timeline__badge--light:before {
    background-color: #fff
}

.m-list-timeline.m-list-timeline--skin-dark .m-list-timeline__items .m-list-timeline__item .m-list-timeline__badge.m-list-timeline__badge--accent:before {
    background-color: #00c5dc
}

.m-list-timeline.m-list-timeline--skin-dark .m-list-timeline__items .m-list-timeline__item .m-list-timeline__badge.m-list-timeline__badge--focus:before {
    background-color: #9816f4
}

.m-list-timeline.m-list-timeline--skin-dark .m-list-timeline__items .m-list-timeline__item .m-list-timeline__badge.m-list-timeline__badge--primary:before {
    background-color: #58a3dc
}

.m-list-timeline.m-list-timeline--skin-dark .m-list-timeline__items .m-list-timeline__item .m-list-timeline__badge.m-list-timeline__badge--success:before {
    background-color: #34bfa3
}

.m-list-timeline.m-list-timeline--skin-dark .m-list-timeline__items .m-list-timeline__item .m-list-timeline__badge.m-list-timeline__badge--info:before {
    background-color: #36a3f7
}

.m-list-timeline.m-list-timeline--skin-dark .m-list-timeline__items .m-list-timeline__item .m-list-timeline__badge.m-list-timeline__badge--warning:before {
    background-color: #ffb822
}

.m-list-timeline.m-list-timeline--skin-dark .m-list-timeline__items .m-list-timeline__item .m-list-timeline__badge.m-list-timeline__badge--danger:before {
    background-color: #f4516c
}

.m-list-timeline.m-list-timeline--skin-dark .m-list-timeline__items .m-list-timeline__item .m-list-timeline__icon {
    color: #dfe9f1
}

.m-list-timeline.m-list-timeline--skin-dark .m-list-timeline__items .m-list-timeline__item .m-list-timeline__text {
    color: #fff
}

.m-list-timeline.m-list-timeline--skin-dark .m-list-timeline__items .m-list-timeline__item .m-list-timeline__time {
    color: #8293a1
}

.m-list-timeline.m-list-timeline--skin-dark .m-list-timeline__items .m-list-timeline__item:first-child:before, .m-list-timeline.m-list-timeline--skin-dark .m-list-timeline__items .m-list-timeline__item:last-child:before {
    background-color: #333
}

.m-list-timeline.m-list-timeline--skin-dark .m-list-timeline__items .m-list-timeline__item.m-list-timeline__item--read {
    opacity: .5
}
