
.m-list-search.m-list-search--has-result .m-dropdown__body {
    display: block
}

.m-list-search.m-list-search--has-result .m-dropdown__header:after {
    display: block;
    height: 1px;
    content: "";
    position: relative;
    top: 20px
}

.m-list-search .m-dropdown__body {
    display: none
}

.m-list-search .m-list-search__form {
    position: relative;
    display: block;
    padding: 3px 0 0 0
}

.m-list-search .m-list-search__form .m-list-search__form-wrapper {
    width: 100%;
    height: 100%;
    display: table;
    table-layout: fixed
}

.m-list-search .m-list-search__form .m-list-search__form-wrapper .m-list-search__form-input-wrapper {
    display: table-cell;
    vertical-align: middle
}

.m-list-search .m-list-search__form .m-list-search__form-wrapper .m-list-search__form-input {
    border: 0;
    background: 0 0;
    outline: 0 !important;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    width: 100%;
    font-size: 1rem;
    padding: 0;
    display: block
}

.m-list-search .m-list-search__form .m-list-search__form-wrapper .m-list-search__form-icon-close {
    text-align: right;
    display: table-cell;
    vertical-align: middle;
    line-height: 0 !important;
    cursor: pointer;
    font-size: 1.2rem;
    width: 30px;
    padding: 0
}

.m-list-search .m-list-search__form.m-loader:before {
    top: 12px;
    right: 0
}

.m-list-search .m-list-search__results .m-list-search__result-separator {
    display: block;
    margin: 10px 0
}

.m-list-search .m-list-search__results .m-list-search__result-separator.m-list-search__result-separator--fit {
    margin: 10px -20px
}

.m-list-search .m-list-search__results .m-list-search__result-category {
    display: block;
    margin: 30px 0 10px 0;
    font-weight: 600;
    font-size: 1rem;
    text-transform: uppercase
}

.m-list-search .m-list-search__results .m-list-search__result-category.m-list-search__result-category--first {
    margin-top: 0
}

.m-list-search .m-list-search__results .m-list-search__result-msg {
    display: block;
    padding: 10px 0;
    font-weight: 400;
    font-size: 1.1rem
}

.m-list-search .m-list-search__results .m-list-search__result-item {
    display: table;
    width: 100%;
    padding: 5px 0;
    outline: 0
}

.m-list-search .m-list-search__results .m-list-search__result-item:hover {
    text-decoration: none
}

.m-list-search .m-list-search__results .m-list-search__result-item .m-list-search__result-item-pic {
    width: 45px;
    display: table-cell;
    vertical-align: middle;
    text-align: left;
    margin: 0 auto
}

.m-list-search .m-list-search__results .m-list-search__result-item .m-list-search__result-item-pic img {
    display: block;
    vertical-align: middle;
    max-width: 35px !important
}

.m-list-search .m-list-search__results .m-list-search__result-item .m-list-search__result-item-icon {
    display: table-cell;
    vertical-align: middle;
    font-size: 1rem;
    width: 32px;
    font-size: 1.2rem
}

.m-list-search .m-list-search__results .m-list-search__result-item .m-list-search__result-item-icon:before {
    line-height: 0;
    vertical-align: middle
}

.m-list-search .m-list-search__results .m-list-search__result-item .m-list-search__result-item-text {
    display: table-cell;
    vertical-align: middle;
    font-size: 1rem
}

.m-list-search .m-dropdown__header:after {
    background-color: #ebedf2
}

.m-list-search .m-list-search__form .m-list-search__form-input {
    color: #575d62
}

.m-list-search .m-list-search__form .m-list-search__form-input::-moz-placeholder {
    color: #6f777d;
    opacity: 1
}

.m-list-search .m-list-search__form .m-list-search__form-input:-ms-input-placeholder {
    color: #6f777d
}

.m-list-search .m-list-search__form .m-list-search__form-input::-webkit-input-placeholder {
    color: #6f777d
}

.m-list-search .m-list-search__form .m-list-search__form-icon-close {
    color: #fafbfb
}

.m-list-search .m-list-search__results .m-list-search__result-separator {
    border-bottom: #ebedf2
}

.m-list-search .m-list-search__results .m-list-search__result-message {
    color: #7b838a
}

.m-list-search .m-list-search__results .m-list-search__result-category {
    color: #6aa0ca
}

.m-list-search .m-list-search__results .m-list-search__result-item .m-list-search__result-item-text {
    color: #7b838a
}

.m-list-search .m-list-search__results .m-list-search__result-item:hover .m-list-search__result-item-text {
    color: #6aa0ca
}

.m-list-search.m-list-search--skin-dark .m-dropdown__header:after {
    background-color: #a1aab1
}

.m-list-search.m-list-search--skin-dark .m-list-search__form .m-list-search__form-input {
    color: #fff
}

.m-list-search.m-list-search--skin-dark .m-list-search__form .m-list-search__form-input::-moz-placeholder {
    color: #909fac;
    opacity: 1
}

.m-list-search.m-list-search--skin-dark .m-list-search__form .m-list-search__form-input:-ms-input-placeholder {
    color: #909fac
}

.m-list-search.m-list-search--skin-dark .m-list-search__form .m-list-search__form-input::-webkit-input-placeholder {
    color: #909fac
}

.m-list-search.m-list-search--skin-dark .m-list-search__form .m-list-search__form-icon-close {
    color: #aac4da
}

.m-list-search.m-list-search--skin-dark .m-list-search__results .m-list-search__result-separator {
    border-bottom: #a1aab1
}

.m-list-search.m-list-search--skin-dark .m-list-search__results .m-list-search__result-message {
    color: #8293a1
}

.m-list-search.m-list-search--skin-dark .m-list-search__results .m-list-search__result-category {
    color: #6aa0ca
}

.m-list-search.m-list-search--skin-dark .m-list-search__results .m-list-search__result-item .m-list-search__result-item-text {
    color: #8293a1
}

.m-list-search.m-list-search--skin-dark .m-list-search__results .m-list-search__result-item:hover .m-list-search__result-item-text {
    color: #6aa0ca
}
