
.m-messenger .m-messenger__form {
    margin: 0 0 10px 0;
    display: table;
    table-layout: fixed
}

.m-messenger .m-messenger__form .m-messenger__form-controls {
    width: 100%;
    display: table-cell;
    vertical-align: middle;
    padding: 0
}

.m-messenger .m-messenger__form .m-messenger__form-controls .m-messenger__form-input {
    width: 100%;
    padding: 10px 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    border-radius: 20px
}

.m-messenger .m-messenger__form .m-messenger__form-tools {
    display: table-cell;
    vertical-align: middle;
    padding: 0 0 0 10px
}

.m-messenger .m-messenger__form .m-messenger__form-tools .m-messenger__form-attachment {
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    -ms-border-radius: 100%;
    -o-border-radius: 100%;
    border-radius: 100%;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: center;
    -moz-justify-content: center;
    -ms-justify-content: center;
    justify-content: center;
    -webkit-align-items: center;
    -moz-align-items: center;
    -ms-align-items: center;
    align-items: center;
    text-align: center;
    vertical-align: middle;
    height: 40px;
    width: 40px;
    text-align: center;
    vertical-align: middle;
    line-height: 0;
    cursor: pointer
}

.m-messenger .m-messenger__form .m-messenger__form-tools .m-messenger__form-attachment > i {
    font-size: 1.4rem
}

.m-messenger .m-messenger__form .m-messenger__form-tools .m-messenger__form-attachment:hover {
    text-decoration: none
}

.m-messenger .m-messenger__seperator {
    margin: 30px 0
}

.m-messenger .m-messenger__messages .m-messenger__datetime {
    display: table;
    text-align: center;
    padding: 10px 0;
    width: 100%;
    font-size: .85rem;
    font-weight: 500;
    text-transform: uppercase
}

.m-messenger .m-messenger__messages .m-messenger__datetime:after, .m-messenger .m-messenger__messages .m-messenger__datetime:before {
    content: " ";
    display: table
}

.m-messenger .m-messenger__messages .m-messenger__datetime:after {
    clear: both
}

.m-messenger .m-messenger__messages .m-messenger__wrapper:after, .m-messenger .m-messenger__messages .m-messenger__wrapper:before {
    content: " ";
    display: table
}

.m-messenger .m-messenger__messages .m-messenger__wrapper:after {
    clear: both
}

.m-messenger .m-messenger__messages .m-messenger__message {
    display: table;
    table-layout: fixed
}

.m-messenger .m-messenger__messages .m-messenger__message:after, .m-messenger .m-messenger__messages .m-messenger__message:before {
    content: " ";
    display: table
}

.m-messenger .m-messenger__messages .m-messenger__message:after {
    clear: both
}

.m-messenger .m-messenger__messages .m-messenger__message.m-messenger__message--in {
    float: left
}

.m-messenger .m-messenger__messages .m-messenger__message.m-messenger__message--out {
    float: right;
    padding-left: 54px
}

.m-messenger .m-messenger__messages .m-messenger__message .m-messenger__message-pic {
    display: table-cell;
    vertical-align: top;
    width: 40px;
    padding: 6px 10px 0 0
}

.m-messenger .m-messenger__messages .m-messenger__message .m-messenger__message-pic img {
    max-width: 40px;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    -ms-border-radius: 100%;
    -o-border-radius: 100%;
    border-radius: 100%;
    margin: 0 !important
}

.m-messenger .m-messenger__messages .m-messenger__message .m-messenger__message-no-pic {
    height: 40px;
    width: 40px;
    display: inline-block;
    text-align: center;
    position: relative;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: center;
    -moz-justify-content: center;
    -ms-justify-content: center;
    justify-content: center;
    -webkit-align-items: center;
    -moz-align-items: center;
    -ms-align-items: center;
    align-items: center;
    text-align: center;
    vertical-align: middle;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    -ms-border-radius: 100%;
    -o-border-radius: 100%;
    border-radius: 100%
}

.m-messenger .m-messenger__messages .m-messenger__message .m-messenger__message-no-pic > span {
    line-height: 0;
    font-weight: 600;
    font-size: 1.3rem;
    text-transform: uppercase
}

.m-messenger .m-messenger__messages .m-messenger__message .m-messenger__message-body {
    display: table-cell;
    vertical-align: top;
    padding: 0;
    position: relative
}

.m-messenger .m-messenger__messages .m-messenger__message .m-messenger__message-body .m-messenger__message-content {
    padding: 17px;
    margin-right: 5px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    border-radius: 10px
}

.m-messenger .m-messenger__messages .m-messenger__message .m-messenger__message-body .m-messenger__message-content .m-messenger__message-username {
    font-size: .85rem;
    padding-bottom: 4px
}

.m-messenger .m-messenger__messages .m-messenger__message .m-messenger__message-body .m-messenger__message-content .m-messenger__message-text {
    font-size: 1rem
}

.m-messenger .m-messenger__messages .m-messenger__message .m-messenger__message-body .m-messenger__message-content .m-messenger__message-typing {
    padding-bottom: 4px;
    font-size: .85rem
}

.m-messenger.m-messenger.m-messenger--message-arrow .m-messenger__message.m-messenger__message--in .m-messenger__message-arrow {
    position: absolute;
    line-height: 0;
    display: inline-block;
    overflow: hidden;
    width: 10px;
    height: 40px;
    position: relative;
    left: 0;
    margin-left: -9px;
    left: 2px;
    right: auto;
    position: absolute;
    margin-left: 0;
    margin-top: 6px
}

.m-messenger.m-messenger.m-messenger--message-arrow .m-messenger__message.m-messenger__message--in .m-messenger__message-arrow:before {
    display: inline-block;
    font-family: Metronic;
    font-style: normal;
    font-weight: 400;
    font-variant: normal;
    line-height: 0;
    text-decoration: inherit;
    text-rendering: optimizeLegibility;
    text-transform: none;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    font-smoothing: antialiased;
    content: ""
}

.m-messenger.m-messenger.m-messenger--message-arrow .m-messenger__message.m-messenger__message--in .m-messenger__message-arrow:before {
    position: relative;
    top: 0;
    margin-top: 20px;
    font-size: 40px
}

.m-messenger.m-messenger.m-messenger--message-arrow .m-messenger__message.m-messenger__message--in .m-messenger__message-content {
    margin-left: 10px
}

.m-messenger.m-messenger.m-messenger--message-arrow .m-messenger__message.m-messenger__message--out .m-messenger__message-arrow {
    position: absolute;
    line-height: 0;
    display: inline-block;
    overflow: hidden;
    width: 10px;
    height: 40px;
    position: relative;
    left: auto;
    right: 0;
    margin-left: auto;
    margin-right: -9px;
    right: 2px;
    left: auto;
    position: absolute;
    margin-left: 0;
    margin-right: 0;
    margin-top: 6px
}

.m-messenger.m-messenger.m-messenger--message-arrow .m-messenger__message.m-messenger__message--out .m-messenger__message-arrow:before {
    display: inline-block;
    font-family: Metronic;
    font-style: normal;
    font-weight: 400;
    font-variant: normal;
    line-height: 0;
    text-decoration: inherit;
    text-rendering: optimizeLegibility;
    text-transform: none;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    font-smoothing: antialiased;
    content: ""
}

.m-messenger.m-messenger.m-messenger--message-arrow .m-messenger__message.m-messenger__message--out .m-messenger__message-arrow:before {
    position: relative;
    top: 0;
    margin-top: 20px;
    font-size: 40px
}

.m-messenger.m-messenger.m-messenger--message-arrow .m-messenger__message.m-messenger__message--out .m-messenger__message-content {
    margin-right: 10px
}

.m-messenger .m-messenger__form .m-messenger__form-input {
    border: 0;
    background: 0 0;
    outline: 0 !important;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    color: #575d62;
    background-color: #f4f5f8
}

.m-messenger .m-messenger__form .m-messenger__form-input::-moz-placeholder {
    color: #6f777d;
    opacity: 1
}

.m-messenger .m-messenger__form .m-messenger__form-input:-ms-input-placeholder {
    color: #6f777d
}

.m-messenger .m-messenger__form .m-messenger__form-input::-webkit-input-placeholder {
    color: #6f777d
}

.m-messenger .m-messenger__form .m-messenger__form-input:focus {
    background-color: #ebedf2
}

.m-messenger .m-messenger__form .m-messenger__form-attachment {
    background-color: #f7f8fa;
    color: #ced5db
}

.m-messenger .m-messenger__form .m-messenger__form-attachment:hover {
    background-color: #ebedf2;
    color: #ced5db
}

.m-messenger .m-messenger__seperator {
    border-bottom: 1px solid #f4f5f8
}

.m-messenger .m-messenger__messages .m-messenger__datetime {
    color: #afb9c1;
    margin: 0 0 20px 0
}

.m-messenger .m-messenger__messages .m-messenger__message {
    margin: 0 0 20px 0
}

.m-messenger .m-messenger__messages .m-messenger__message.m-messenger__message--in .m-messenger__message-content {
    background: #f4f5f8
}

.m-messenger .m-messenger__messages .m-messenger__message.m-messenger__message--in .m-messenger__message-content .m-messenger__message-username {
    color: #6f777d
}

.m-messenger .m-messenger__messages .m-messenger__message.m-messenger__message--in .m-messenger__message-content .m-messenger__message-text {
    color: #575d62
}

.m-messenger .m-messenger__messages .m-messenger__message.m-messenger__message--in .m-messenger__message-content .m-messenger__message-typing {
    color: #7b838a
}

.m-messenger .m-messenger__messages .m-messenger__message.m-messenger__message--out .m-messenger__message-content {
    background: #6aa0ca
}

.m-messenger .m-messenger__messages .m-messenger__message.m-messenger__message--out .m-messenger__message-content .m-messenger__message-username {
    color: #f0f0f0
}

.m-messenger .m-messenger__messages .m-messenger__message.m-messenger__message--out .m-messenger__message-content .m-messenger__message-text {
    color: #f7f7f7
}

.m-messenger .m-messenger__messages .m-messenger__message.m-messenger__message--out .m-messenger__message-content .m-messenger__message-typing {
    color: #f0f0f0
}

.m-messenger.m-messenger.m-messenger--message-arrow .m-messenger__message.m-messenger__message--in .m-messenger__message-arrow {
    color: #f4f5f8
}

.m-messenger.m-messenger.m-messenger--message-arrow .m-messenger__message.m-messenger__message--out .m-messenger__message-arrow {
    color: #6aa0ca
}
