.m-nav {
    padding: 0;
    margin: 0;
    list-style: none
}

.m-nav .m-nav__item {
    display: block
}

.m-nav .m-nav__item > .m-nav__link {
    display: table;
    table-layout: fixed;
    width: 100%;
    height: 100%;
    text-decoration: none;
    position: relative;
    outline: 0 !important;
    vertical-align: middle;
    padding: 9px 0
}

.m-nav .m-nav__item > .m-nav__link:hover {
    text-decoration: none
}

.m-nav .m-nav__item > .m-nav__link .m-nav__link-text {
    display: table-cell;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    vertical-align: middle;
    font-size: 1rem
}

.m-nav .m-nav__item > .m-nav__link .m-nav__link-title {
    display: table-cell;
    height: 100%;
    padding: 0;
    margin: 0;
    vertical-align: middle
}

.m-nav .m-nav__item > .m-nav__link .m-nav__link-title > .m-nav__link-wrap {
    display: table;
    height: 100%;
    margin: 0;
    width: 100%;
    padding: 0;
    vertical-align: middle
}

.m-nav .m-nav__item > .m-nav__link .m-nav__link-title > .m-nav__link-wrap .m-nav__link-text {
    padding-right: .8rem
}

.m-nav .m-nav__item > .m-nav__link .m-nav__link-title > .m-nav__link-wrap > .m-nav__link-badge {
    display: table-cell;
    height: 100%;
    vertical-align: middle;
    white-space: nowrap;
    padding: 0 0 0 5px;
    text-align: right
}

.m-nav .m-nav__item > .m-nav__link .m-nav__link-arrow {
    display: table-cell;
    height: 100%;
    vertical-align: middle;
    text-align: right;
    line-height: 0;
    font-family: LineAwesome;
    text-decoration: inherit;
    text-rendering: optimizeLegibility;
    text-transform: none;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    font-smoothing: antialiased
}

.m-nav .m-nav__item > .m-nav__link .m-nav__link-arrow:before {
    content: ""
}

.m-nav .m-nav__item > .m-nav__link .m-nav__link-icon {
    display: table-cell;
    height: 100%;
    vertical-align: middle;
    text-align: left;
    width: 35px;
    font-size: 1.4rem;
    line-height: 0
}

.m-nav .m-nav__item > .m-nav__link .m-nav__link-bullet {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    width: 20px
}

.m-nav .m-nav__item > .m-nav__link .m-nav__link-bullet > span {
    vertical-align: middle;
    display: inline-block
}

.m-nav .m-nav__item > .m-nav__link .m-nav__link-bullet.m-nav__link-bullet--dot > span {
    width: 4px;
    height: 4px;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    -ms-border-radius: 100%;
    -o-border-radius: 100%;
    border-radius: 100%
}

.m-nav .m-nav__item > .m-nav__link .m-nav__link-bullet.m-nav__link-bullet--line > span {
    width: 5px;
    height: 1px
}

.m-nav .m-nav__item > .m-nav__sub {
    padding-left: 2rem
}

.m-nav .m-nav__item > .m-nav__link .m-nav__link-arrow {
    font-family: LineAwesome;
    text-decoration: inherit;
    text-rendering: optimizeLegibility;
    text-transform: none;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    font-smoothing: antialiased
}

.m-nav .m-nav__item > .m-nav__link .m-nav__link-arrow:before {
    content: ""
}

.m-nav .m-nav__item > .m-nav__link.collapsed .m-nav__link-arrow {
    font-family: LineAwesome;
    text-decoration: inherit;
    text-rendering: optimizeLegibility;
    text-transform: none;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    font-smoothing: antialiased
}

.m-nav .m-nav__item > .m-nav__link.collapsed .m-nav__link-arrow:before {
    content: ""
}

.m-nav .m-nav__item.m-nav__item--disabled {
    cursor: not-allowed
}

.m-nav .m-nav__item.m-nav__item--last {
    padding-bottom: 0
}

.m-nav .m-nav__section {
    display: table;
    width: 100%;
    vertical-align: middle;
    margin: 25px 0 0 0
}

.m-nav .m-nav__section.m-nav__section--first {
    margin-top: 0
}

.m-nav .m-nav__section.m-nav__section--last {
    margin-bottom: 0
}

.m-nav .m-nav__section .m-nav__section-text {
    display: table-cell;
    margin: 0;
    vertical-align: middle;
    font-weight: 600;
    font-size: .8rem;
    text-transform: uppercase
}

.m-nav .m-nav__section .m-nav__section-icon {
    display: none;
    text-align: center;
    vertical-align: middle;
    font-size: 1.3rem
}

.m-nav .m-nav__item + .m-nav__section {
    margin-top: 20px
}

.m-nav .m-nav__separator {
    height: 0;
    margin: 15px 0
}

.m-nav.m-nav--inline {
    display: inline-block;
    width: auto;
    height: 100%
}

.m-nav.m-nav--inline.m-nav--fluid {
    width: 100%
}

.m-nav.m-nav--inline > .m-nav__item {
    height: 100%;
    display: inline-block;
    vertical-align: middle;
    padding: 0 0 0 25px
}

.m-nav.m-nav--inline > .m-nav__item:first-child {
    padding-left: 0
}

.m-nav.m-nav--inline > .m-nav__item > .m-nav__link {
    width: auto;
    padding: 9px 0
}

.m-nav.m-nav--inline > .m-nav__item > .m-nav__link .m-nav__link-icon {
    padding-right: 10px
}

.m-nav.m-nav--inline > .m-nav__item > .m-nav__link .m-nav__link-bullet {
    padding-right: 10px
}

.m-nav.m-nav--inline > .m-nav__item.m-nav__item--last {
    padding-right: 0
}

.m-nav.m-nav--inline > .m-nav__item.m-nav__item--last > .m-nav__link .m-nav__link-icon {
    text-align: right;
    padding-right: 0
}

.m-nav.m-nav--inline > .m-nav__item.m-nav__item--last > .m-nav__link .m-nav__link-bullet {
    text-align: right;
    padding-right: 0
}

.m-nav.m-nav--inline > .m-nav__separator {
    height: auto;
    display: inline-block;
    vertical-align: middle;
    padding: 0 0 0 5px;
    margin: 0
}

.m-nav.m-nav--hover-bg .m-nav__item > .m-nav__link {
    padding: 12px 30px
}

.m-nav.m-nav--hover-bg .m-nav__section {
    margin: 20px 30px
}

.m-nav.m-nav--hover-bg .m-nav__separator {
    margin: 30px 30px
}

.m-nav.m-nav--hover-bg .m-nav__separator.m-nav__separator--fit {
    margin-left: 0;
    margin-right: 0
}

.m-nav.m-nav--active-bg .m-nav__item > .m-nav__link {
    padding-left: 1.5rem;
    padding-right: 1.5rem
}

.m-nav.m-nav--active-bg .m-nav__item > .m-nav__sub {
    padding-left: 1.75rem
}

.m-nav.m-nav--active-bg.m-nav--active-bg-padding-lg .m-nav__item > .m-nav__link {
    padding: .85rem 2rem
}

.m-nav.m-nav--active-bg.m-nav--active-bg-padding-lg .m-nav__item > .m-nav__sub {
    padding-left: 2rem
}

.m-nav.m-nav--font-lg .m-nav__item > .m-nav__link .m-nav__link-text {
    font-size: 1.1rem
}

.m-nav.m-nav--font-bold .m-nav__item > .m-nav__link .m-nav__link-text {
    font-weight: 400
}

.m-nav .m-nav__item > .m-nav__link .m-nav__link-text {
    color: #6f777d;
    font-weight: 400
}

.m-nav .m-nav__item > .m-nav__link .m-nav__link-arrow {
    color: #6f777d
}

.m-nav .m-nav__item > .m-nav__link .m-nav__link-icon {
    color: #bfc8d0
}

.m-nav .m-nav__item > .m-nav__link .m-nav__link-bullet.m-nav__link-bullet--dot > span, .m-nav .m-nav__item > .m-nav__link .m-nav__link-bullet.m-nav__link-bullet--line > span {
    background-color: #ced5db
}

.m-nav .m-nav__item.m-nav__item--active > .m-nav__link .m-nav__link-arrow, .m-nav .m-nav__item.m-nav__item--active > .m-nav__link .m-nav__link-icon, .m-nav .m-nav__item.m-nav__item--active > .m-nav__link .m-nav__link-text, .m-nav .m-nav__item:hover:not(.m-nav__item--disabled) > .m-nav__link .m-nav__link-arrow, .m-nav .m-nav__item:hover:not(.m-nav__item--disabled) > .m-nav__link .m-nav__link-icon, .m-nav .m-nav__item:hover:not(.m-nav__item--disabled) > .m-nav__link .m-nav__link-text {
    color: #6aa0ca
}

.m-nav .m-nav__item.m-nav__item--active > .m-nav__link .m-nav__link-bullet.m-nav__link-bullet--dot > span, .m-nav .m-nav__item.m-nav__item--active > .m-nav__link .m-nav__link-bullet.m-nav__link-bullet--line > span, .m-nav .m-nav__item:hover:not(.m-nav__item--disabled) > .m-nav__link .m-nav__link-bullet.m-nav__link-bullet--dot > span, .m-nav .m-nav__item:hover:not(.m-nav__item--disabled) > .m-nav__link .m-nav__link-bullet.m-nav__link-bullet--line > span {
    background-color: #6aa0ca
}

.m-nav.m-nav__item--disabled {
    opacity: .7
}

.m-nav .m-nav__section .m-nav__section-text {
    color: #6aa0ca
}

.m-nav .m-nav__section .m-nav__section-icon {
    color: #575d62
}

.m-nav .m-nav__separator {
    border-bottom: 1px solid #f4f5f8
}

.m-nav .m-nav__separator.m-nav__separator--dashed {
    border-bottom: 1px dashed #ebedf2
}

.m-nav.m-nav--hover-bg .m-nav__item.m-nav__item--active > .m-nav__link, .m-nav.m-nav--hover-bg .m-nav__item:hover > .m-nav__link {
    background-color: #f7f8fa
}

.m-nav.m-nav--active-bg .m-nav__item.m-nav__item--active > .m-nav__link {
    -webkit-border-radius: 2rem;
    -moz-border-radius: 2rem;
    -ms-border-radius: 2rem;
    -o-border-radius: 2rem;
    border-radius: 2rem;
    background-color: #f7f8fa
}

.m-nav.m-nav--active-bg .m-nav__item.m-nav__item--active > .m-nav__link .m-nav__link-text {
    color: #6aa0ca
}

.m-nav.m-nav--active-bg .m-nav__item.m-nav__item--active > .m-nav__link.collapsed {
    background-color: #fff
}

.m-nav.m-nav--active-bg .m-nav__item.m-nav__item--active > .m-nav__link.collapsed .m-nav__link-text {
    color: #899096
}

.m-nav.m-nav--active-bg .m-nav__item > .m-nav__link.m-tabs__item--active {
    -webkit-border-radius: 2rem;
    -moz-border-radius: 2rem;
    -ms-border-radius: 2rem;
    -o-border-radius: 2rem;
    border-radius: 2rem;
    background-color: #f7f8fa
}

.m-nav.m-nav--active-bg .m-nav__item > .m-nav__link.m-tabs__item--active .m-nav__link-text {
    color: #6aa0ca
}

.m-nav.m-nav--font-bold .m-nav__item > .m-nav__link .m-nav__link-text {
    color: #899096
}

.m-nav.m-nav--inline .m-nav__separator {
    border-bottom: 0
}

.m-nav.m-nav--skin-dark .m-nav__item > .m-nav__link .m-nav__link-text {
    color: #909fac;
    font-weight: 400
}

.m-nav.m-nav--skin-dark .m-nav__item > .m-nav__link .m-nav__link-arrow {
    color: #909fac
}

.m-nav.m-nav--skin-dark .m-nav__item > .m-nav__link .m-nav__link-icon {
    color: #f1f5f9
}

.m-nav.m-nav--skin-dark .m-nav__item > .m-nav__link .m-nav__link-bullet.m-nav__link-bullet--dot > span, .m-nav.m-nav--skin-dark .m-nav__item > .m-nav__link .m-nav__link-bullet.m-nav__link-bullet--line > span {
    background-color: #dfe9f1
}

.m-nav.m-nav--skin-dark .m-nav__item.m-nav__item--active > .m-nav__link .m-nav__link-arrow, .m-nav.m-nav--skin-dark .m-nav__item.m-nav__item--active > .m-nav__link .m-nav__link-icon, .m-nav.m-nav--skin-dark .m-nav__item.m-nav__item--active > .m-nav__link .m-nav__link-text, .m-nav.m-nav--skin-dark .m-nav__item:hover:not(.m-nav__item--disabled) > .m-nav__link .m-nav__link-arrow, .m-nav.m-nav--skin-dark .m-nav__item:hover:not(.m-nav__item--disabled) > .m-nav__link .m-nav__link-icon, .m-nav.m-nav--skin-dark .m-nav__item:hover:not(.m-nav__item--disabled) > .m-nav__link .m-nav__link-text {
    color: #6aa0ca
}

.m-nav.m-nav--skin-dark .m-nav__item.m-nav__item--active > .m-nav__link .m-nav__link-bullet.m-nav__link-bullet--dot > span, .m-nav.m-nav--skin-dark .m-nav__item.m-nav__item--active > .m-nav__link .m-nav__link-bullet.m-nav__link-bullet--line > span, .m-nav.m-nav--skin-dark .m-nav__item:hover:not(.m-nav__item--disabled) > .m-nav__link .m-nav__link-bullet.m-nav__link-bullet--dot > span, .m-nav.m-nav--skin-dark .m-nav__item:hover:not(.m-nav__item--disabled) > .m-nav__link .m-nav__link-bullet.m-nav__link-bullet--line > span {
    background-color: #6aa0ca
}

.m-nav.m-nav--skin-dark.m-nav__item--disabled {
    opacity: .7
}

.m-nav.m-nav--skin-dark .m-nav__section .m-nav__section-text {
    color: #6aa0ca
}

.m-nav.m-nav--skin-dark .m-nav__section .m-nav__section-icon {
    color: #fff
}

.m-nav.m-nav--skin-dark .m-nav__separator {
    border-bottom: 1px solid #99a2aa
}

.m-nav.m-nav--skin-dark .m-nav__separator.m-nav__separator--dashed {
    border-bottom: 1px dashed #a1aab1
}

.m-nav.m-nav--skin-dark.m-nav--hover-bg .m-nav__item.m-nav__item--active > .m-nav__link, .m-nav.m-nav--skin-dark.m-nav--hover-bg .m-nav__item:hover > .m-nav__link {
    background-color: #96a0a8
}

.m-nav.m-nav--skin-dark.m-nav--active-bg .m-nav__item.m-nav__item--active > .m-nav__link {
    -webkit-border-radius: 2rem;
    -moz-border-radius: 2rem;
    -ms-border-radius: 2rem;
    -o-border-radius: 2rem;
    border-radius: 2rem;
    background-color: #96a0a8
}

.m-nav.m-nav--skin-dark.m-nav--active-bg .m-nav__item.m-nav__item--active > .m-nav__link .m-nav__link-text {
    color: #6aa0ca
}

.m-nav.m-nav--skin-dark.m-nav--active-bg .m-nav__item.m-nav__item--active > .m-nav__link.collapsed {
    background-color: #fff
}

.m-nav.m-nav--skin-dark.m-nav--active-bg .m-nav__item.m-nav__item--active > .m-nav__link.collapsed .m-nav__link-text {
    color: #738696
}

.m-nav.m-nav--skin-dark.m-nav--active-bg .m-nav__item > .m-nav__link.m-tabs__item--active {
    -webkit-border-radius: 2rem;
    -moz-border-radius: 2rem;
    -ms-border-radius: 2rem;
    -o-border-radius: 2rem;
    border-radius: 2rem;
    background-color: #96a0a8
}

.m-nav.m-nav--skin-dark.m-nav--active-bg .m-nav__item > .m-nav__link.m-tabs__item--active .m-nav__link-text {
    color: #6aa0ca
}

.m-nav.m-nav--skin-dark.m-nav--font-bold .m-nav__item > .m-nav__link .m-nav__link-text {
    color: #738696
}

.m-nav.m-nav--skin-dark.m-nav--inline .m-nav__separator {
    border-bottom: 0
}

.m-nav-grid {
    padding: 0;
    margin: 0;
    display: table;
    table-layout: fixed;
    width: 100%
}

.m-nav-grid > .m-nav-grid__row {
    display: table-row
}

.m-nav-grid > .m-nav-grid__row > .m-nav-grid__item {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    padding: 3.3rem .75rem
}

.m-nav-grid > .m-nav-grid__row > .m-nav-grid__item:hover {
    text-decoration: none
}

.m-nav-grid > .m-nav-grid__row > .m-nav-grid__item .m-nav-grid__icon {
    text-align: center;
    font-size: 35px
}

.m-nav-grid > .m-nav-grid__row > .m-nav-grid__item .m-nav-grid__text {
    display: block;
    line-height: 1;
    text-align: center;
    margin: 10px 0 0 0;
    font-size: 1rem;
    font-weight: 500
}

@media (max-width: 1024px) {
    .m-nav-grid > .m-nav-grid__row > .m-nav-grid__item {
        padding: 1rem .5rem
    }
}

.m-nav-grid .m-nav-grid__row .m-nav-grid__item {
    border-right: 1px solid #f4f5f8;
    border-bottom: 1px solid #f4f5f8
}

.m-nav-grid .m-nav-grid__row .m-nav-grid__item:last-child {
    border-right: 0
}

.m-nav-grid .m-nav-grid__row .m-nav-grid__item .m-nav-grid__icon {
    color: #c4c5d6
}

.m-nav-grid .m-nav-grid__row .m-nav-grid__item .m-nav-grid__text {
    color: #6aa0ca
}

.m-nav-grid .m-nav-grid__row .m-nav-grid__item:hover {
    background: #fdfeff
}

.m-nav-grid .m-nav-grid__row .m-nav-grid__item:hover .m-nav-grid__icon {
    color: #bfc8d0
}

.m-nav-grid .m-nav-grid__row:last-child .m-nav-grid__item {
    border-bottom: 0
}

.m-nav-grid.m-nav-grid--skin-dark .m-nav-grid__row .m-nav-grid__item {
    border-right: 1px solid #99a2aa;
    border-bottom: 1px solid #99a2aa
}

.m-nav-grid.m-nav-grid--skin-dark .m-nav-grid__row .m-nav-grid__item:last-child {
    border-right: 0
}

.m-nav-grid.m-nav-grid--skin-dark .m-nav-grid__row .m-nav-grid__item .m-nav-grid__icon {
    color: #c4c5d6
}

.m-nav-grid.m-nav-grid--skin-dark .m-nav-grid__row .m-nav-grid__item .m-nav-grid__text {
    color: #6aa0ca
}

.m-nav-grid.m-nav-grid--skin-dark .m-nav-grid__row .m-nav-grid__item:hover {
    background: #6b7781
}

.m-nav-grid.m-nav-grid--skin-dark .m-nav-grid__row .m-nav-grid__item:hover .m-nav-grid__icon {
    color: #f1f5f9
}

.m-nav-grid.m-nav-grid--skin-dark .m-nav-grid__row:last-child .m-nav-grid__item {
    border-bottom: 0
}

.m-nav-sticky {
    width: 40px;
    position: fixed;
    top: 35%;
    right: 0;
    list-style: none;
    padding: 5px 0;
    margin: 0;
    z-index: 110;
    -webkit-border-radius: 8px 0 0 8px;
    -moz-border-radius: 8px 0 0 8px;
    -ms-border-radius: 8px 0 0 8px;
    -o-border-radius: 8px 0 0 8px;
    border-radius: 8px 0 0 8px
}

.m-nav-sticky .m-nav-sticky__item {
    margin: 0;
    padding: 5px;
    text-align: center
}

.m-nav-sticky .m-nav-sticky__item > a > i {
    font-size: 1.4rem
}

.m-nav-sticky .m-nav-sticky__item > a:hover {
    text-decoration: none
}

.m-nav-sticky {
    background: #fff;
    -webkit-box-shadow: 0 0 15px 1px rgba(64, 72, 78, .2);
    -moz-box-shadow: 0 0 15px 1px rgba(64, 72, 78, .2);
    box-shadow: 0 0 15px 1px rgba(64, 72, 78, .2)
}

.m-nav-sticky .m-nav-sticky__item > a > i {
    color: #bfc8d0
}

.m-nav-sticky .m-nav-sticky__item > a:hover > i {
    color: #7dacd1
}

.m-nav-sticky.m-nav-sticky--skin-dark {
    background: #555;
    -webkit-box-shadow: 0 0 15px 1px rgba(64, 72, 78, .4);
    -moz-box-shadow: 0 0 15px 1px rgba(64, 72, 78, .4);
    box-shadow: 0 0 15px 1px rgba(64, 72, 78, .4)
}

.m-nav-sticky.m-nav-sticky--skin-dark .m-nav-sticky__item > a > i {
    color: #f1f5f9
}

.m-nav-sticky.m-nav-sticky--skin-dark .m-nav-sticky__item > a:hover > i {
    color: #7dacd1
}