
.m-radio > span {
    -webkit-border-radius: 50% !important;
    -moz-border-radius: 50% !important;
    -ms-border-radius: 50% !important;
    -o-border-radius: 50% !important;
    border-radius: 50% !important
}

.m-radio > span:after {
    top: 50%;
    left: 50%;
    margin-left: -3px;
    margin-top: -3px;
    height: 6px;
    width: 6px;
    border-radius: 100% !important
}

.m-radio.m-radio--single {
    width: 18px;
    height: 18px
}

.m-radio.m-radio--single > span {
    top: 0
}

td > .m-radio.m-radio--single, th > .m-radio.m-radio--single {
    right: -5px
}
