<div class="amounts-container">
    <commission-amount-block [title]="ls.l('Referral.TotalsAmountsPosted')" color="#e2efda">
        <commission-amount-item [label]="ls.l('Referral.Earned')"
                                [value]="ledgerTotals?.earnedAmount">
        </commission-amount-item>
        <commission-amount-item [label]="ls.l('Referral.Withdrawn')"
                                [value]="ledgerTotals?.withdrawnAmount"
                                valueColor="#30b862">
        </commission-amount-item>
    </commission-amount-block>
    <commission-amount-block [title]="ls.l('Referral.PendingAmounts')" color="#fff2cc">
        <commission-amount-item [label]="ls.l('Referral.Earned')"
                                [value]="ledgerTotals?.pendingEarningsAmount">
        </commission-amount-item>
        <commission-amount-item [label]="ls.l('Referral.Withdrawn')"
                                [value]="ledgerTotals?.pendingWithdrawalsAmount"
                                valueColor="#30b862">
        </commission-amount-item>
    </commission-amount-block>
    <commission-amount-block [title]="ls.l('Referral.Available')"
                             color="#c6e0b4">
        <commission-amount-item [label]="ls.l('Referral.Balance')"
                                [value]="ledgerTotals?.availableBalance">
        </commission-amount-item>
    </commission-amount-block>
</div>
<button class="request-withdrawal" (click)="requestWithdrawal()">{{ ls.l('Referral.RequestWithdrawal') }}</button>