<div class="amounts-container">
    <div class="funds-amounts">
        <div>
            <h1>{{ls.l('You have funds available!')}}</h1>
            <h3>{{ls.l('Great Job! You have funds available to withdraw')}}</h3>
        </div>
        <div class="amounts">
            <div class="posted">
                <h3>{{ ls.l('Referral.TotalsAmountsPosted') }}</h3>
                <div class="earned">
                    <h4><img src="assets/common/icons/earnings.svg">{{ ls.l('Referral.Earned') }}</h4>
                    <p>{{ ledgerTotals?.earnedAmount | currency }}</p>
                </div>
                <div class="withdrawn">
                    <h4><img src="assets/common/icons/profits.svg">{{ ls.l('Referral.Withdrawn') }}</h4>
                    <p class="green">{{ ledgerTotals?.withdrawnAmount | currency }}</p>
                </div>
            </div>
            <div class="pending">
                <h3>{{ ls.l('Referral.PendingAmounts') }}</h3>
                <div class="earned">
                    <h4><img src="assets/common/icons/earnings.svg">{{ ls.l('Referral.Earned') }}</h4>
                    <p>{{ ledgerTotals?.pendingEarningsAmount | currency }}</p>
                </div>
                <div class="withdrawn">
                    <h4><img src="assets/common/icons/profits.svg">{{ ls.l('Referral.Withdrawn') }}</h4>
                    <p class="green">{{ ledgerTotals?.pendingWithdrawalsAmount | currency }}</p>
                </div>
            </div>            
        </div>
    </div>
    <div class="funds-available" [ngClass]="{active: !!ledgerTotals?.availableBalance}">
        <div class="available">
            <img src="assets/common/icons/lock.svg" width="25" height="auto">
            <h3>{{ls.l('Referral.Available')}}</h3>
            <p class="amount">{{ ledgerTotals?.availableBalance | currency }}</p>
        </div>
    </div>
    <div class="funds-withdraw">
        <button class="request-withdrawal"
                [ngClass]="{active: !!ledgerTotals?.availableBalance}"                    
                [disabled]="ledgerTotals?.availableBalance <= 0"
                (click)="requestWithdrawal()">
            {{ ls.l('Referral.RequestWithdrawal') }}
        </button>
        <div class="payment-method" *ngIf="paymentSetting">
            <div class="pay-pal" *ngIf="paymentSetting?.type == paymentSettingType.PayPal">
                <span>{{ls.l('You\'re connected with')}}<img src="assets/common/icons/paypal-logo.png" width="40px" height="auto"></span>
                <p class="email">{{paymentSettingType?.emailAddress}}</p>
            </div>
            <div class="bank-transfer" *ngIf="paymentSetting?.type == paymentSettingType.BankTransfer">
                <span>{{ls.l('You have Bank Transfer account configured!')}}</span>
            </div>
        </div>
    </div>
</div>