<div #bankTransferSettingsContainer class="bankTransferSettingsContainer">
    <div class="sections">
        <div class="request-step">
            <dx-check-box
                width="430px"
                [(value)]="requireInstructionEnabled"
                [text]="ls.l('SendPaymentByWireTransfer')">
            </dx-check-box>
            <p>{{ls.l('PleaseSendWireInstructions')}}</p>
        </div>
    </div>
</div>
<payment-options-footer
    [submitButtonText]="ls.l('RequestWireInstructions')"
    [submitButtonDisabled]="!requireInstructionEnabled"
    (onSubmit)="submit()">
</payment-options-footer>
