:host {
    button {
        cursor: pointer;
        font-size: 20px;
        font-weight: 600;
        border-radius: 10px;
        padding: 13px 33px;
        border: 1px solid transparent;
        transition: color 0.3s, background-color 0.3s, border-color 0.3s;
        color: #fff;
        background-color: #0A66C2;

        &:hover {
            opacity: .7;
        }
    }
}
