::ng-deep .grouped-action-menu {
    padding: 0 !important;
    .dx-list-group {
        &:first-child,
        &:last-child {
            .dx-list-group-body {
                display: flex;
            }
        }
    }

    .dx-list-group-header {
        padding: 0;
        border-bottom: 0;
    }

    .dx-list-item-content {
        padding: 10px 25px;
    }
}