@font-face {font-family: "AvianoSans-Bla";
    src: url("https://db.onlinewebfonts.com/t/eb2ece7675a45bbaedddfe6287ff6e22.eot"); /* IE9*/
    src: url("https://db.onlinewebfonts.com/t/eb2ece7675a45bbaedddfe6287ff6e22.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("https://db.onlinewebfonts.com/t/eb2ece7675a45bbaedddfe6287ff6e22.woff2") format("woff2"), /* chrome firefox */
    url("https://db.onlinewebfonts.com/t/eb2ece7675a45bbaedddfe6287ff6e22.woff") format("woff"), /* chrome firefox */
    url("https://db.onlinewebfonts.com/t/eb2ece7675a45bbaedddfe6287ff6e22.ttf") format("truetype"), /* chrome firefox opera Safari, Android, iOS 4.2+*/
    url("https://db.onlinewebfonts.com/t/eb2ece7675a45bbaedddfe6287ff6e22.svg#AvianoSans-Bla") format("svg"); /* iOS 4.1- */
}

@font-face {font-family: "AvianoSans-Reg";
    src: url("https://db.onlinewebfonts.com/t/ab616f1fc4bd8383a8f37ca0241e5bf5.eot"); /* IE9*/
    src: url("https://db.onlinewebfonts.com/t/ab616f1fc4bd8383a8f37ca0241e5bf5.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("https://db.onlinewebfonts.com/t/ab616f1fc4bd8383a8f37ca0241e5bf5.woff2") format("woff2"), /* chrome firefox */
    url("https://db.onlinewebfonts.com/t/ab616f1fc4bd8383a8f37ca0241e5bf5.woff") format("woff"), /* chrome firefox */
    url("https://db.onlinewebfonts.com/t/ab616f1fc4bd8383a8f37ca0241e5bf5.ttf") format("truetype"), /* chrome firefox opera Safari, Android, iOS 4.2+*/
    url("https://db.onlinewebfonts.com/t/ab616f1fc4bd8383a8f37ca0241e5bf5.svg#AvianoSans-Reg") format("svg"); /* iOS 4.1- */
}

@font-face {font-family: "AvianoSans-Bol";
    src: url("https://db.onlinewebfonts.com/t/50c3e3312ad97661534febdc1c81aeff.eot"); /* IE9*/
    src: url("https://db.onlinewebfonts.com/t/50c3e3312ad97661534febdc1c81aeff.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("https://db.onlinewebfonts.com/t/50c3e3312ad97661534febdc1c81aeff.woff2") format("woff2"), /* chrome firefox */
    url("https://db.onlinewebfonts.com/t/50c3e3312ad97661534febdc1c81aeff.woff") format("woff"), /* chrome firefox */
    url("https://db.onlinewebfonts.com/t/50c3e3312ad97661534febdc1c81aeff.ttf") format("truetype"), /* chrome firefox opera Safari, Android, iOS 4.2+*/
    url("https://db.onlinewebfonts.com/t/50c3e3312ad97661534febdc1c81aeff.svg#AvianoSans-Bol") format("svg"); /* iOS 4.1- */
}
