<div [@routerTransition]>
    <app-headline 
        [buttons]="[]"
        [showToggleCompactViewButton]="true"
        [showReloadButton]="ui.showReload"
        [showToggleToolbarButton]="true"
        [showToggleFullScreenButton]="true"
        [showToggleColumnSelectorButton]="true"
        (onReload)="refresh()"
        (onToggleToolbar)="toggleToolbar()"
        (onToggleCompactView)="toggleCompactView()"
        (onToggleFullScreen)="repaintDataGrid(100)"
        (onToggleColumnSelector)="toggleColumnChooser()">
        <types-dropdown 
            [items]="pipelineTypes$ | async"
            [showTotalCount]="true"
            [totalCount]="totalCount"
            [totalErrorMsg]="totalErrorMsg"
            [allowEdit]="false"
            [value]="selectedPipelineId$ | async"
            (onValueChanged)="onSelectedPipelineChanged($event)">
        </types-dropdown>
    </app-headline>
    <app-toolbar [config]="toolbarConfig" [hidden]="appService.toolbarIsHidden$ | async"></app-toolbar>
    <div class="main-wrapper">
        <action-menu [items]="actionMenuGroups"
                     [visible]="actionEvent"
                     [grouped]="true"
                     class="grouped-action-menu"
                     width="300px"
                     (onItemClick)="onMenuItemClick($event)">
        </action-menu>
        <app-static-list #stageList
                width="210px"
                [title]="l('Stages')"
                [selectedKeys]="selectedClientKeys"
                [filterModel]="filterModelStages"
                [bulkUpdatePermissionKey]="permissions.CRMBulkUpdates"
                [updateConfirmationTitle]="l('LeadStatusUpdateConfirmationTitle')"
                [updateConfirmationMessage]="l('LeadsUpdateStatusWarningMessage')"
                targetSelector="[aria-label='{{l('Toolbar_Stage')}}']"
                [funnelStyling]="true"
                [list]="stages">
        </app-static-list>
        <tags-list [selectedKeys]="selectedClientKeys" [bulkUpdateMode]="true" [filterModel]="filterModelTags" [managePermission]="manageCGPermision"></tags-list>
        <lists-list [selectedKeys]="selectedClientKeys" [bulkUpdateMode]="true" [filterModel]="filterModelLists" [managePermission]="manageCGPermision"></lists-list>
        <rating [selectedKeys]="selectedClientKeys" [bulkUpdateMode]="true" [filterModel]="filterModelRating" [managePermission]="manageCGPermision"></rating>
        <crm-stars-list [selectedKeys]="selectedClientKeys"
                        [bulkUpdateMode]="true"
                        [filterModel]="filterModelStar"
                        [hideButtons]="false">
        </crm-stars-list>
        <div class="portlet light no-padding margin-bottom-0">
            <div class="portlet-body">
                <div>
                    <div id="LeadsTable">
                        <ghost-list *ngIf="!isDataLoaded"></ghost-list>
                        <dx-data-grid
                                class="limitedPagerTotal main-component-view"
                                accessKey="narrowHeaderPanel"
                                noDataText=""
                                [renderAsync]="true"
                                [allowColumnReordering]="true"
                                [columnAutoWidth]="true"
                                [cacheEnabled]="false"
                                [remoteOperations]="{
                                    filtering: false,
                                    grouping: false,
                                    groupPaging: true,
                                    paging: true,
                                    sorting: true,
                                    summary: true
                                }"
                                [allowColumnResizing]="true"
                                [loadPanel]="{ enabled: false }"
                                [hoverStateEnabled]="true"
                                [columnChooser]="{
                                    height: rowsViewHeight
                                }"
                                [pager]="defaultGridPagerConfig"
                                (onOptionChanged)="onGridOptionChanged($event)"
                                (onContentReady)="onContentReady($event)"
                                (onCellClick)="onCellClick($event)"
                                (onEditingStart)="toggleActionsMenu($event)"
                                (onSelectionChanged)="onSelectionChanged($event)"
                                (onDataErrorOccurred)="httpInterceptor.handleError($event.error)">
                            <dxo-selection
                                    selectAllMode="page"
                                    showCheckBoxesMode="always"
                                    mode="multiple">
                            </dxo-selection>
                            <dxo-editing mode="popup"
                                [texts]="{ editRow: '' }"
                                [popup]="{ onShowing: onShowingPopup, height: '0', width: '0' }"
                                [allowUpdating]="true">
                            </dxo-editing>
                            <dxo-scrolling rowRenderingMode="virtual"></dxo-scrolling>
                            <dxi-column cssClass="stars" [width]="40" [showInColumnChooser]="false" [allowExporting]="false"></dxi-column>
                            <dxi-column [dataField]="leadFields.Id" [caption]="l('Id')" cssClass="tabular clipboard-holder" [visible]="false" sortOrder="desc"></dxi-column>
                            <dxi-column [dataField]="leadFields.CustomerId" [caption]="l('ContactId')" cssClass="clipboard-holder" [visible]="false"></dxi-column>
                            <dxi-column [dataField]="leadFields.UserId" [caption]="l('UserId')" cssClass="clipboard-holder" [visible]="false"></dxi-column>
                            <dxi-column [dataField]="leadFields.PhotoPublicId"
                                        caption=""
                                        cellTemplate="photoTemplate"
                                        [width]="50"
                                        [showInColumnChooser]="false"
                                        [allowExporting]="false"
                                        [allowGrouping]="false"
                                        [allowSorting]="false">
                            </dxi-column>
                            <div *dxTemplate="let data of 'photoTemplate'">
                                <div [ngStyle]="{'background-image': 'url(' + profileService.getContactPhotoUrl(data.data.PhotoPublicId) + ')'}" class="img-circle"></div>
                            </div>
                            <dxi-column [dataField]="leadFields.Name" [caption]="l('Customer.Name')" cssClass="clipboard-holder"></dxi-column>
                            <dxi-column [dataField]="leadFields.CompanyName" [caption]="l('Customer.CompanyName')" cssClass="clipboard-holder"></dxi-column>
                            <dxi-column [dataField]="leadFields.Email" [caption]="l('Contact.Email')" cssClass="clipboard-holder"></dxi-column>
                            <dxi-column [dataField]="leadFields.Phone" [caption]="l('Contact.Phone')" cellTemplate="phoneCell" cssClass="tabular"></dxi-column>
                            <dxi-column [dataField]="leadFields.City" [caption]="l('Contact.City')" cssClass="clipboard-holder"></dxi-column>
                            <dxi-column [dataField]="leadFields.State" [caption]="l('State')" cssClass="clipboard-holder"></dxi-column>
                            <dxi-column [dataField]="leadFields.Stage" [caption]="l('Stage')" cssClass="clipboard-holder"></dxi-column>

                            <dxi-column [dataField]="leadFields.LeadDate" [caption]="l('Created')" cellTemplate="dateCell" cssClass="tabular"></dxi-column>
                            <dxi-column [dataField]="leadFields.SourceAffiliateCode" [caption]="l('SourceAffiliateCode')" [visible]="false" cssClass="clipboard-holder"></dxi-column>
                            <dxi-column [dataField]="leadFields.SourceCampaignCode" [caption]="l('CampaignCode')" [visible]="false" cssClass="clipboard-holder"></dxi-column>
                            <dxi-column [dataField]="leadFields.SourceChannelCode" [caption]="l('ChannelCode')" [visible]="false" cssClass="clipboard-holder"></dxi-column>
                            <dxi-column [dataField]="leadFields.EntryUrl" [caption]="l('EntryUrl')" [visible]="false" cssClass="clipboard-holder"></dxi-column>
                            <dxi-column [dataField]="leadFields.LastModificationTime" [caption]="l('ModificationDate')" [visible]="false" cellTemplate="dateCell" cssClass="tabular"></dxi-column>
                            <dxi-column [dataField]="leadFields.SourceCode" [caption]="l('SourceCode')" [visible]="false" cssClass="clipboard-holder"></dxi-column>
                            <dxi-column [dataField]="leadFields.StreetAddress" [caption]="l('Contact.StreetAddress')" [visible]="false" cssClass="clipboard-holder"></dxi-column>
                            <dxi-column [dataField]="leadFields.ZipCode" [caption]="l('Contact.Zip')" [visible]="false" cssClass="tabular clipboard-holder"></dxi-column>
                            <dxi-column [dataField]="leadFields.Website" [caption]="l('Website')" [visible]="false" cssClass="clipboard-holder"></dxi-column>
                            <dxi-column [dataField]="leadFields.PhoneExtension" [caption]="l('Contact.PhoneExtension')" [visible]="false" cssClass="tabular clipboard-holder"></dxi-column>
                            <dxi-column [dataField]="leadFields.Title" [caption]="l('Title')" [visible]="false" cssClass="clipboard-holder"></dxi-column>
                            <dxi-column [dataField]="leadFields.ContactXref" [caption]="l('ContactXref')" [visible]="false" cssClass="clipboard-holder"></dxi-column>
                            <dxi-column [dataField]="leadFields.ContactAffiliateCode" [caption]="l('ContactAffiliateCode')" [visible]="false" cssClass="clipboard-holder"></dxi-column>
                            <dxi-column [dataField]="leadFields.SourceContactName" [caption]="l('SourceContactName')" [visible]="false" cssClass="clipboard-holder"></dxi-column>
                            <dxi-column [dataField]="leadFields.AssignedUserName" [caption]="l('Contact.AssignedUserName')" [visible]="false" cssClass="clipboard-holder"></dxi-column>
                            <div *dxTemplate="let cellData of 'phoneCell'" class="clipboard-holder">
                                {{cellData.value | phone}}
                            </div>
                            <div *dxTemplate="let cellData of 'dateCell'" class="clipboard-holder">
                                {{cellData.value | date: formatting.dateTime : userTimezone}}
                            </div>
                            <dxo-group-panel [visible]="true"></dxo-group-panel>
                            <dxo-sorting mode="multiple"></dxo-sorting>
                            <dxo-summary>
                                <dxi-group-item [column]="leadFields.Id"
                                                summaryType="count"
                                                [displayFormat]="'{0} ' + l('ContactGroup_Client').toLocaleLowerCase()">
                                </dxi-group-item>
                            </dxo-summary>
                        </dx-data-grid>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<app-no-data
    [hidden]="!isDataLoaded || totalRowCount"
    [showLink]="false">
</app-no-data>