<dx-tooltip [width]="width"
            [height]="height"
            [target]="targetSelector"
            [(visible)]="tooltipVisible">
    <div *dxTemplate="let data of 'content'">
        <div class="lists-tooltip-container">
            <div class="actions clearfix">
                <ng-content select="[custom-title]"></ng-content>
                <span class="title" [hidden]="!showTitle">{{title}}</span>
                <span class="filter-clear" [hidden]="!isFilteredItem()" (click)="applyFilter($event)">{{ls.l('ClearFilter')}}</span>
                <div [hidden]="hideButtons" class="apply">
                    <span class="filter-apply" [hidden]="!selectedItems?.length" (click)="apply()">{{ls.l('Apply')}}</span>
                </div>
            </div>
            <div class="custom-search" *ngIf="customSearchEnabled">
                <div class="dx-field">
                    <div class="dx-field-value w-100">
                        <dx-text-box #customSearch
                            [showClearButton]="true"
                            (onInput)="getNewListData($event, title)"
                            [placeholder]="ls.l('Search')">
                        </dx-text-box>
                    </div>
                </div>
            </div>
            <ng-content select="[custom-content]"></ng-content>
            <dx-list #staticList
                     [ngClass]="{
                        'funnel-styling': funnelStyling,
                        'highlightSelected': highlightSelected,
                        'unclicked': !selectedKeys?.length || (!highlightSelected && !checkPermissions()),
                        'disableHindmost': disableHindmost
                     }"
                     [searchEnabled]="searchEnabled && !customSearchEnabled"
                     [searchExpr]="searchExprType"
                     [searchTimeout]="1000"
                     [selectionMode]="selectionMode || (selectedKeys?.length ? 'single': 'none')"
                     [showSelectionControls]="showSelectionControls"
                     [dataSource]="list"
                     keyExpr="id"
                     [accessKey]="accessKey"
                     [height]="listHeight"
                     [selectedItemKeys]="selectedKeys"
                     [(selectedItems)]="selectedItems"
                     [pageLoadMode]="pageLoadMode"
                     (onContentReady)="onContentReady()"
                     (onInitialized)="onInitialized($event)"
                     (onOptionChanged)="onOptionChanged.emit($event)"
                     (onItemClick)="onItemClick($event)">
                <div *dxTemplate="let data of 'item'" [attr.filtered]="isFilteredItem(data)">
                    <div data-id="{{data.id}}"
                        class="item-row {{data.name.replace(whiteSpaceRegExp, '-') | lowercase}}"
                        [attr.index]="data.index > 5 ? 'positive' : data.index < -5 ? 'negative' : data.index">
                        <div [title]="data.displayName + (data.suffix ? ' ' + data.suffix : '') + (data.addition ? ' ' + data.addition : '')" class="item-text">
                            <span [ngClass]="{'head-line': data.hasOwnProperty('addition')}">{{data.displayName}}</span><span class="suffix" *ngIf="data.suffix">{{data.suffix}}</span>
                            <div *ngIf="data.addition" class="addition-line">{{data.addition}}</div>
                        </div>
                        <a *ngIf="filterModel"
                           class="dx-link dx-link-filter"
                           [title]="ls.l('Filter')"
                           (click)="applyFilter($event, data)">
                        </a>
                    </div>
                    <div [ngClass]="template" *ngIf="template =='bottomInput'" (click)="$event.stopPropagation()">
                        <div class="input-wrap">
                            <dx-text-box [(value)]="data.bottomInputValue" [showClearButton]="true"></dx-text-box>
                        </div>
                        <dx-button icon="check" (onClick)="setValue($event, data)"></dx-button>
                    </div>
                </div>
            </dx-list>
        </div>
    </div>
</dx-tooltip>
