<div [@routerTransition] class="login-wraper">
    <div *ngIf="!isRequestSent; else verification" class="m-login__signin">
        <div class="m-login__head">
            <h3 class="m-login__title">
                {{ls.l("ForgotPassword")}}
            </h3>
        </div>
        <form [hidden]="detectedTenancies" class="m-login__form m-form forget-form" #forgotPassForm="ngForm" method="post" novalidate (ngSubmit)="sendRequest()">
            <p>
                {{ls.l("SendPasswordResetLink_Information")}}
            </p>
            <div class="form-group m-form__group">
                <input #emailAddressInput="ngModel"
                       [(ngModel)]="model.emailAddress"
                       [ngModelOptions]="{updateOn: 'change'}"
                       autoFocus
                       class="form-control placeholder-no-fix"
                       type="text"
                       autocomplete="off"
                       placeholder="{{ls.l('EmailAddress')}} *"
                       name="emailAddress"
                       required
                       maxlength="256"
                       email
                       [pattern]="emailRegex" />
                <validation-messages [formCtrl]="emailAddressInput" [errorDefs]="[{pattern: ls.l('InvalidEmailAddress')}]"></validation-messages>
            </div>
            <div class="m-login__form-action">
                <button [disabled]="saving" routerLink="/account/login" type="button" class="back btn btn-outline-primary  m-btn m-btn--pill m-btn--custom"><i class="fa fa-arrow-left"></i> {{ls.l("Back")}}</button>
                <button type="submit" class="submit btn btn-primary m-btn m-btn--pill m-btn--custom m-btn--air" [ngClass]="{disabled: !form?.valid}">
                    <i class="fa fa-check"></i> {{ls.l("Submit")}}
                </button>
            </div>
        </form>
        <div *ngIf="detectedTenancies?.length > 1">
            <p>{{ls.l('SelectTenant_Information')}}</p>
            <div class="list-group">
                <a class="list-group-item list-group-item-action" *ngFor="let tenant of detectedTenancies" (click)="sendRequest(false, tenant.id)">
                    <h5 class="mb-1">{{tenant.name}}</h5>
                </a>
            </div>
        </div>
    </div>
    <ng-template #verification>
        <login-verification 
            [emailAddress]="model.emailAddress"
            (onCodeRefresh)="sendRequest(true)">
        </login-verification>
    </ng-template>
</div>