<div [@routerTransition] class="login-wraper">
    <div class="m-login__signin">
        <div class="m-login__head">
            <h3 class="m-login__title">
                {{ls.l("ForgotPassword")}}
            </h3>
        </div>
        <form class="m-login__form m-form forget-form" #forgotPassForm="ngForm" method="post" novalidate (ngSubmit)="save()">
            <p>
                {{ls.l("SendPasswordResetLink_Information")}}
            </p>
            <div class="form-group m-form__group">
                <input #emailAddressInput="ngModel" [(ngModel)]="model.emailAddress" [ngModelOptions]="{updateOn: 'blur'}" autoFocus class="form-control placeholder-no-fix" type="text" autocomplete="off" placeholder="{{ls.l('EmailAddress')}} *" name="emailAddress" required maxlength="256" email [pattern]="emailRegex"/>
                <validation-messages [formCtrl]="emailAddressInput" [errorDefs]="[{pattern: ls.l('InvalidEmailAddress')}]"></validation-messages>
            </div>
            <div class="m-login__form-action">

                <button [disabled]="saving" routerLink="/account/login" type="button" class="btn btn-outline-primary  m-btn m-btn--pill m-btn--custom"><i class="fa fa-arrow-left"></i> {{ls.l("Back")}}</button>
                <button type="submit" class="btn btn-primary m-btn m-btn--pill m-btn--custom m-btn--air"
                        [buttonBusy]="saving" [busyText]="ls.l('SavingWithThreeDot')"><i class="fa fa-check"></i> {{ls.l("Submit")}}</button>
            </div>
        </form>
    </div>
</div>
