:host {
    .autologin {
        position: relative;
        padding-right: 40px;

        @media all and (max-width: 450px) {
            min-width: 0;
            width: 95%;
        }
        
        img {
            position: absolute;
            right: 10px;
            top: 50%;
            transform: translateY(-50%);
        }
    }
}