<div class="entrance-page__content entrance-page__content--verification">
    <h1 class="entrance-page__title">
        {{ls.l('Login Verification')}}
    </h1>
    <span class="mailbox-info">
        {{ls.l('Please check your mailbox and enter the code below')}}:
    </span>
    <div class="entrance-page__form entrance-page__form--verification">
        <code-input #codeInput
                    (codeCompleted)="onCodeCompleted($event)"
                    [codeLength]="6"
                    [isCodeHidden]="false"
                    [isFocusingOnLastByClickIfFilled]="true"
                    class="code-with-dash">
        </code-input>
    </div>

    <div *ngIf="countDownTime >= CODE_TIME_LIVE"
         class="verification-message">
        <p>
            {{ls.l('This code has expired.')}}
        </p>
        <span (click)="requestNewCode()"
              class="verification-message__btn">
            {{ls.l('Request a new code!')}}
        </span>
    </div>
    <div class="verification-box">
        <div *ngIf="showResetButton"
             class="reset-wrap"
             id="code-block">
            <div (click)="resetCode()"
                 class="reset-button">{{ls.l('Reset')}}</div>
        </div>

        <ng-container *ngIf="countDownTime < CODE_TIME_LIVE">
            <p class="check-email">
                {{ls.l('Check Your Email for a code')}}
            </p>
            <div class="verification-box__text">
                <p class="entrance-page__subtitle entrance-page__subtitle--verification">
                    {{ls.l('The Auto login link and code were to sent to email address')}}:
                    <span class="verification-addres">
                        {{emailAddress}}
                    </span>
                </p>
                <div class="entrance-page__form-timer">
                    <span>
                        {{ls.l('The code will expire in')}} <span id="time">{{CODE_TIME_LIVE - countDownTime | date: 'mm:ss'}}</span> minutes.
                    </span>
                </div>
                <div class="entrance-page__emails-links">
                    <a href="https://mail.google.com/mail/u/0/" target="_blank">
                        {{ls.l('Open Gmail')}}
                    </a>
                    <a href="https://outlook.live.com/mail/0/inbox" target="_blank">
                        {{ls.l('Open Outlook')}}
                    </a>
                </div>
                <p>
                    {{ls.l('Can\'t find your code? Check your spam folder!')}}
                </p>
            </div>
        </ng-container>
    </div>
</div>