:host {
    .entrance-page__content {
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        max-width: 500px;
        width: 100%;
    }

    .entrance-page__content.is-hidden {
        display: none;
    }

    .entrance-page__content--login .entrance-page__form-input--email {
        border-radius: 6px 6px 0 0;
    }

    .entrance-page__content--verification {
        text-align: center;
    }

    .entrance-page__content--verification .mailbox-info {
        margin-bottom: 20px;
        display: block;
    }

    .entrance-page__content--verification .check-email {
        color: #310844;
        font-weight: 700;
        font-size: 26px;
        line-height: 34px;
        margin: 10px 0;
    }

    .entrance-page__content--verification .verification-input::-webkit-outer-spin-button, .entrance-page__content--verification .verification-input::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }

    .entrance-page__content--verification .reset-wrap {
        display: flex;
        justify-content: center;
        max-height: 0;
        margin-bottom: clamp(35px, 5vw, 55px);
        transition: max-height 0.2s;
    }

    .entrance-page__content--verification .reset-wrap.is-hidden {
        overflow: hidden;
    }

    .entrance-page__content--verification .reset-button {
        cursor: pointer;
        display: inline-block;
        transition: color 0.2s;
        font-weight: 500;
    }

    .entrance-page__content--verification .reset-button:hover {
        color: #561EF2;
    }

    .entrance-page__content--verification .verification-box {
        width: 100%;
    }

    .entrance-page__content--verification .verification-box.is-hidden {
        display: none;
    }

    .entrance-page__content--verification .verification-box__text {
        border-radius: 6px;
        border: 1px solid #D7DEEB;
        width: 100%;
        padding: 20px 10px;
    }

    .entrance-page__content--verification .verification-message {
        display: inline-flex;
        width: auto;
        align-items: center;
        gap: 10px;
        flex-wrap: wrap;
        font-weight: 500;
        background-color: #FCE7ED;
        padding: 10px 20px;
        border-radius: 6px;
        border: 1px solid #e48c8c;
        text-align: center;
        justify-content: center;
        margin-top: 20px;
    }

    .entrance-page__content--verification .verification-message p {
        color: #000;
        padding-left: 30px;
        position: relative;
        margin-bottom: 0;
    }

    .entrance-page__content--verification .verification-message p::before {
        position: absolute;
        content: "";
        width: 20px;
        height: 20px;
        left: 0;
        top: 49%;
        transform: translateY(-50%);
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
        background-image: url(../../assets/common/icons/warning.svg);
    }

    .entrance-page__content--verification .verification-message span {
        display: inline-block;
        color: #0c65d4;
        cursor: pointer;
    }

    .entrance-page__content--verification .verification-message.is-hidden {
        display: none;
    }

    .entrance-page__subtitle--verification {
        display: flex;
        flex-direction: column;
        text-align: center;
        margin-bottom: 10px;
    }

    .entrance-page__subtitle--verification .verification-addres {
        display: inline-block;
        color: #310844;
        font-weight: 500;
    }

    ::ng-deep .entrance-page__form.entrance-page__form--verification input {
        font-weight: 700;
    }

    .entrance-page__form-timer {
        text-align: center;
        margin-bottom: clamp(25px, 4vw, 45px);
        line-height: 1.3;
    }

    .entrance-page__form-timer #time {
        display: inline-block;
        font-weight: 700;
        color: #310844;
    }

    .entrance-page__emails-links {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: clamp(15px, 2vw, 28px);
        margin-bottom: 30px;
    }

    @media only screen and (max-width: 375px) {
        .entrance-page__emails-links {
            flex-direction: column;
            gap: 30px;
        }
    }

    .entrance-page__emails-links a {
        padding-left: 32px;
        position: relative;
        font-weight: 500;
        font-size: 16px;
        line-height: 21px;
        color: #310844;
    }

    .entrance-page__emails-links a::before {
        position: absolute;
        content: "";
        width: 24px;
        height: 24px;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
    }

    .entrance-page__emails-links a:nth-child(1):before {
        background-image: url(../../assets/common/icons/gmail-icon.svg);
    }

    .entrance-page__emails-links a:nth-child(2):before {
        background-image: url(../../assets/common/icons/outlook-icon.svg);
    }

    ::ng-deep code-input {
        &.code-with-dash {
            --item-spacing: 0;
            --item-border: 1px solid #d7deeb;
            --item-height: 70px;
            --item-shadow-focused: none;
            --item-border-radius: 0;

            * {
                font-size: clamp(25px, 3vw, 32px);
                text-transform: uppercase;
                font-weight: 700;
            }

            span {
                position: relative;

                &:nth-child(3) {
                    padding-right: 30px;

                    &::after {
                        content: '';
                        background: #d7deeb;
                        width: 14px;
                        height: 3px;
                        position: absolute;
                        right: 8px;
                        top: 50%;
                        margin-top: -1.5px;
                    }
                }

                &:nth-child(1),
                &:nth-child(4) {
                    input {
                        border-top-left-radius: 6px;
                        border-bottom-left-radius: 6px;
                    }
                }

                &:nth-child(3),
                &:nth-child(6) {
                    input {
                        border-top-right-radius: 6px;
                        border-bottom-right-radius: 6px;
                    }
                }
            }
        }
    }
}