:host {
    ::ng-deep .form-group {
        margin: 8px auto !important;
        &.icon-input {
            position: relative;

            &::before {
                content: '';
                display: block;
                position: absolute;
                left: 18px;
                top: 30px;
                transform: translateY(-50%);
                width: 18px;
                height: 18px;
                background: url(../../assets/images/icons/single-man.svg) no-repeat;
                background-size: contain;
            }

            &.icon-input__password {
                max-width: 400px;
                margin: 0 auto;
                padding: 15px 0;

                &::before {
                    left: 20px;
                    width: 14px;
                    height: 22px;
                    background: url(../../assets/images/icons/lock-circle.svg) no-repeat;
                    background-size: contain;
                }

                .show-password {
                    position: absolute;
                    right: 18px;
                    top: 50%;
                    transform: translateY(-50%);
                    font-size: 13px;
                    font-weight: 600;
                    line-height: 1.92;
                    letter-spacing: 0.2px;
                    color: rgba(117, 117, 117, 0.6);
                }
            }

            input {
                padding-left: 55px;
            }
        }
    }
}
