<div [@routerTransition] class="login-wraper">
    <div class="m-login__signin">
        <div class="m-login__head">
            <h3 class="m-login__title">
                {{ls.l("ChangePassword")}}
            </h3>
        </div>
        <form #resetPassForm="ngForm" class="m-login__form" method="post" (ngSubmit)="save()">
            <p>
                {{ls.l("PleaseEnterYourNewPassword")}}
            </p>

            <div class="form-group icon-input icon-input__password m-form__group">
                <input type="password" name="Password" class="form-control placeholder-no-fix"
                       [(ngModel)]="model.password"
                       [ngModelOptions]="{updateOn: 'blur'}"
                       #Password="ngModel" [placeholder]="ls.l('Password')" validateEqual="PasswordRepeat"
                       reverse="true" [requireDigit]="passwordComplexitySetting.requireDigit" [requireLowercase]="passwordComplexitySetting.requireLowercase"
                       [requireUppercase]="passwordComplexitySetting.requireUppercase" [requireNonAlphanumeric]="passwordComplexitySetting.requireNonAlphanumeric" [requiredLength]="passwordComplexitySetting.requiredLength"
                       required>
                <a class="show-password" (click)="togglePasswordVisibe($event, Password)"></a>
            </div>
            <div [hidden]="resetPassForm.form.valid || Password.pristine" class="form-group">
                <ul class="help-block text-danger" *ngIf="Password.errors">
                    <li [hidden]="!Password.errors.requireDigit">{{ls.l("PasswordComplexity_RequireDigit_Hint")}}</li>
                    <li [hidden]="!Password.errors.requireLowercase">{{ls.l("PasswordComplexity_RequireLowercase_Hint")}}</li>
                    <li [hidden]="!Password.errors.requireUppercase">{{ls.l("PasswordComplexity_RequireUppercase_Hint")}}</li>
                    <li [hidden]="!Password.errors.requireNonAlphanumeric">{{ls.l("PasswordComplexity_RequireNonAlphanumeric_Hint")}}</li>
                    <li [hidden]="!Password.errors.requiredLength">{{ls.l("PasswordComplexity_RequiredLength_Hint", passwordComplexitySetting.requiredLength)}}</li>
                </ul>
            </div>

            <div class="form-group icon-input icon-input__password m-form__group">
                <input type="password" name="PasswordRepeat" class="form-control placeholder-no-fix" [ngModel]="model.passwordRepeat" [ngModelOptions]="{updateOn: 'blur'}" #PasswordRepeat="ngModel" placeholder="{{ls.l('PasswordRepeat')}}" validateEqual="Password"
                       reverse="false" [requireDigit]="passwordComplexitySetting.requireDigit" [requireLowercase]="passwordComplexitySetting.requireLowercase"
                       [requireUppercase]="passwordComplexitySetting.requireUppercase" [requireNonAlphanumeric]="passwordComplexitySetting.requireNonAlphanumeric" [requiredLength]="passwordComplexitySetting.requiredLength"
                       required #passwordRepeat>
                <a class="show-password" (click)="togglePasswordVisibe($event, PasswordRepeat)"></a>
            </div>
            <div [hidden]="(resetPassForm.form.valid || PasswordRepeat.pristine)" class="form-group">
                <ul class="help-block text-danger" *ngIf="PasswordRepeat.errors">
                    <li [hidden]="!PasswordRepeat.errors.requireDigit">{{ls.l("PasswordComplexity_RequireDigit_Hint")}}</li>
                    <li [hidden]="!PasswordRepeat.errors.requireLowercase">{{ls.l("PasswordComplexity_RequireLowercase_Hint")}}</li>
                    <li [hidden]="!PasswordRepeat.errors.requireUppercase">{{ls.l("PasswordComplexity_RequireUppercase_Hint")}}</li>
                    <li [hidden]="!PasswordRepeat.errors.requireNonAlphanumeric">{{ls.l("PasswordComplexity_RequireNonAlphanumeric_Hint")}}</li>
                    <li [hidden]="!PasswordRepeat.errors.requiredLength">{{ls.l("PasswordComplexity_RequiredLength_Hint", passwordComplexitySetting.requiredLength)}}</li>
                    <li [hidden]="PasswordRepeat.valid">{{ls.l("PasswordsDontMatch")}}</li>
                </ul>
            </div>

            <div class="m-login__form-action">
                <button [disabled]="saving || !resetPassForm.form.valid" routerLink="/account/login" type="button" class="back btn btn-outline-primary  m-btn m-btn--pill m-btn--custom"><i class="fa fa-arrow-left"></i> {{ls.l("Back")}}</button>
                <button type="submit" class="submit btn btn-primary m-btn m-btn--pill m-btn--custom m-btn--air"
                        [buttonBusy]="saving" [busyText]="ls.l('SavingWithThreeDot')"><i class="fa fa-check"></i> {{ls.l("Submit")}}</button>
            </div>

        </form>
    </div>
</div>
