<mat-tab-group>
    <mat-tab [label]="ls.l('Referral.CommissionHistory')">
        <commission-history></commission-history>
    </mat-tab>
    <mat-tab [label]="ls.l('Referral.LedgerBalance')">
        <ledger-balance></ledger-balance>
    </mat-tab>
    <mat-tab [label]="ls.l('Referral.LinkGenerator')">
        <link-generator></link-generator>
    </mat-tab>
    <mat-tab [label]="ls.l('Referral.LinkTracking')" [hidden]="true">
        <link-tracking></link-tracking>
    </mat-tab>
</mat-tab-group>