:host {
    ::ng-deep .mat-tab-body-wrapper {
        padding: 0 0 0 50px;
        .mat-tab-body-content {
            display: flex;
            justify-content: space-between;
        }
    }
    .commission-history-wrapper {
        commission-amounts {
            margin-right: 20px;
        }
    }
    commission-amounts {
        margin-top: 20px;
    }
    referral-info {
        border-left: 1px solid #eee;
        height: calc(100vh - 124px);
    }
}