:host {
    ::ng-deep .mat-tab-body-wrapper {
        .mat-tab-body-content {
            display: flex;
            justify-content: space-between;
        }
    }
    commission-amounts {
        margin-right: 40px;
    }
    commission-amounts {
        margin-top: 20px;
    }
    referral-info {
        border-left: 1px solid #eee;
        height: calc(100vh - 124px);
    }
}