<app-header></app-header>

<div style="display: flex;">
    <user-menu *ngIf="!layoutService.showTopNavBar"></user-menu>
    <div class="page-container">    
        <div class="page-sidebar-wrapper" [ngClass]="{'show-sidebar-wrapper': filtersService.enabled}">
            <side-bar [ngClass]="{
                fullscreen: isFullscreenMode,
                toolbarIsHidden: appService.toolbarIsHidden$ | async
            }">
            </side-bar>
        </div>

        <div class="page-content-wrapper">
            <div class="page-content"
                [ngClass]="{'fixed-filters': filtersService.fixed, 'left-side-bar': !layoutService.showTopNavBar}">
                <router-outlet></router-outlet>
            </div>
        </div>
    </div>
</div>
