<user-photo [profilePictureUrl]="profilePictureUrl$ | async"></user-photo>
<mat-accordion displayMode="flat" [multi]="true">
    <mat-expansion-panel class="affiliate-info" [expanded]="true">
        <mat-expansion-panel-header>
            <mat-panel-title>{{ ls.l('AffiliateInfo') }}</mat-panel-title>
        </mat-expansion-panel-header>
        <div class="field">
            <inplace-edit lEntityName="Name"
                          [editPlaceholder]="ls.l('AffiliateEditPlaceholder')"
                          [value]="affiliateCode$ | async"
                          [showInlineEditButton]="true"
                          [isDeleteEnabled]="true"
                          [lDeleteConfirmTitle]="ls.l('DeleteContactHeader', ls.l('AffiliateCode'))"
                          [lDeleteConfirmMessage]="ls.l('DeleteContactMessage', ls.l('AffiliateCode').toLowerCase())"
                          [validationRules]="affiliateValidationRules"
                          (valueChanged)="updateAffiliateCode($event)"
                          (itemDeleted)="updateAffiliateCode('')">
            </inplace-edit>
        </div>
    </mat-expansion-panel>
    <ng-container *ngIf="sourceContactInfo$ | async as sourceContactInfo">
        <mat-expansion-panel *ngIf="sourceContactInfo.sourceContactLevel1 as sourceContactLevel1" class="source-info" [expanded]="true">
            <mat-expansion-panel-header>
                <mat-panel-title>{{ ls.l('SourceInfo') }}</mat-panel-title>
            </mat-expansion-panel-header>
            <div class="field">
                <label>{{ ls.l('PersonalSettings.Contact1') }}:</label>
                <div>
                    <div class="thumbnail">
                        <img [src]="getThumbnailSrc(sourceContactLevel1.photoPublicId)"/>
                    </div>
                    <div class="field-info">
                    <span *ngIf="sourceContactLevel1.name">{{ sourceContactLevel1.name }}
                        <i class="save-to-clipboard"
                           (click)="saveToClipboard($event, sourceContactLevel1.name)">
                        </i>
                    </span>
                        <div *ngIf="sourceContactLevel1.affiliateCode as affiliateCode" class="additional-info">
                            <span>{{ ls.l('AffiliateCode') }}: </span>
                            <span class="bold">{{ affiliateCode }}</span>
                        </div>
                        <hr/>
                    </div>
                </div>
            </div>
            <div *ngIf="(appService.isHostTenant || (appSession.tenant && appSession.tenant.tenancyName === 'BankCode' || appSession.tenant.tenancyName === 'performancepartners'))
                                            && sourceContactInfo.sourceContactLevel2 as sourceContactLevel2"
                     class="field">
                    <label>{{ ls.l('PersonalSettings.Contact2') }}:</label>
                    <div>
                        <div class="thumbnail">
                            <img [src]="getThumbnailSrc(sourceContactLevel2.photoPublicId)"/>
                        </div>
                        <div class="field-info">
                            <span *ngIf="sourceContactLevel2.name">{{ sourceContactLevel2.name }}
                                <i class="save-to-clipboard"
                                   (click)="saveToClipboard($event, sourceContactLevel2.name)">
                                </i>
                            </span>
                            <hr/>
                        </div>
                    </div>
                </div>
        </mat-expansion-panel>
    </ng-container>
</mat-accordion>