<div class="wrapper">
    <dx-tree-list
        [dataSource]="items.element.list"
        dataStructure="tree"
        height="calc(100vh - 172px)"
        keyExpr="id"
        parentIdExpr="parent"
        autoExpandAll="true"
        [loadPanel]="{ enabled: true, showPane: true, showIndicator: true }"
        [selection]="{ allowSelectAll: false, mode: 'multiple' }"
        [scrolling]="{ preloadEnabled: true, rowRenderingMode: 'virtual' }"
        (onSelectionChanged)="onSelect($event)"
        (onInitialized)="onInitialized($event)">
        <dxi-column dataField="name" caption=""></dxi-column>
    </dx-tree-list>
</div>
