<body class="d-flex flex-column">
<div id="page-content">
    <div class="container text-center">
        <div class="row justify-content-center">
            <div class="col-md-7 ">
                <h1 class="font-weight-light pt-20 text-white">Empty template</h1>
                <p class="lead text-white-50">Create your own site</p>
                <p class="lead text-white-50">For public parts, the router will be fixed later</p>
                <p>
                    <a routerLink="/account/login" class="btn btn-outline-dark">Login</a>
                </p>
            </div>
        </div>
    </div>
</div>
<footer id="sticky-footer" class="py-4 bg-dark text-white-50">
    <div class="container text-center">
        <small>Copyright &copy; Your Website</small>
    </div>
</footer>
</body>