<mat-dialog-content>
    <h3>{{ ls.l('Referral.RequestWithdrawal') }}</h3>
    <h4>{{ ls.l('Referral.WithdrawalDescription') }}</h4>
    <dx-number-box [(value)]="withdrawalAmount"
                   format="$ #,##0.##"
                   [placeholder]="ls.l('Referral.WithdrawalAmount')">
        <dx-validator>
            <dxi-validation-rule type="required"
                                 [message]="ls.l('Referral.AmountIsRequired')">
            </dxi-validation-rule>
            <dxi-validation-rule type="range"
                                 [max]="data.availableBalance"
                                 [message]="ls.l('Referral.YouCantRequestMoreThen', this.data.availableBalance | currency)">
            </dxi-validation-rule>
        </dx-validator>
    </dx-number-box>
    <div class="buttons">
        <button class="reset btn btn-secondary" (click)="reset()">{{ ls.l('Reset') }}</button>
        <button class="save btn btn-primary" (click)="save()">{{ ls.l('Save') }}</button>
    </div>
</mat-dialog-content>