:host {
    ::ng-deep .dx-template-wrapper {
        display: flex;
        align-items: center;
        &:before {
            content: url('../../../../assets/common/icons/sort-icon-down.svg');
            height: 14px;
            margin-right: 6px;
        }
        .dx-texteditor-buttons-container {
            display: none;
        }
    }

    ::ng-deep .dx-texteditor-buttons-container {
        display: none;
    }
;
}
