<div *ngIf="value && label">{{ label }}</div>
<div [hidden]="isEditModeEnabled"
     class="inplace-edit-view-mode {{multiline ? 'multiline': ''}}"
     (click)="setEditModeEnabled(true, $event)">
    <span class="link" [ngClass]="{ 'placeholder': !value }" [attr.title]="link">
        <a (click)="link && $event.stopPropagation()" [attr.href]="link" [attr.title]="displayValue || value || editPlaceholder" target="_blank" #editText>{{displayValue || value || editPlaceholder}}</a>
    </span>
    <div class="actions {{ buttonsPosition }}" [ngClass]="{ hidden: isReadOnlyField }">
        <i *ngIf="isEditDialogEnabled" class="edit fa fa-pencil" aria-hidden="true" (click)="showDialog($event)"></i>
        <i *ngIf="isDeleteEnabled" class="delete fa fa-times" aria-hidden="true" (click)="deleteItem($event)"></i>
        <i *ngIf="isCopyEnabled && value" class="save-to-clipboard" aria-hidden="true" (click)="copyItem($event)"></i>
    </div>
</div>
<div *ngIf="!isReadOnlyField && isEditModeEnabled" class="inplace-edit-edit-mode {{multiline ? 'multiline': ''}}">
    <dx-text-area *ngIf="multiline"
        [placeholder]="editPlaceholder"
        [(value)]="valueOriginal"
        [autoResizeEnabled]="true"
        (onInitialized)="onTextAreaInitialized($event)">
        <dx-validator [validationRules]="validationRules || []"></dx-validator>
    </dx-text-area>
    <dx-text-box *ngIf="!multiline"
        [placeholder]="editPlaceholder"
        [(value)]="valueOriginal"
        [maskInvalidMessage]="maskInvalidMessage"
        [maxLength]="maxLength"
        (onFocusIn)="onFocusIn($event)"
        (onEnterKey)="onEnterKey()"
        (onFocusOut)="onFocusOut($event)">
        <dx-validator [validationRules]="validationRules || []"></dx-validator>
    </dx-text-box>
    <div class="edit-buttons" [ngClass]="buttonsPosition">
        <dx-button *ngIf="showUpdateButton"
                   class="button-update"
                   icon="todo"
                   (onClick)="updateItem()">
        </dx-button>
        <dx-button *ngIf="showRefreshButton"
                   class="button-exit"
                   icon="refresh"
                   (onClick)="setEditModeEnabled(false)">
        </dx-button>
    </div>
</div>
