:host {
  .wrapper {    
    dx-date-box {
      width: 100%!important;

      ::ng-deep .dx-texteditor-buttons-container {
        display: block!important;

        .dx-dropdowneditor-button {
          display:none;
        }
      }
    }
  }
}