<div class="wrapper">
    <ng-template ngFor let-item [ngForOf]="getItems()" let-i="index">
        <dx-date-box
            name="item"
            type="date"
            [(value)]="items[item].value"
            [placeholder]="ls.l(capitalize(item))"
            displayFormat="dd/MM/yyyy"
            [showClearButton]="true"
            (onEnterKey)="apply($event)"
            (onFocusIn)="onFocusIn($event)"
            (onKeyDown)="validateDate($event)"
            dateSerializationFormat="yyyy-MM-dd">
        </dx-date-box>
    </ng-template>
</div>
