:host {
    display: block;
    min-height: 144px;
    padding: 28px 30px;
    background: #fff;
    border-bottom: 1px solid #e5e9ec;

    .totals-list {
        .total-item {
            padding: 0;
            border-radius: 4px;
            position: relative;

            .chart-head {
                height: 34px;
                display: flex;
                justify-content: space-between;
                align-items: flex-end;
                font-size: 14px;
                font-weight: 400;
                font-style: normal;
                font-stretch: normal;
                letter-spacing: 0.3px;
                color: #677380;
                span {
                    font-weight: 500;
                    line-height: 1;
                }
                span:first-child {
                    font-size: 23px;
                    font-weight: bold;
                    color: #212c36;
                }

                span:last-child {
                    font-size: 27px;
                    font-weight: 600;
                }
                .plus {
                    position: relative;
                    right: -4px;
                }
            }


            .chart-line {
                width: 100%;
                background-color: #F1F5F6;
                border-radius: 8px;
                margin-bottom: 10px;
                margin-top: 15px;
                div {
                    height: 16px;
                    border-radius: 8px;
                }
            }

            .chart-footer {
                display: flex;
                justify-content: space-between;
                align-items: center;

                .caption,
                .percent-value {
                    font-size: 14px;
                    color: #525252;
                    line-height: 1.36;
                    letter-spacing: 0.28px;
                }

                .caption {}
                .percent-value {
                    font-weight: 500;
                }
            }

            .versus {
                display: flex;
                justify-content: space-between;
                span {
                    font-size: 12px;
                    color: #bbb;
                }
            }
        }

        & > div {
            @media (max-width: 991px) {
                &:not(:last-child) {
                    margin-bottom: 20px;
                }
            }
        }
    }
}
