<div class="totals-list row" *ngIf="data">
    <div *ngFor="let field of fields" class="col-lg-4">
        <div *ngIf="field.visible" class="total-item">
            <div class="chart-head">
                <span>{{ls.ls(localization, 'Total') + ' ' + ls.ls(localization, field.title)}}</span>
                <span [ngStyle]="{'color': field.color}" *ngIf="field.type == 'currency'">
                    {{ data[field.name] | currency }}
                </span>
                <span [ngStyle]="{'color': field.color}" *ngIf="field.type == 'number'">
                    {{ data[field.name] | number }}
                </span>
            </div>
            <div class="chart-line">
                <div [ngStyle]="{width: field.percent, 'background-color': field.color}"></div>
            </div>
            <div class="chart-footer">
                <span class="caption">{{ls.ls(localization, 'VersusEstimated')}}</span>
                <span class="percent-value">{{0.1 | percent}}</span>
            </div>
            <!--<div class="chart-progress"><span>{{ls.l('Progress')}}</span><span>{{ field.percent }}</span></div>-->
        </div>
    </div>
</div>


