<div class="wrapper" [ngClass]="{ valid: isValid() }">
    <international-phone-number
        class="tabular"
        placeholder=""
        [(ngModel)]="phoneNumber"
        [required]="required"
        [disabled]="disabled"
        defaultCountry="us"
        #intPhoneNumberModel="ngModel"
        (onFocusIn)="focusIn()"
        (onFocusOut)="focusOut()"
        (onKeyUp)="keyUp($event)">
    </international-phone-number>
    <div *ngIf="focused && !isValid()" class="invalid-message-wrapper">
        <div class="invalid-message">{{ ls.l('PhoneValidationError') }}</div>
    </div>
</div>
