<div class="wrapper">
    <p>
        <dx-check-box
            name="all"
            [value]="selectAll"
            (onValueChanged)="selectAllChanged($event)"
            [text]="ls.l('All')">
        </dx-check-box>
    </p>
    <ng-template ngFor let-item [ngForOf]="getItems()" let-i="index">
        <p>
            <dx-check-box
                name="item"
                [(value)]="items[item].value"
                (onValueChanged)="updateSelectAll($event)"
                [text]="ls.l(capitalize(item))">
            </dx-check-box>
        </p>
    </ng-template>
</div>
