:host {
    width: 100%;
    min-height: 330px;
    background-color: #FFFFFF;
    position: relative;
    padding-top: 30px;
    display: block;

    header {
        width: 100%;
        display: flex;
        justify-content: space-between;
        font-weight: 500;
        .left-section {
            margin-bottom: 5px;
            flex: 1 auto;
            display: flex;
            align-items: center;

            @media (max-width: 650px) {
                justify-content: space-between;
            }

            .title {
                font-size: 20px;
                font-weight: 700;
                letter-spacing: normal;
                color: #212c36;
                margin: 0 23px 0 0;
                line-height: 1.2;
                padding: 5px 0;
                line-height: 1.2;
            }

            .legend {
                display: none;
                flex-direction: column;
                position: absolute;
                top: 23px;
                right: 0;
                padding: 5px 5px 0 10px;
                background: #fff;
                border: 2px solid transparent;
                &.opened {
                    z-index: 1;
                    border: 2px solid rgb(211, 211, 211);
                }

                @media (min-width: 651px) {
                    display: flex;
                }

                .short-legend {
                    display: flex;
                    align-items: center;
                    cursor: pointer;
                    margin-bottom: 10px;
                    span.legendText {
                        font-size: 12px;
                        margin-right: 5px;
                    }
                    span.legendText, i {
                        color: rgba(103, 115, 128, .6);
                    }
                }

                .legend-list {
                    padding-left: 0;
                    margin-bottom: 0;
                    margin-right: 5px;

                    .legend-item {
                        display: inline-block;
                        font-weight: 400;
                        font-size: 12px;

                        &:last-child {
                            margin-right: 0;
                        }

                        .legendMarker {
                            width: 8px;
                            height: 8px;
                            display: inline-block;
                            margin-right: 2px;
                            position: relative;
                            top: -1px;
                        }
                    }

                    &.full {
                        width: 100%;
                        background: #fff;
                        z-index: 1;
                        border-top: none;
                        margin-right: 0;
                        padding-bottom: 7px;
                        .legend-item {
                            display: block;
                            margin-bottom: 3px;
                            font-size: 14px;
                        }
                    }
                }
            }

            ::ng-deep .dx-selectbox {
                border-radius: 0;
                background-color: transparent;
                @media (min-width: 1410px) {
                    width: 378px;
                }
                .dx-texteditor-input, input.form-control {
                    color: #677380;
                    line-height: 24px;
                    padding: 0 16px 0 0 ;
                    background-color: transparent;
                    min-height: 24px;
                    text-align: right;
                    border: 0;
                    font-size: 14px;
                    font-weight: 500;
                    letter-spacing: normal;
                }

                .dx-dropdowneditor-button {
                    width: 10px;
                    padding: 0;
                    border-radius: 0;

                    .dx-dropdowneditor-icon {
                        background-color: transparent !important;

                        &::before {
                            content: '\f107';
                            font-family: FontAwesome !important;
                        }
                    }
                }
            }
        }

        .right-section {
            ::ng-deep .dx-selectbox {
                width: 110px;
                margin-top: 10px;

                .dx-texteditor-input {
                    padding: 0;
                    padding-right: 34px;
                }
            }
        }
    }

    app-no-data {
        border-top: 0;
        padding-top: 30px;
    }

    app-dashboard-no-data {
        padding-top: 20px;
    }

    .chart-wrapper {
        width: 100%;
        ::ng-deep dx-chart {
            width: 100%;
            position: relative;
            color: red;
            font-size: 36.9px;
            color: rgba(99, 107, 114, .08);
            font-weight: 700;

            @media screen and (max-width: 1024px) {
                font-size: 30px
            }
            .yearArgument {
                font-size: 10px;
            }
            svg {
                width: 100%!important;
            }
            g.dxc-arg-line {
                display: none!important;
            }
        }
    }
}
