<header>
    <div class="left-section">
        <h2 class="title">{{ ls.ls(localization, 'StatisticsByPeriodTitle') }}</h2>
        <dx-select-box
            [items]="selectItems"
            [displayExpr]="'name'"
            [valueExpr]="'value'"
            [value]="isCumulative$ | async"
            (onSelectionChanged)="changeCumulative($event)">
        </dx-select-box>
        <div class="legend" [class.opened]="showFullLegend">
            <div class="short-legend" (click)="toggleFullLegend()">
                <ul class="legend-list">
                    <li class="legend-item" *ngFor="let seria of allSeries$ | async">
                        <span class="legendMarker" [ngStyle]="{'backgroundColor' : seria.color }"></span>
                    </li>
                </ul>
                <span class="legendText">{{ ls.ls(localization, 'Legend') }}</span>
                <i [class]="'fa fa-angle-' + (showFullLegend ? 'up' : 'down')" aria-hidden="true"></i>
            </div>
            <ul class="full legend-list" [hidden]="!showFullLegend">
                <li class="legend-item" *ngFor="let seria of allSeries$ | async">
                    <span class="legendMarker" [ngStyle]="{'backgroundColor' : seria.color }"></span>
                    {{ startCase(seria?.name?.toLowerCase()) }}
                </li>
            </ul>
        </div>
    </div>
</header>
<div class="chart-wrapper" *ngIf="totalsData && totalsData.length">
    <dx-chart
        id="bar"
        [series]="allSeries$ | async"
        [dataSource]="totalsData">
        <!-- common settings for charts -->
        <dxo-common-series-settings
            argumentField="date"
            [ignoreEmptyPoints]="true">
        </dxo-common-series-settings>
        <dxo-size [height]="280" [width]="widgetWidth"></dxo-size>
        <!-- Bottom axis -->
        <dxo-argument-axis
            argumentType="datetime"
            [visible]="true"
            type="discrete">
            <dxo-label [customizeText]="customizeBottomAxis" [visible]="true"></dxo-label>
        </dxo-argument-axis>

        <dxi-value-axis>
            <dxo-label [visible]="true"></dxo-label>
        </dxi-value-axis>

        <dxo-legend [visible]="false"></dxo-legend>

        <!-- Common settings for axis -->
        <dxo-common-axis-settings [allowDecimals]="false" [visible]="false">
            <dxo-label alignment="center" [visible]="false">
                <dxo-font [weight]="300" color="#677380" size="12px"></dxo-font>
            </dxo-label>
            <dxo-strip-style>
                <dxo-label horizontal-allignment="center"></dxo-label>
            </dxo-strip-style>
        </dxo-common-axis-settings>

        <dxo-tooltip
            [enabled]="true"
            [shared]="true"
            [customizeTooltip]="customizeTooltip">
            <dxo-format type="largeNumber" [precision]="1"></dxo-format>
        </dxo-tooltip>
    </dx-chart>
</div>
<app-no-data [hidden]="loadingService.loading || (totalsData && totalsData.length)"></app-no-data>
