<mat-dialog-content>
    <h3>{{ ls.l('Purchase') }} {{ ls.l('ContactCredits') }}</h3>
    <div class="field"><ng-container *ngIf="data.creditsRate > 1">Packages </ng-container>{{ ls.l('Quantity') }}</div>
    <dx-number-box [(value)]="quantity"
                   format="#"
                   min="0"
                   [placeholder]="ls.l('Quantity')">
        <dx-validator>
            <dxi-validation-rule type="required"></dxi-validation-rule>
        </dx-validator>
    </dx-number-box>
    <div class="field">
        <div>{{ ls.l('UserMenu.TopUpRate') }} <span *ngIf="data.creditsRate > 1" class="small "> (per {{data.creditsRate}})</span>:</div>
        <div>{{data.rate | currency:currency:'symbol':'1.2-2'}}</div>
    </div>
    <div *ngIf="data.creditsRate > 1" class="field">
        <b>{{ ls.l('Total') }} {{ ls.l('ContactCredits') }}:</b>
        <b>{{(quantity * data.creditsRate) | number }}</b>
    </div>
    <div class="field">
        <b>{{ ls.l('TotalAmount') }}:</b>
        <b>{{(quantity * data.rate) | currency:currencyId:'symbol':'1.2-2'}}</b>
    </div>
    <div *ngIf="availablePaymentsInfo" class="buttons">
        <ng-container *ngIf="availablePaymentsInfo.isStripeEnabled || availablePaymentsInfo.paypalInfo.isEnabled; else noPaymentMethods">
            <button *ngIf="availablePaymentsInfo.isStripeEnabled" [disabled]="!quantity" class="button btn btn-primary stripe-button" (click)="submitStripeRequest()">
                Pay with <img src="assets/common/images/stripe.svg"/>
            </button>
            <pay-pal *ngIf="availablePaymentsInfo.paypalInfo.isEnabled" [disabled]="!quantity" class="button" [height]="45" (onApprove)="onPayPalApprove()">
            </pay-pal>
        </ng-container>
        <ng-template #noPaymentMethods>
            <div class="no-payment-systems">
                Payment systems are not configured
            </div>
        </ng-template>
    </div>
</mat-dialog-content>