:host {
    display: block;
    height: calc(~"100vh - 75px");

    .welcome-block {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;

        .wrap {
            text-align: center;
            max-width: 35%;
        }
    }
}
