:host {
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;

    .pay-pal-wrap {
        max-width: 370px;
        text-align: center;
    }

    .pay-pal-text {
        font-family: var(--app-font-family);
        font-size: 17px;
        font-weight: 500;
        line-height: 1.6;
        letter-spacing: 0.8px;
        text-align: center;
        color: #424c56;
        margin-bottom: 34px;
    }

    .pay-pal-logo {
        border-radius: 10px;
        border: solid 1px #00aeef;
        padding: 20px 40px;
        display: inline-block;

        img {
            max-width: 240px;
        }
    }
}
