.lists-tooltip-container {
    font-size: 15px;
    width: 180px !important;
    height: 315px !important;
    overflow: hidden;

    .title {
        float: left;
        font-size: 18px;
        font-weight: 500;
        padding-top: 5px;
    }

    .actions {
        padding-bottom: 10px;
    }

    .filter-apply, .filter-clear {
        cursor: pointer;
        font-size: 14px;
        line-height: 1.21;
        letter-spacing: 0.3px;
        color: #00AEEF;
        padding: 10px 5px;
        float: right;

        &:hover {
            color: lighten(#00AEEF, 20%);
        }

        &.disabled {
            color: #999;
            cursor: unset;
            pointer-events: none;
        }
    }

    ::ng-deep .dx-widget {
        .dx-placeholder {
            font-weight: 400;
        }
        .dx-item-content {
            text-align: left;
        }
        .dx-icon-clear {
            right: 0;
        }

        .dx-list-item.filtered {
            background-color: #effafe !important;
        }

        .dx-list-item.dx-state-focused {
            background-color: #FFF;
            color: #333;
        }

        .item-row {
            display: flex;
            justify-content: space-between;
            align-items: center;
            span {
                width: 90px;
            }
            a.dx-link-filter {
                width: 30px;
                height: 27px;
                background: url('../../../../assets/common/icons/filter.svg') no-repeat center;
            }
        }
    }
}

::ng-deep .dx-toolbar .dx-button[title="BANKCODE"] img.dx-icon {
    width: 18px !important;
    height: 18px !important;
}
