<dx-tooltip height="310"
            [target]="targetSelector"
            [(visible)]="tooltipVisible">
    <div *dxTemplate="let data of 'content'">
        <div class="lists-tooltip-container">
            <div class="actions clearfix">
                <span class="title">{{ls.l('Stars')}}</span>
                <div [hidden]="hideButtons || bulkUpdateMode && !selectedKeys?.length">
                    <span class="filter-clear" [class.disabled]="!isManageAllowed()" (click)="clear()">{{ls.l('Clear')}}</span>
                    <span class="filter-apply" [class.disabled]="!isManageAllowed() || !starslist.selectedItemKeys?.length" (click)="apply()">{{ls.l('Apply')}}</span>
                </div>
            </div>
            <dx-list #starslist
                height="240px"
                [selectionMode]="hideButtons || bulkUpdateMode && !selectedKeys?.length ? 'none' : 'single'"
                [showSelectionControls]="true"
                [dataSource]="list"
                [keyExpr]="'id'"
                [selectedItemKeys]="selectedItemKeys"
                (onContentReady)="onContentReady($event)"
                (onInitialized)="onInitialized($event)"
                (onSelectionChanged)="onSelectionChange($event)">
                <div *dxTemplate="let data of 'item'">
                    <div class="item-row" data-id="{{data.id}}">
                        <div [ngClass]="'star star-' + data.colorType.toLowerCase()"></div>
                        <span>{{ ls.l(data.name) }}</span>
                        <a *ngIf="filterModel" class="dx-link dx-link-filter" [title]="ls.l('Filter')" (click)="applyFilter($event, data)"></a>
                    </div>
                </div>
            </dx-list>
        </div>
    </div>
</dx-tooltip>
