<ng-container *ngIf="items">
    <dx-select-box *ngIf="items.length > 1; else text"
                   accessKey="types-dropdown"
                   displayExpr="text"
                   valueExpr="value"
                   [items]="items"
                   fieldTemplate="selectTemplate"
                   itemTemplate="itemTemplate"
                   [value]="value"
                   (onValueChanged)="valueChanged($event)"
                   (onOpened)="onOpened($event)"
                   (onContentReady)="onContentReady($event)">
        <div *dxTemplate="let data of 'selectTemplate'">
            <div class="select-header">
                <span>{{data?.text}}</span>
                <ng-container *ngIf="showLoading && !totalErrorMsg && !isTotalCountValid(); else elseBlock">
                    <i class="fa fa-spinner fa-spin"></i>
                </ng-container>
                <ng-template #elseBlock>
                    <ng-container *ngIf="showTotalCount">
                        <span class="total-count {{totalErrorMsg ? 'error' : ''}}" [title]="totalErrorMsg || ''">({{ isTotalCountValid() ? (totalCount | number) : '?'}})</span>
                    </ng-container>
                </ng-template>
                <dx-text-box style="display: none" [readOnly]="true"></dx-text-box>
            </div>
        </div>
        <div *dxTemplate="let data of 'itemTemplate'" class="types-dropdown-item">
            <div *ngIf="allowEdit; else default">
                <div class="edit-mode">
                    <span>{{ data?.text }}</span>
                    <i class="edit fa fa-pencil"
                       (click)="openEditDialog($event, data.value, data?.text)">
                    </i>
                </div>
            </div>
            <ng-template #default>
                <span>{{ data?.text }}</span>
            </ng-template>
        </div>
    </dx-select-box>
    <ng-template #text>
        <div class="select-header" *ngIf="items.length === 1">
            <span>{{items[0]?.text}}</span>
            <span *ngIf="totalCount !== undefined" class="total-count">({{ totalCount | number }})</span>
        </div>
    </ng-template>
</ng-container>