:host-context(body.lend-space) {
    background: #262626;
    
    .content {
        display: none;
    }
    
    .lend-space-img {
        display: block;
        max-width: 550px;
        margin-bottom: 30px;
    }
    
    .btn {
        background: #ffcc00;
        color: #000;
        font-weight: bold !important;
        border-radius: 4px !important;
        
        &:hover {
            background: lighten(#ffcc00, 15%);
        }
    }
}
:host {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    
    .lend-space-img {
        display: none;
    }

    h1 {
        font-size: 180px;
        color: #00aeef;
        margin-top: 0;
        letter-spacing: 10px;
    }

    h3 {
        font-size: 70px;
        color: #5d6776;
    }

    p {
        font-size: 35px;
        color: #1b1715;
        font-weight: 500;
    }

    .btn {
        padding-left: 25px;
        padding-right: 25px;

        &:hover {
            background-color: darken(#00aeef, 10%);
        }
    }
}
