<div class="container-fluid" [@routerTransition]>
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12 text-center form-wrapper">
            <h1 class="d-none d-md-block">{{tenantName}} {{ls.l("Auto Login")}}</h1>

            <form #loginForm="ngForm" class="login-form" method="post" novalidate (ngSubmit)="sendloginLink()">
                <div class="form-group clearfix">
                    <p [innerHTML]="ls.l(isLinkSent ? 'AutoLoginMailSentMessage' : 'AutoLoginMessage', (isLinkSent ? '<br>' : '') + '<b>' + userEmail + '</b>' + (isLinkSent ? '<br>' : ''), tenantName)"></p>
                    <div *ngIf="!isLinkSent && detectedTenancies.length > 1">
                        <p>{{ls.l('SelectTenant_Information')}}</p>
                        <div class="list-group">
                            <a class="list-group-item list-group-item-action" *ngFor="let tenant of detectedTenancies" (click)="sendloginLink(tenant.id)">
                                <h5 class="mb-1">{{tenant.name}}</h5>
                            </a>
                        </div>
                    </div>
                </div>

                <div class="form-actions">
                    <ng-container *ngIf="isLinkSent && accessCodeMaxTriesCount">
                        <dx-text-box
                            width="115px"
                            height="40px"
                            mask="000-000"
                            [(value)]="accessCode"
                            accessKey="AccessCode"
                            validationMessageMode="always"
                            [placeholder]="ls.l('EnterCode')"
                            (onFocusOut)="onAutoLoginCodeFocusOut($event)"
                            (onKeyUp)="onAutoLoginCodeChanged($event)">
                        </dx-text-box>
                        <dx-button icon="check" 
                            height="40px"
                            accessKey="AccessCode"
                            (onClick)="onAccessCodeProcess()">
                        </dx-button>
                    </ng-container>
                    <ng-container *ngIf="accessCodeMaxTriesCount <= 0">
                        <div class="auto-login-error">{{ ls.l('AutoLoginMaxTriesMessage') }}</div>
                    </ng-container>
                    <button type="submit" class="submit" [hidden]="isLinkSent || detectedTenancies.length > 1">
                        {{ls.l("Auto Login")}}
                        <img src="./assets/common/icons/arrow-right-long-icon.svg" alt="right arrow" class="pull-right">
                    </button>
                </div>

                <p class="agree-rights">By continuing I agree to
                    <a (click)="openConditionsDialog(conditions.Terms)">Terms</a> &
                    <a (click)="openConditionsDialog(conditions.Policies)">Policies</a></p>
            </form>
        </div>
    </div>
</div>