<div class="container-fluid" [@routerTransition]>
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12 text-center form-wrapper">
            <h1 class="d-none d-md-block">{{tenantName}} {{ls.l("Auto Login")}}</h1>

            <form #loginForm="ngForm" class="login-form" method="post" novalidate (ngSubmit)="sendloginLink()">
                <div class="form-group clearfix">
                    <p [innerHTML]="ls.l(isLinkSent ? 'AutoLoginMailSentMessage' : 'AutoLoginMessage', '<b>' + userEmail + '</b>', tenantName)"></p>
                    <div *ngIf="!isLinkSent && detectedTenancies.length > 1">
                        <p>{{ls.l('SelectTenant_Information')}}</p>
                        <div class="list-group">
                            <a class="list-group-item list-group-item-action" *ngFor="let tenant of detectedTenancies" (click)="sendloginLink(tenant.id)">
                                <h5 class="mb-1">{{tenant.name}}</h5>
                            </a>
                        </div>
                    </div>
                </div>

                <div class="form-actions">
                    <button type="submit" class="submit" [hidden]="isLinkSent || detectedTenancies.length > 1">
                        {{ls.l("Auto Login")}}
                        <img src="./assets/common/icons/arrow-right-long-icon.svg" alt="right arrow" class="pull-right">
                    </button>
                </div>

                <p class="agree-rights">By continuing I agree to
                    <a (click)="openConditionsDialog()">Terms</a> &
                    <a (click)="openConditionsDialog()">Policies</a></p>
            </form>
        </div>
    </div>
</div>