<div class="container-fluid" [@routerTransition]>
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12 text-center form-wrapper">
            <div *ngIf="!isLinkSent && detectedTenancies.length > 1">
                <p>{{ls.l('SelectTenant_Information')}}</p>
                <div class="list-group">
                    <a class="list-group-item list-group-item-action" *ngFor="let tenant of detectedTenancies" (click)="sendloginLink(tenant.id)">
                        <h5 class="mb-1">{{tenant.name}}</h5>
                    </a>
                </div>
            </div>

            <login-verification *ngIf="isLinkSent"                         
                [emailAddress]="userEmail"
                (onCodeRefresh)="sendloginLink()">
            </login-verification>

            <p *ngIf="conditionsModalService.hasTermsOrPolicy()" class="agree-rights">By continuing I agree to
                <ng-container *ngIf="conditionsModalService.isDocumentAvailable(conditions.Terms)">
                    <a (click)="openConditionsDialog(conditions.Terms)">Terms</a><span *ngIf="conditionsModalService.isDocumentAvailable(conditions.Policies)"> & </span>
                </ng-container>
                <a *ngIf="conditionsModalService.isDocumentAvailable(conditions.Policies)" (click)="openConditionsDialog(conditions.Policies)">Policies</a>
            </p>
        </div>
    </div>
</div>