:host {
    .form-wrapper {
        padding: 0;
        h1 {
            margin-top: 90px;
            margin-bottom: 40px;
            font-size: 32px;
            font-weight: 600;
            text-align: center;
            color: #424c56;
        }
        .login-form {
            max-width: 520px;
            margin: 0 auto;
            padding: 0;
            .form-group {
                font-size: 22px;
                padding-bottom: 30px;
            }
        }
        input.form-control {
            font-size: 16px;
            font-weight: 300;
            color: #888d92;
        }
        .form-actions {
            .submit {
                min-width: 300px;
                border-radius: 100px;
                background-color: #00aeef;
                font-size: 18px;
                font-weight: 500;
                color: #ffffff;
                border: 0;
                box-shadow: none;
                line-height: 54px;
                position: relative;
                cursor: pointer;
                @media all and (max-width: 450px) {
                    min-width: 0;
                    width: 95%;
                }

                &[disabled] {
                    opacity: .7;
                    cursor: not-allowed;
                }
                img {
                    position: absolute;
                    right: 70px;
                    top: 50%;
                    transform: translateY(-50%);
                }
            }
        }
        .agree-rights {
            font-size: 15px;
            font-weight: 300;
            color: #888d92;
            margin-top: 30px;
            margin-bottom: 75px;
            a {
                font-weight: 400;
                color: #888d92;
                &:hover {
                    color: darken(#888d92, 20%);
                }
            }
        }
    }

    .list-group {
        display: flex;
        flex-direction: column;
        padding-left: 0;
        margin-bottom: 0;
    }
    .list-group-item-action {
        width: 100%;
        color: #495057;
        text-align: inherit;
        &:focus {
            color: #495057;
            text-decoration: none;
            background-color: #f8f9fa;
        }
        &:hover {
            color: #495057;
            text-decoration: none;
            background-color: #f8f9fa;
        }
        &:active {
            color: #212529;
            background-color: #e9ecef;
        }
    }
    .list-group-item {
        position: relative;
        display: block;
        padding: .75rem 1.25rem;
        margin-bottom: -1px;
        background-color: #fff;
        border: 1px solid rgba(0,0,0,.125);
        &:first-child {
            border-top-left-radius: .25rem;
            border-top-right-radius: .25rem;
        }
        &:last-child {
            margin-bottom: 0;
            border-bottom-right-radius: .25rem;
            border-bottom-left-radius: .25rem;
        }
        &:focus {
            z-index: 1;
            text-decoration: none;
        }
        &:hover {
            z-index: 1;
            text-decoration: none;
        }
        &:disabled {
            color: #6c757d;
            background-color: #fff;
        }
    }
    .list-group-item.disabled {
        color: #6c757d;
        background-color: #fff;
    }
    .list-group-item.active {
        z-index: 2;
        color: #fff;
        background-color: #fff;
        border-color: #58a3dc;
    }

    @media (max-width: 767px) {
        .form-wrapper {
            h1 {
                margin: 40px 0 50px;
                font-weight: 500 !important;
                font-size: 30px;
                color: #282f38;
            }
            * {
                font-weight: 400 !important;
            }
            form {
                padding: 0 17px;
                input.form-control {
                    color: #888d92;
                    padding: 8px 0;
                }
            }
            .form-actions {
                padding-top: 40px;
                .submit {
                    min-width: 0;
                    width: 100%;
                }
            }
        }
    }
}