<dx-text-box mode="search"
             valueChangeEvent="keyup"
             width="300px"
             (onValueChanged)="search($event)">
</dx-text-box>
<dx-data-grid [dataSource]="displayedLinks$ | async" [allowColumnResizing]="true">
    <dxi-column dataField="imgSrc" cellTemplate="imgTemplate" width="50px" caption=""></dxi-column>
    <dxi-column dataField="link" cssClass="clipboard-holder"></dxi-column>
    <div *dxTemplate="let cellData of 'imgTemplate'">
        <img [src]="cellData.value" class="image">
    </div>
</dx-data-grid>