:host {
    display: block;
    margin-top: 20px;
    ul {
        margin-top: 20px;
        padding-left: 0;
        li {
            list-style: none;
            display: flex;
            align-items: center;
            line-height: 23px;
            .save-to-clipboard {
                display: none;
                width: 25px;
                min-height: 16px;
                background: url('../../../../assets/common/icons/copy.svg') center no-repeat;
                cursor: pointer;
            }
            &:hover .save-to-clipboard {
                display: inline-block;
            }
        }
    }
}