:host {
    top: 136px;
    position: absolute;

    &.fullscreen {
        top: 61px !important;

        .sidebar-filters,
        .sidebar-filter-links {
            top: 0;
            height: 100vh;

            .close-button {
                display: none;
            }
        }
    }

    &.toolbarIsHidden {
        top: 75px !important;
    }

    &.toolbarIsHidden.fullscreen {
        top: 0 !important;
    }

    ::ng-deep * {
        .dx-checkbox-icon {
            width: 20px;
            height: 20px;
            border-radius: 2px;
            border-color: #dfdfdf;
        }

        .dx-checkbox-text {
            width: 100%;
            word-break: normal;
            font-size: 15px;
            font-weight: 300;
            // line-height: 2.53;
            letter-spacing: 0.3px;
            color: #424c56;
            display: inline;
        }

        .dx-placeholder, .dx-radiobutton .dx-item-content {
            font-weight: normal;
        }

        .dx-checkbox-checked .dx-checkbox-icon {
            color: #00aeef;
            font-size: 12px !important;

            &::before {
                margin-top: -6px;
            }
        }

        .dx-checkbox.sx-state-hover .dx-checkbox-icon {
            border-color: #00aeef !important;
        }
    }

    .search-field {
        margin-bottom: 32px;

        input {
            width: 300px;
            color: #677380;
            font-weight: 300;
            line-height: 1.71;
            letter-spacing: 0.3px;
            text-align: left;
            padding-left: 36px;
            border: 1px solid #dadee1;
            border-radius: 3px;
            font-size: 14px;
            height: 37px;
            outline: none;
        }

        &:before {
            content: "";
            background: url('../../../../assets/common/icons/search-icon.svg');
            text-decoration: inherit;
            position: absolute;
            font-size: 20px;
            width: 16px;
            height: 16px;
            top: 25px;
            left: 33px;
            color: #677380;
        }
    }

    .sidebar-filter-links {
        border-right: 1px solid #e5e9ec;
        width: 341px;
        height: calc(~"100vh - 148px");
        background-color: #fff;
        margin-bottom: 300px;
        padding: 13px 0 15px 20px;

        .filter-title {
            padding-right: 20px;
            font-size: 15px;
            line-height: 1.6;
            letter-spacing: 0.3px;
            color: #212c36;
            display: inline-block;
            width: 100%;
            font-weight: 500;

            h3 {
                float: left;
                margin-bottom: 0;
                font-size: 16px;
                line-height: 2.18;
                letter-spacing: 0.4px;
            }

            img {
                margin-right: 10px;
                position: relative;
                top: -3px;
            }

            .clear-all {
                cursor: pointer;
                height: 37px;
                font-size: 11px;
                line-height: 2.18;
                letter-spacing: 0.4px;
                color: #677380;
                padding-right: 1px;
                text-transform: uppercase;
                background-color: transparent;
                border: 0;
                box-shadow: none;
                float: right;
                font-weight: 400;
                outline: none;
            }
            .close {
                top: 8px;
                right: -10px;
                width: 20px;
                height: 20px;
                float: right;
                cursor: pointer;
                position: relative;

                &:after, &:before {
                    position: absolute;
                    top: 0;
                    left: 8px;
                    content: ' ';
                    height: 20px;
                    width: 2px;
                    background-color: #1b1b1b;
                }

                &:before {
                    transform: rotate(45deg);
                }

                &:after {
                    transform: rotate(-45deg);
                }
            }

            ::ng-deep .dx-button {
                width: 104px;
                position: relative;

                &:first-child {
                    min-width: 60px;

                    &:after {
                        content: '';
                        display: block;
                        background: url('../../../../assets/common/icons/down-arrow-icon.svg');
                        position: absolute;
                        width: 8px;
                        height: 4px;
                        right: 12px;
                        top: 48%;
                    }

                    .dx-icon {
                        right: 10px !important;
                    }

                    .dx-button-content {
                        padding-right: 28px;
                    }
                }

                &.dx-state-hover,
                &.dx-state-focused,
                &.dx-state-active {
                    background-color: #FFF;
                }

                .dx-button-content {
                    height: 37px;
                    min-width: 50px;
                    padding: 6px 15px;

                    img.dx-icon {
                        width: auto !important;
                        height: auto !important;
                    }

                    .dx-button-text {
                        font-size: 13px;
                        font-weight: 300;
                        line-height: 1.85;
                        letter-spacing: 0.3px;
                    }
                }
            }
        }

        .filter-links {
            margin: 15px 0 0;
            list-style-type: none;
            padding: 0 0 50px 35px;

            .filter-link {
                position: relative;
                padding-right: 20px;
                text-decoration: none;

                &.active-filter::after {
                    content: '';
                    position: absolute;
                    display: block;
                    width: 5px;
                    height: 5px;
                    border-radius: 50%;
                    background: red;
                    top: 18px;
                    left: -17px;
                }

                .filter-link-header {
                    font-size: 15px;
                    font-weight: 400;
                    line-height: 1.4;
                    letter-spacing: 0.3px;
                    padding: 10px 0;
                    display: block;
                    color: #424c56;
                    position: relative;
                    text-decoration: none;
                    cursor: pointer;
                    i {
                        text-align: right;
                        line-height: 1.4;
                        color: #686f76;
                        background: url('../../../../assets/common/icons/right-arrow-icon.svg') right center no-repeat;

                        &::before {
                            opacity: 0;
                        }
                    }
                }
            }
        }

        .sub-filter-list {
            list-style: none;
            padding-left: 14px;
            border-left: 1px solid #e5e9ec;

            .sub-filter-item, .toggle-more {
                font-size: 14px;
                font-weight: 300;
                line-height: 1.43;
                letter-spacing: 0.3px;
                text-align: left;
                padding: 3px 20px 3px 0;
                position: relative;
                color: #677380;
                overflow: hidden;
                text-overflow:  ellipsis;

                &.nested {
                    padding-left: 15px;
                }
            }

            .hide-all-elements {
                height: 0;
                overflow: hidden;
            }

            .show-all-elements {
                height: auto;
            }

            .filter-actions {
                padding-right: 0;
                display: flex;
                align-items: center;
                justify-content: space-between;
            }

            .toggle-more {
                color: #01b0f0;
                font-weight: 500;
            }

            .clear-group {
                text-transform: lowercase;
                color: #677380;

                &:hover {
                    color: #01b0f0;
                }
            }
        }
    }

    .sidebar-filters {
        position: absolute;
        top: -130px;
        left: 340px;
        width: 20vw;
        min-width: 435px;
        height: calc(~"100vh - 78px");
        z-index: 100;
        padding: 0 20px;
        border: 1px solid #dfdfdf;
        background-color: #fff;
        &.toolbar-is-hidden {
            height: calc(~"100vh - 21px");
        }

        .close-button {
            top: 15px;
            left: initial;
            right: -42px;
            transform: rotate(180deg);
        }
    }

    .sidebar-filter-head {
        padding: 20px 0 20px 0;
        line-height: 37px;
        font-weight: bold;
        color: #212c36;
        display: flex;
        align-items: center;
        justify-content: space-between;
        #filterInfoButton {
            cursor: pointer;
            margin-left: 7px;
            margin-right: auto;
        }
        dx-tooltip {
            display: none;
        }
        button {
            float: right;
            min-width: 130px;
            margin-top: 0;
            i {
                font-size: 11px;
                position: relative;
                bottom: 3px;
            }
        }
    }
}

.minus-icon {
    width: 16px;
    height: 16px;
    display: inline-block;
    border-radius: 50%;
    background: #F9E6E6;
    position: absolute;
    top: 5px;
    right: 2px;
    cursor: pointer;
    &::before {
        content: '';
        width: 8px;
        height: 2px;
        background: #e7326a;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
    }
}
