<div class="sidebar-filter-links" *ngIf="filters.length">
    <dx-scroll-view>
        <div class="filter-title">
            <h3>{{ls.ls('Platform', 'Filters')}}</h3>
            <span class="close" (click)="closeFilters($event)"></span>
            <button class="clear-all" (click)="clearAllFilters()">
                {{ls.ls('Platform', 'ClearAll')}}
            </button>
        </div>
        <ul class="filter-links">
            <ng-template ngFor let-filter [ngForOf]="filters" let-i="index">
                <li class="filter-link" [hidden]="filter.hidden" [ngClass]="{'active-filter':filter.displayElements && filter.displayElements.length}">
                    <a class="filter-link-header" (click)="showFilterDialog($event, filter)">
                        {{ls.l('FilterBy' + capitalize(filter.caption) + 'Header')}}
                        <i class="fa fa-angle-right pull-right" aria-hidden="true"></i>
                    </a>
                    <ul class="sub-filter-list">
                        <ng-container *ngFor="let displayFilterElement of filter.displayElements | slice:0:2">
                            <li *ngIf="displayFilterElement.displayValue" class="sub-filter-item" [ngClass]="{'nested': displayFilterElement.parentCode}">
                                {{displayFilterElement.displayValue}}<i *ngIf="!displayFilterElement.readonly" class="minus-icon" aria-hidden="true" (click)="excludeFilter($event, filter, displayFilterElement)"></i>
                            </li>
                        </ng-container>
                        <div class="hide-all-elements">
                            <ng-container *ngFor="let displayFilterElement of filter.displayElements | slice:2">
                                <li *ngIf="displayFilterElement.displayValue" class="sub-filter-item" [ngClass]="{'nested': displayFilterElement.parentCode}">
                                    {{displayFilterElement.displayValue}}<i *ngIf="!displayFilterElement.readonly" class="minus-icon" aria-hidden="true" (click)="excludeFilter($event, filter, displayFilterElement)"></i>
                                </li>
                            </ng-container>
                        </div>
                        <li *ngIf="filter.displayElements && filter.displayElements.length > 2" class="sub-filter-item filter-actions">
                            <a class="toggle-more" (click)="itemClick($event, filter)">+{{filter.displayElements.length - 2}} more</a>
                            <a class="clear-group" (click)="clearFilterGroup(filter)">{{ls.ls('Platform', 'ClearAll')}}</a>
                        </li>
                    </ul>
                </li>
            </ng-template>
        </ul>
    </dx-scroll-view>
</div>

<div class="sidebar-filters" *ngIf="activeFilter" [ngClass]="{ 'toolbar-is-hidden': toolbarIsHidden$ | async }">
    <div class="close-button"></div>
    <div class="sidebar-filter-head">
        {{ls.ls('Platform', 'SideBarFilterHeader')}} {{ls.l('FilterBy' + capitalize(activeFilter.caption) + 'Header')}}
        <ng-container *ngIf="activeFilterTip">
            <img
                id="filterInfoButton"
                (mouseenter)="toggleTooltip()"
                (mouseleave)="toggleTooltip()"
                src="./assets/common/icons/info-icon.svg">
            <dx-tooltip
                target="#filterInfoButton"
                [(visible)]="tooltipVisible"
                [closeOnOutsideClick]="false">
                <div *dxTemplate="let data = data of 'content'">
                    {{ activeFilterTip }}
                </div>
            </dx-tooltip>
        </ng-container>
        <button class="button-layout button-primary" (click)="filterApply($event)">
            <i class="fa fa-check" aria-hidden="true"></i>
            {{ls.ls('Platform', 'Apply')}}
        </button>
    </div>
    <dx-scroll-view [showScrollbar]="disableFilterScroll ? 'never' : 'onHover'" [disabled]="disableFilterScroll">
        <filter [config]="activeFilter" (onApply)="filterApply($event)"></filter>
    </dx-scroll-view>
</div>
