<li class="m-nav__item m-topbar__user-profile m-topbar__user-profile--img  m-dropdown m-dropdown--medium m-dropdown--arrow m-dropdown--header-bg-fill m-dropdown--align-right m-dropdown--mobile-full-width m-dropdown--skin-light"
    data-dropdown-toggle="click"
    #topBarUserProfile>
    <a href="javascript:;" class="m-nav__link m-dropdown__toggle">
        <span class="m-topbar__userpic">
            <img alt="" class="header-profile-picture m--img-rounded m--marginless m--img-centered"
                 [src]="profileService.getProfilePictureUrl(appSession?.user?.profileThumbnailId)"/>
        </span>
    </a>
    <div class="m-dropdown__wrapper" (click)="onClick($event)">
        <span class="m-dropdown__arrow m-dropdown__arrow--right m-dropdown__arrow--adjust user-info-drop-down-arrow"></span>
        <div class="m-dropdown__inner">
            <div class="m-dropdown__header m--align-center" [ngStyle]="dropdownHeaderStyle">
                <div [ngStyle]="{ maxWidth: 'initial' }">
                    <div class="m-card-user m-card-user--skin-dark">
                        <div class="m-card-user__details">
                        <span class="user-info fullName">
                            {{ shownLoginInfo.fullName }}
                        </span>
                            <span class="user-info email" title="{{ shownLoginInfo.email }}">
                            {{ shownLoginInfo.email }}
                        </span>
                        </div>
                    </div>
                    <div *ngIf="subtitle" class="user-info tenantName">
                        {{ subtitle }}
                    </div>
                </div>
            </div>
            <dx-scroll-view showScrollbar="onHover" [height]="getScrollHeight()" [width]="'100%'">
                <div class="m-dropdown__body">
                    <div class="m-dropdown__content">
                        <ul class="m-nav m-nav--skin-light">
                            <ng-container *ngFor="let menuItem of dropdownMenuItems">
                                <li class="m-nav__item" [ngClass]="menuItem.cssClass" *ngIf="menuItem.type !== menuItemTypes.Separator && (menuItem.visible === undefined || menuItem.visible)">
                                    <a href="javascript:;" class="m-nav__link" (click)="menuItemClick(menuItem, $event)">
                                        <i class="m-nav__link-icon" *ngIf="menuItem.iconClass" [ngClass]="menuItem.iconClass"></i>
                                        <img class="m-nav__link-icon" *ngIf="menuItem.iconSrc" [src]="menuItem.iconSrc">
                                        <span class="m-nav__link-title">
                                            <span class="m-nav__link-wrap">
                                                <span [id]="menuItem.id" class="m-nav__link-text">
                                                    {{ menuItem.name }}
                                                </span>
                                            </span>
                                        </span>
                                    </a>
                                </li>
                                <li *ngIf="menuItem.type === menuItemTypes.Separator && (menuItem.visible || menuItem.visible === undefined)" class="m-nav__separator m-nav__separator--fit"></li>
                            </ng-container>
                        </ul>
                    </div>
                </div>
            </dx-scroll-view>
        </div>
    </div>
</li>
