<div class="referral-link-wrapper">
    <div class="left">
        <ng-container *ngIf="userCommissionRates?.affiliateRate || userCommissionRates?.defaultAffiliateRate">
            <b>{{ls.l('Your reward for referring new customers')}}:</b>&nbsp;{{ls.l('You get')}}&nbsp;<b>{{ls.l('Tier 1 - ') + getAffiliateRate()}}</b><b *ngIf="getAffiliateRateTier2() as affiliateRateTier2">{{ls.l(' and Tier 2 - ') + affiliateRateTier2}}</b><b>{{ls.l(' recurring commission')}}</b>&nbsp;{{ls.l('for each referred customer')}}
        </ng-container>
    </div>
    <div class="center">
        <h1>{{ls.l('Share this referral link to your friends and followers')}}</h1>
        <h3>{{ls.l('Click the "links" button to view all available referral links. You can also create your own links with sub-ids')}}</h3>
        <div class="link-text-area">
            <dx-select-box
                accessKey="selectLinks"
                width="520px" height="43px"
                [disabled]="!isCRMEnabled"
                [dataSource]="links$ | async"
                [placeholder]="ls.l('Links')"
                fieldTemplate="field"
                [value]="selectInitialLink"
                (onValueChanged)="onSelectedLinkChanged($event)">
                <div *dxTemplate="let data of 'item'">
                    <img [src]="data.imageUrl" width="25px" style="margin: 0 10px 0 0;">{{data.companyName}} - {{data.url}}
                </div>
                <div *dxTemplate="let data of 'field'">
                    <dx-text-box height="43px" [value]="ls.l('Links') + (data ? ' (' + data.index + ')' : '')"></dx-text-box>
                </div>
            </dx-select-box>
            <dx-text-box class="url" 
                width="65%" height="43px"
                valueChangeEvent="keyup"
                [(value)]="selectedLink">
            </dx-text-box>
            <button (click)="copyLink()">{{ls.l('Copy')}}</button>
        </div>
        <p>{{ls.l('Share on social media:')}}</p>
        <div class="social">
            <ul>
                <li (click)="sharingService.shareInFacebook(selectedLink)">
                    <img src="./assets/common/icons/social/Facebook.svg">
                </li>
                <li (click)="sharingService.shareInLinkedin(selectedLink, suggestedCopy)">
                    <img src="./assets/common/icons/social/Linkedin.svg">
                </li>
                <li (click)="sharingService.shareInTwitter(selectedLink, suggestedCopy)">
                    <img src="./assets/common/icons/social/Twitter.svg">
                </li>
                <li (click)="sharingService.shareInPinterest(selectedLink, '', suggestedCopy)">
                    <img src="./assets/common/icons/social/Pinterest.svg">
                </li>
                <li (click)="sharingService.shareVieEmail(selectedLink, suggestedCopy)">
                    <img src="./assets/common/icons/social/Email.svg">
                </li>
            </ul>
        </div>
    </div>
    <div class="right">
        <ng-container *ngIf="isCRMPaymentsEnabled">
            <h3>{{ls.l('Important')}}</h3>
            <ng-container *ngIf="!paymentSetting">
                <p>{{ls.l('You don\'t have a payout method selected. Please select one now so we can pay you.')}}</p>
                <button *ngIf="isCRMEnabled" (click)="showPayoutMethodDialog()">{{ls.l('Select payout method')}}</button>
            </ng-container>

            <div class="payment-method" *ngIf="paymentSetting">
                <div class="pay-pal" *ngIf="paymentSetting?.type == paymentSettingType.PayPal">
                    <span>{{ls.l('You\'re connected with')}}<img src="assets/common/icons/paypal-logo.png" width="40px" height="auto"></span>
                    <p class="email">{{paymentSetting?.emailAddress}}</p>
                </div>
                <div class="bank-transfer" *ngIf="paymentSetting?.type == paymentSettingType.BankTransfer || paymentSetting?.type == paymentSettingType.Stripe">
                    <span>{{ls.l('Referral.AccountConfigured', ls.l(paymentSetting?.type == paymentSettingType.Stripe ? 'Stripe' : 'BankTransfer'))}}</span>
                </div>
                <div class="update-payment">
                    <a (click)="showPayoutMethodDialog()">{{ls.l('Update payout provider details')}}<i class="fa fa-arrow-right"></i></a>
                </div>
            </div>
        </ng-container>
    </div>
</div>
<div class="statistic">
    <div *ngIf="isCRMCustomersEnabled">
        <p>{{totalsData?.totalLeadCount || 0 | number}}</p>
        <span>{{ls.l('Leads')}}</span>
    </div>
    <div *ngIf="isCRMCustomersEnabled">
        <p>{{totalsData?.totalClientCount || 0 | number}}</p>
        <span>{{ls.l('Customers')}}</span>
    </div>
    <div>
        <p>{{totalsData?.totalOrderAmount || 0 | currency:currency:'symbol'}}</p>
        <span>{{ls.l('Revenue')}}</span>
    </div>
    <div>
        <p>{{ledgerTotals?.earnedAmount || 0 | currency:currency:'symbol'}}</p>
        <span>{{ls.l('Earnings')}}</span>
    </div>
    <div>
        <p>{{ledgerTotals?.pendingEarningsAmount || 0 | currency:currency:'symbol'}}</p>
        <span>{{ls.l('Pending')}}</span>
    </div>
</div>