<form class="credit-card-form" [formGroup]="creditCardData"
      (keydown.enter)="$event.preventDefault()">

    <div class="row">
        <mat-form-field class="col-8">
            <input matInput
                   maxlength="19"
                   placeholder="CARD NUMBER"
                   type="tel"
                   name="cc-number"
                   id="cc-number"
                   formControlName="cardNumber"
                   autocomplete="cc-number"
                   (blur)="checkCreditCardNumber($event)"
                   ccNumber>
            <mat-error *ngIf="creditCardData.controls.cardNumber.touched && creditCardData.controls.cardNumber.invalid">
                {{ ls.l('CardNumberValidationMessage') }}
            </mat-error>
        </mat-form-field>

        <div class="col-4">
            <div class="row">
                <mat-form-field class="col-4">
                    <input matInput
                           placeholder="MM"
                           type="tel"
                           formControlName="expirationMonth"
                           maxlength="2"
                           autocomplete="new-password"
                           (keypress)="checkMonthData($event)"
                           (keyup)="checkExpYear($event)">
                </mat-form-field>
                <div class="col-2 align-self-center">/</div>
                <mat-form-field class="col-6">
                    <input matInput
                           placeholder="YYYY"
                           type="tel"
                           formControlName="expirationYear"
                           [pattern]='patterns.yearPattern'
                           minlength="4"
                           maxlength="4"
                           autocomplete="new-password"
                           (focus)="onYearFocus($event)"
                           (keypress)="checkIfNumber($event)">
                </mat-form-field>

                <mat-error class="exp-date-errors col-12"
                            *ngIf="creditCardData.controls.expirationMonth.touched &&
                            creditCardData.controls.expirationMonth.invalid ||
                            creditCardData.controls.expirationYear.touched &&
                            creditCardData.controls.expirationYear.invalid">
                    {{ ls.l('CardExpDateValidationMessage') }}
                </mat-error>
            </div>
        </div>
    </div>
    <div class="row">
        <mat-form-field class="col-8">
            <input matInput
                   type="text"
                   name="cc-name"
                   id="cc-name"
                   placeholder="NAME ON CARD"
                   autocomplete="cc-name"
                   formControlName="holderName">
            <mat-error *ngIf="creditCardData.controls.holderName.touched && creditCardData.controls.holderName.invalid">
                {{ ls.l('HolderNameValidationMessage') }}
            </mat-error>
        </mat-form-field>

        <mat-form-field class="col-4">
            <input matInput
                   placeholder="CVV CODE"
                   formControlName="cvv"
                   minlength="3"
                   [attr.maxlength]="cvvMaxLength"
                   id="cc-csc"
                   name="cc-csc"
                   autocomplete="new-password"
                   ccCVC>
            <mat-error *ngIf="creditCardData.controls.cvv.touched && creditCardData.controls.cvv.invalid">
                {{ ls.l('CvvValidationMessage') }}
            </mat-error>
        </mat-form-field>
    </div>

    <div class="row">
        <mat-form-field class="col-8">
            <input matInput
                type="text"
                placeholder="ADDRESS"
                formControlName="billingAddress"
                (onAddressChange)="setBillingAddress($event)"
                ngx-google-places-autocomplete/>
            <mat-error *ngIf="creditCardData.controls.billingAddress.touched && creditCardData.controls.billingAddress.invalid">
                {{ ls.l('BillingAddressValidationMessage') }}
            </mat-error>
        </mat-form-field>

        <mat-form-field class="col-4">
            <input matInput placeholder="CITY" formControlName="billingCity">
            <mat-error *ngIf="creditCardData.controls.billingCity.touched && creditCardData.controls.billingCity.invalid">
                {{ ls.l('BillingCityValidationMessage') }}
            </mat-error>
        </mat-form-field>
    </div>

    <div class="row">
        <mat-form-field class="col-4 field">
            <input type="text" placeholder="STATE OR PROVINCE" aria-label="State" matInput formControlName="billingState" [matAutocomplete]="state">
            <mat-autocomplete
                #state="matAutocomplete"
                autoActiveFirstOption
                [displayWith]="displayName">
                <mat-option *ngFor="let state of filteredStates | async" [value]="state">
                    {{ state.name }}
                </mat-option>
            </mat-autocomplete>
            <mat-error *ngIf="creditCardData.controls.billingState.touched && creditCardData.controls.billingState.invalid">
                {{ ls.l('BillingStateValidationMessage') }}
            </mat-error>
        </mat-form-field>
        <mat-form-field class="col-4">
            <input matInput placeholder="ZIP CODE" type="tel" maxlength="10" formControlName="billingZip">
            <mat-error *ngIf="creditCardData.controls.billingZip.touched && creditCardData.controls.billingZip.invalid">
                {{ ls.l('BillingZipValidationMessage') }}
            </mat-error>
        </mat-form-field>

        <mat-form-field class="col-4">
            <input type="text" placeholder="COUNTRY" aria-label="Country" matInput formControlName="billingCountry" [matAutocomplete]="country">
            <mat-autocomplete
                #country="matAutocomplete"
                autoActiveFirstOption
                (optionSelected)="onCountryChange($event)"
                [displayWith]="displayName">
                <mat-option *ngFor="let country of filteredCountries | async" [value]="country">
                    {{ country.name }}
                </mat-option>
            </mat-autocomplete>

            <mat-error *ngIf="creditCardData.controls.billingCountry.touched && creditCardData.controls.billingCountry.invalid">
                {{ ls.l('BillingCountryValidationMessage') }}
            </mat-error>
        </mat-form-field>
    </div>

    <payment-options-footer
        [submitButtonText]="ls.l('Purchase')"
        [submitButtonDisabled]="!creditCardData.touched || !creditCardData.valid"
        (onSubmit)="submit()">
    </payment-options-footer>
</form>
