<modal-dialog [title]="ls.l('ChangePassword')" [buttons]="buttons" [editTitle]="false" [titleClearButton]="false"
    [placeholder]="ls.l('ChangePassword')">
    <dx-scroll-view showScrollbar="onHover">
        <div class="tab-content">
            <form #changePasswordModalForm="ngForm" (ngSubmit)="save()">
                <div class="modal-body" [class]="isDarkMode ? 'dark-mode-body' : ''">
                    <div class="form-group">
                        <label for="CurrentPassword"
                            [class]="isDarkMode ? 'text-white' : ''">{{ls.l("CurrentPassword")}}</label>
                        <input id="CurrentPassword" #currentPasswordInput="ngModel" type="password"
                            name="CurrentPassword" [class]="isDarkMode ? 'form-control dark-input' : 'form-control'"
                            [(ngModel)]="currentPassword" required>
                        <validation-messages [formCtrl]="currentPasswordInput"></validation-messages>
                    </div>
                    <br /><br /><br />
                    <div class="form-group">
                        <label for="NewPassword"
                            [class]="isDarkMode ? 'text-white' : ''">{{ls.l("NewPassword")}}</label>
                        <input id="NewPassword" type="password" name="NewPassword"
                            [class]="isDarkMode ? 'form-control dark-input' : 'form-control'" [(ngModel)]="password"
                            #NewPassword="ngModel" validateEqual="NewPasswordRepeat" reverse="true"
                            [requireDigit]="passwordComplexitySetting.requireDigit"
                            [requireLowercase]="passwordComplexitySetting.requireLowercase"
                            [requireUppercase]="passwordComplexitySetting.requireUppercase"
                            [requireNonAlphanumeric]="passwordComplexitySetting.requireNonAlphanumeric"
                            [requiredLength]="passwordComplexitySetting.requiredLength" required>
                    </div>
                    <div [hidden]="changePasswordModalForm.form.valid || changePasswordModalForm.form.pristine">
                        <ul class="help-block text-danger" *ngIf="NewPassword.errors">
                            <li [hidden]="!NewPassword.errors.requireDigit">
                                {{ls.l("PasswordComplexity_RequireDigit_Hint")}}</li>
                            <li [hidden]="!NewPassword.errors.requireLowercase">
                                {{ls.l("PasswordComplexity_RequireLowercase_Hint")}}</li>
                            <li [hidden]="!NewPassword.errors.requireUppercase">
                                {{ls.l("PasswordComplexity_RequireUppercase_Hint")}}</li>
                            <li [hidden]="!NewPassword.errors.requireNonAlphanumeric">
                                {{ls.l("PasswordComplexity_RequireNonAlphanumeric_Hint")}}</li>
                            <li [hidden]="!NewPassword.errors.requiredLength">
                                {{ls.l("PasswordComplexity_RequiredLength_Hint",
                                passwordComplexitySetting.requiredLength)}}</li>
                        </ul>
                    </div>
                    <div class="form-group">
                        <label for="NewPasswordRepeat"
                            [class]="isDarkMode ? 'text-white' : ''">{{ls.l("NewPasswordRepeat")}}</label>
                        <input id="NewPasswordRepeat" type="password" name="NewPasswordRepeat"
                            [class]="isDarkMode ? 'form-control dark-input' : 'form-control'"
                            [ngModel]="confirmPassword" #NewPasswordRepeat="ngModel" validateEqual="NewPassword"
                            [requireDigit]="passwordComplexitySetting.requireDigit"
                            [requireLowercase]="passwordComplexitySetting.requireLowercase"
                            [requireUppercase]="passwordComplexitySetting.requireUppercase"
                            [requireNonAlphanumeric]="passwordComplexitySetting.requireNonAlphanumeric"
                            [requiredLength]="passwordComplexitySetting.requiredLength" reverse="false" required>
                    </div>
                    <div [hidden]="changePasswordModalForm.form.valid || changePasswordModalForm.form.pristine">
                        <ul class="help-block text-danger" *ngIf="NewPasswordRepeat.errors">
                            <li [hidden]="!NewPasswordRepeat.errors.requireDigit">
                                {{ls.l("PasswordComplexity_RequireDigit_Hint")}}</li>
                            <li [hidden]="!NewPasswordRepeat.errors.requireLowercase">
                                {{ls.l("PasswordComplexity_RequireLowercase_Hint")}}</li>
                            <li [hidden]="!NewPasswordRepeat.errors.requireUppercase">
                                {{ls.l("PasswordComplexity_RequireUppercase_Hint")}}</li>
                            <li [hidden]="!NewPasswordRepeat.errors.requireNonAlphanumeric">
                                {{ls.l("PasswordComplexity_RequireNonAlphanumeric_Hint")}}</li>
                            <li [hidden]="!NewPasswordRepeat.errors.requiredLength">
                                {{ls.l("PasswordComplexity_RequiredLength_Hint",
                                passwordComplexitySetting.requiredLength)}}</li>
                            <li [hidden]="NewPasswordRepeat.valid">{{ls.l("PasswordsDontMatch")}}</li>
                        </ul>
                    </div>
                </div>
            </form>
        </div>
    </dx-scroll-view>
</modal-dialog>