:host {
    .form-group.inline {
        width: 50%;
        display:inline-block;
        vertical-align: top;
    }
    ::ng-deep .phoneNumber {
        display: block;
        .input-group {
            align-items: center;
        }
    }
}
