:host {
    display: block;
    position: relative;

    .widgets-wrapper {
        background-color: #f7f9fa;
        height: 100%;
        min-height: calc(~"100vh - 75px");
        padding: 20px;
    }

    app-no-data {
        height: calc(~"100vh - 195px");
        flex: auto;

        @media all and (min-width: 1399px) {
            height: calc(~"100vh - 245px");
        }
    }

    .icon {
        background: #fff;
        display: block;
        height: 45px;
        width: 45px;
        border-radius: 50%;
        cursor: pointer;
        position: relative;
        border: 1px solid #e5e9ec;

        &:after {
            height: 100%;
            width: 100%;
            display: block;
            content: '';
            background-repeat: no-repeat;
            background-position: center;
        }

        &.reload:after {
            background-image: url('../../../assets/common/icons/reload.svg');
            background-size: 20px;
        }
    }

    .wrapper {
        max-width: 100%!important;
        width: 100%;
        height: 100%;

        display: flex;
        flex-direction: column;
    }

    .head-wrapper {
        display: flex;
        align-items: center;

        calendar-button {
            margin-left: auto;
        }

        .title {
            h2, dx-drop-down-box {
                display: inline-block;
            }

            ::ng-deep dx-drop-down-box {
                background: transparent;

                dx-text-box {
                }

                input {
                    border: none;
                    background: transparent;
                    font-size: 34px;
                }
            }
        }
    }

    ::ng-deep app-headline .headline-content {
        justify-content: flex-end;
    }

    .add-client {
        padding: 0 40px;
    }

    .left-side,
    .right-side {
        padding-left: 24px;
        padding-right: 24px;
    }

    .right-side {
        recent-clients {
            margin-top: 30px;
        }
    }

    .dashboard-widgets {
        margin-top: 30px;

        .counts-and-totals {
            border-bottom: 1px solid #e5e9ec;
        }

        .analytics-wrap {
            display: flex;
            flex-flow: row wrap;
            justify-content: space-between;
            align-items: flex-start;
            margin-top: 30px;

            .right-side {
                padding: 0;

                @media all and (min-width: 1200px) {
                    padding-right: 0;
                    padding-left: 15px;
                }
            }

            .left-side {
                padding: 0;

                @media all and (min-width: 1200px) {
                    padding-left: 0;
                    padding-right: 15px;
                }

                new-items-totals {
                    + totals-by-source {
                        margin-top: 30px;
                    }
                }

                > * {
                    position: relative;

                    @media (min-width: 1200px) {
                        min-height: 335px;
                    }
                }
            }
        }

        ::ng-deep new-items-totals .content-wrap {
            padding-bottom: 25px;
        }

        new-items-totals,
        totals-by-period {
            padding-top: 25px;
        }

        totals-by-period {
            padding-bottom: 30px;

            @media all and (max-width: 1199px) {
                margin-top: 30px;
            }

        };
    }

    .dashboard-stub {
        width: 100%;
        text-align: center;
        border: none;
        display: flex;
        height: 100%;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        a {
            text-decoration: underline;
        }

        .welcome-crm {
            color: #202B35;
            font-size: 32px;
            font-weight: 600;
            margin-top: 50px;
        }

        .sperse-crm {
            color: #c8cbcd;
            font-family: Montserrat;
            font-size: 133px;
            font-weight: 600;
            vertical-align: middle;
        }

        .second-line {
            color: #c8cbcd;
            font-family: Montserrat;
            font-size: 44px;
            font-weight: bold;
            letter-spacing: 1.5px;
        }

        .logo-crm {
            height: 121px;
            width: 121px;
        }

        .last-line {
            color: #202B35;
            font-size: 18px;
            font-weight: 500;
        }

        .text-crm {
            margin-top: 40px;
        }
        .manage-crm {
            margin-bottom: 40px;
        }
        .text-crm, .manage-crm {
            color: #677380;
            font-size: 16px;
            font-weight: 500;
            line-height: 22px;
        }
    }
}

.name {
    font-size: 18px;
    font-weight: 500;
    line-height: 1.6;
    color: #525252;
    margin-bottom: 0;
}

.company {
    font-size: 13px;
}