<dx-scroll-view [height]="'calc(100vh - 75px)'" showScrollbar="onHover">
    <div class="widgets-wrapper">
        <div class="wrapper">
            <div class="head-wrapper">
                <calendar-button></calendar-button>
                <button class="icon reload" (click)="refresh()"></button>
            </div>
            <div class="dashboard-widgets" *ngIf="accountSelectorService.selectedAccount">
                <counts-and-totals *ngIf="isGrantedCustomers || isGrantedOrders"
                                   [data]="totalsData$ | async"
                                   [fields]="totalsDataFields">
                </counts-and-totals>
                <div class="analytics-wrap">
                    <div class="left-side col-xl-4">
                        <new-items-totals *ngIf="isGrantedCustomers || isGrantedOrders"></new-items-totals>
                        <totals-by-source *ngIf="isGrantedCustomers"></totals-by-source>
                    </div>
                    <div class="right-side col-xl-8">
                        <ng-container *ngIf="isGrantedCustomers">
                            <totals-by-period></totals-by-period>
                            <recent-clients></recent-clients>
                        </ng-container>
                    </div>
                </div>
                <clients-by-region *ngIf="isGrantedCustomers"></clients-by-region>
            </div>
        </div>
        <loading-spinner *ngIf="accountSelectorService.showLoadingSpinner"></loading-spinner>
    </div>
</dx-scroll-view>