<header>
    <h1>{{ ls.l('Referral.LedgerBalanceTitle') }}</h1>
    <button (click)="downloadReport()" [disabled]="!isDataLoaded">{{ ls.l('Referral.DownloadTheReport') }}</button>
</header>
<div class="grid-container">
    <dx-data-grid #pendingTransactionsGrid
                  [showBorders]="true"
                  [dataSource]="pendingCommissions"
                  [allowColumnReordering]="false"
                  (onRowPrepared)="onRowPrepared($event)"
                  (onCellPrepared)="onCellPrepared($event, 'Total including pending amounts:')">
        <dxi-column dataField="startDate"
                    cellTemplate="dateTemplate"
                    [calculateCellValue]="calculateDateValue"
                    [allowSorting]="false"
                    cssClass="colorful tabular clipboard-holder"
                    caption="">
        </dxi-column>
        <dxi-column dataField="type"
                    [allowSorting]="false"
                    [calculateCellValue]="calculateDescriptionValue"
                    cssClass="colorful clipboard-holder"
                    caption="">
        </dxi-column>
        <dxi-column dataField="status"
                    cssClass="colorful clipboard-holder"
                    [allowSorting]="false"
                    caption="">
        </dxi-column>
        <dxi-column dataField="totalAmount"
                    alignment="right"
                    cssClass="clipboard-holder"
                    [caption]="pendingEarningsTotal | currency"
                    [allowSorting]="false"
                    [calculateCellValue]="calculateEarningsAmountValue"
                    format="currency">
        </dxi-column>
        <dxi-column dataField="totalAmount"
                    cssClass="withdrawalAmount clipboard-holder"
                    alignment="right"
                    [calculateCellValue]="calculateWithdrawalAmount"
                    [allowSorting]="false"
                    [caption]="pendingWithdrawalsTotal | currency"
                    format="currency">
        </dxi-column>
        <dxi-column dataField="balance"
                    alignment="right"
                    cssClass="clipboard-holder"
                    [allowSorting]="false"
                    [caption]="(pendingEarningsTotal - pendingWithdrawalsTotal) | currency"
                    format="currency">
        </dxi-column>
    </dx-data-grid>
    <dx-data-grid #transactionsGrid
                  [showBorders]="true"
                  [dataSource]="approvedCommissions"
                  [allowColumnReordering]="false"
                  (onRowPrepared)="onRowPrepared($event)"
                  (onCellPrepared)="onCellPrepared($event, 'Total amounts posted in your account:')">
        <dxi-column dataField="date"
                    [allowSorting]="false"
                    [calculateCellValue]="calculateDateValue"
                    cssClass="colorful clipboard-holder">
        </dxi-column>
        <dxi-column dataField="type"
                    [allowSorting]="false"
                    [calculateCellValue]="calculateDescriptionValue"
                    cssClass="colorful clipboard-holder">
        </dxi-column>
        <dxi-column dataField="status"
                    [allowSorting]="false"
                    cssClass="colorful clipboard-holder">
        </dxi-column>
        <dxi-column dataField="totalAmount"
                    alignment="right"
                    cssClass="clipboard-holder clipboard-holder"
                    [allowSorting]="false"
                    [caption]="earningsTotal | currency"
                    [calculateCellValue]="calculateEarningsAmountValue"
                    format="currency">
        </dxi-column>
        <dxi-column dataField="totalAmount"
                    cssClass="withdrawalAmount clipboard-holder"
                    alignment="right"
                    [allowSorting]="false"
                    [calculateCellValue]="calculateWithdrawalAmount"
                    [caption]="withdrawalsTotal | currency"
                    format="currency">
        </dxi-column>
        <dxi-column dataField="balance"
                    alignment="right"
                    cssClass="clipboard-holder"
                    [allowSorting]="false"
                    [caption]="(earningsTotal - withdrawalsTotal) | currency"
                    format="currency">
        </dxi-column>
    </dx-data-grid>
</div>