:host {
    padding: 0 40px 5px 40px;
    display: block;
    begin-overlay {
        top: 0;
    }
    ::ng-deep dx-data-grid {
        &:last-child .dx-datagrid-headers .dx-column-lines td {
            background-color: #e2efda;
        }

        .dx-datagrid-rowsview tr.dx-column-lines {
            td.colorful {
                color: #d16a39;
            }

            &.starting-balance, &.total-earnings, &.total-withdrawals {
                td {
                    font-weight: 600;
                    color: initial;
                    background-color: #f2f2f2;
                }
            }

            &.total-withdrawals td {
                border-bottom-color: #f2f2f2;
            }

            &.total-earnings td {
                border-bottom: none;
            }

            &.approved td.colorful {
                color: #38bd6c;
            }
        }

        td.withdrawalAmount {
            color: #38bd6c;
        }

        &:not(:last-child) {
            margin-bottom: 20px;
        }
    }
}