<header>
    <h1>{{ ls.l('Referral.LedgerBalanceTitle') }}</h1>
    <button (click)="downloadReport()" [disabled]="!isDataLoaded">{{ ls.l('Referral.DownloadTheReport') }}</button>
</header>
<div class="grid-container">
    <dx-data-grid #pendingTransactionsGrid
                  [showBorders]="true"
                  [dataSource]="pendingCommissions"
                  [allowColumnReordering]="false"
                  (onRowPrepared)="onRowPrepared($event)">
        <dxi-column alignment="right"
                    caption="Total including pending amounts:"
                    cssClass="clipboard-holder">
            <dxi-column dataField="date"
                        dataType="date"
                        [format]="dateFormat"
                        [allowSorting]="false"
                        cssClass="colorful tabular clipboard-holder">
            </dxi-column>
            <dxi-column dataField="type"
                        [allowSorting]="false"
                        [calculateCellValue]="calculateDescriptionValue"
                        cssClass="colorful clipboard-holder">
            </dxi-column>
            <dxi-column dataField="status"
                        cssClass="colorful clipboard-holder"
                        [calculateCellValue]="calculateStatusValue"
                        [allowSorting]="false">
            </dxi-column>
        </dxi-column>
        <dxi-column alignment="right"
                    [caption]="(pendingEarningsTotal + approvedEarningsTotal) | currency"
                    cssClass="clipboard-holder">
            <dxi-column dataField="totalAmount"
                        alignment="right"
                        cssClass="clipboard-holder"
                        [allowSorting]="false"
                        [calculateCellValue]="calculateEarningsAmountValue">
            </dxi-column>
        </dxi-column>
        <dxi-column alignment="right"
                    [caption]="(pendingWithdrawalsTotal + approvedWithdrawalsTotal) | currency"
                    cssClass="clipboard-holder">
            <dxi-column dataField="totalAmount"
                        cssClass="withdrawalAmount clipboard-holder"
                        alignment="right"
                        [calculateCellValue]="calculateWithdrawalAmount"
                        [allowSorting]="false">
            </dxi-column>
        </dxi-column>
        <dxi-column alignment="right"
                    [caption]="(pendingEarningsTotal + pendingWithdrawalsTotal + approvedEarningsTotal + approvedWithdrawalsTotal) | currency"
                    cssClass="clipboard-holder">
            <dxi-column dataField="balance"
                        alignment="right"
                        cssClass="clipboard-holder"
                        [allowSorting]="false"
                        [format]="currencyFormat">
            </dxi-column>
        </dxi-column>
    </dx-data-grid>
    <dx-data-grid #transactionsGrid
                  [showBorders]="true"
                  [dataSource]="approvedCommissions"
                  [allowColumnReordering]="false"
                  (onRowPrepared)="onRowPrepared($event)"
                  (onCellPrepared)="onCellPrepared($event)">
        <dxi-column alignment="right"
                    caption="Total amounts posted in your account:"
                    cssClass="clipboard-holder">
            <dxi-column dataField="date"
                        [allowSorting]="false"
                        [format]="dateFormat"
                        dataType="date"
                        cssClass="colorful clipboard-holder">
            </dxi-column>
            <dxi-column dataField="type"
                        [allowSorting]="false"
                        [calculateCellValue]="calculateDescriptionValue"
                        cssClass="colorful clipboard-holder">
            </dxi-column>
            <dxi-column dataField="status"
                        [allowSorting]="false"
                        [calculateCellValue]="calculateStatusValue"
                        cssClass="colorful clipboard-holder">
            </dxi-column>
        </dxi-column>
        <dxi-column alignment="right"
                    [caption]="approvedEarningsTotal | currency"
                    cssClass="clipboard-holder">
            <dxi-column dataField="earningsAmount"
                        alignment="right"
                        cssClass="clipboard-holder"
                        [allowSorting]="false"
                        [calculateCellValue]="calculateEarningsAmount">
            </dxi-column>
        </dxi-column>
        <dxi-column alignment="right"
                    [caption]="approvedWithdrawalsTotal | currency"
                    cssClass="clipboard-holder">
            <dxi-column dataField="withdrawalAmount"
                        cssClass="withdrawalAmount clipboard-holder"
                        alignment="right"
                        [allowSorting]="false"
                        [calculateCellValue]="calculateWithdrawalAmount">
            </dxi-column>
        </dxi-column>
        <dxi-column alignment="right"
                    [caption]="(approvedEarningsTotal + approvedWithdrawalsTotal) | currency"
                    cssClass="clipboard-holder">
            <dxi-column dataField="balance"
                        alignment="right"
                        cssClass="clipboard-holder"
                        [allowSorting]="false"
                        [format]="currencyFormat">
            </dxi-column>
        </dxi-column>
        <dxo-summary>
            <dxi-total-item column="date" [customizeText]="getFormattedStartDate" displayFormat="{0}"></dxi-total-item>
            <dxi-total-item column="type" displayFormat="Starting Balance"></dxi-total-item>
            <dxi-total-item column="earningsAmount" [customizeText]="emptyText" displayFormat="{0}"></dxi-total-item>
            <dxi-total-item column="withdrawalAmount" [customizeText]="emptyText" displayFormat="{0}"></dxi-total-item>
            <dxi-total-item column="balance" [customizeText]="customizeStartingBalance" displayFormat="{0}"></dxi-total-item>

            <dxi-total-item column="date" [customizeText]="getFormattedStartDate" displayFormat="{0}"></dxi-total-item>
            <dxi-total-item column="type" displayFormat="Total Withdrawals (Historical)"></dxi-total-item>
            <dxi-total-item column="earningsAmount" [customizeText]="emptyText" displayFormat="{0}"></dxi-total-item>
            <dxi-total-item column="withdrawalAmount" [customizeText]="customizeStartingWithdrawals" displayFormat="{0}"></dxi-total-item>
            <dxi-total-item column="balance" [customizeText]="emptyText" displayFormat="{0}"></dxi-total-item>

            <dxi-total-item column="date" [customizeText]="getFormattedStartDate" displayFormat="{0}"></dxi-total-item>
            <dxi-total-item column="type" displayFormat="Total Earnings (Historical)"></dxi-total-item>
            <dxi-total-item column="earningsAmount" [customizeText]="customizeStartingEarnings" displayFormat="{0}"></dxi-total-item>
        </dxo-summary>
    </dx-data-grid>
</div>