<header>
    <h1>{{ ls.l('Referral.LedgerBalanceTitle') }}</h1>
    <button (click)="downloadReport()">{{ ls.l('Referral.DownloadTheReport') }}</button>
</header>
<div class="grid-container">
    <begin-overlay text="Coming Soon...." subText="Your commission activity is being imported and will be shown here once the report is ready."></begin-overlay>
    <dx-data-grid #pendingTransactionsGrid
                  [showBorders]="true"
                  [dataSource]="pendingTransactions"
                  (onRowPrepared)="onRowPrepared($event)"
                  (onCellPrepared)="onCellPrepared($event, 'Total including pending amounts:')">
        <dxi-column dataField="date" width="130px"
                    cellTemplate="dateTemplate"
                    [calculateCellValue]="calculateDateValue"
                    cssClass="colorful" caption="">
        </dxi-column>
        <dxi-column dataField="name"
                    cssClass="colorful"
                    caption="">
        </dxi-column>
        <dxi-column dataField="status"
                    cssClass="colorful"
                    caption="">
        </dxi-column>
        <dxi-column dataField="earningAmount"
                    alignment="right"
                    [caption]="110000 | currency"
                    format="currency">
        </dxi-column>
        <dxi-column dataField="withdrawalAmount"
                    cssClass="withdrawalAmount"
                    alignment="right"
                    [caption]="-102500 | currency"
                    format="currency">
        </dxi-column>
        <dxi-column dataField="balance"
                    alignment="right"
                    [caption]="7500 | currency"
                    format="currency">
        </dxi-column>
        <div *dxTemplate="let cellData of 'dateTemplate'" class="clipboard-holder">
            {{ cellData.value }}
        </div>
    </dx-data-grid>
    <dx-data-grid #transactionsGrid
                  [showBorders]="true"
                  [dataSource]="transactions"
                  (onRowPrepared)="onRowPrepared($event)"
                  (onCellPrepared)="onCellPrepared($event, 'Total amounts posted in your account:')">
        <dxi-column dataField="date"
                    width="130px"
                    cellTemplate="dateTemplate"
                    [calculateCellValue]="calculateDateValue"
                    cssClass="colorful">
        </dxi-column>
        <dxi-column dataField="name"
                    cssClass="colorful">
        </dxi-column>
        <dxi-column dataField="status"
                    cssClass="colorful">
        </dxi-column>
        <dxi-column dataField="earningAmount"
                    alignment="right"
                    [caption]="107500 | currency"
                    format="currency">
        </dxi-column>
        <dxi-column dataField="withdrawalAmount"
                    cssClass="withdrawalAmount"
                    alignment="right"
                    [caption]="-70000 | currency"
                    format="currency">
        </dxi-column>
        <dxi-column dataField="balance"
                    alignment="right"
                    [caption]="37500 | currency"
                    format="currency">
        </dxi-column>
        <div *dxTemplate="let cellData of 'dateTemplate'" class="clipboard-holder">
            {{ cellData.value }}
        </div>
    </dx-data-grid>
</div>