<div class="wrapper">
    <dx-tree-list [selection]="{ allowSelectAll: true, mode: 'multiple', recursive: false }"
                  [dataSource]="items.element.dataSource"
                  [keyExpr]="items.element.keyExpr"
                  [parentIdExpr]="items.element.parentExpr"
                  [showColumnHeaders]="false"
                  [autoExpandAll]="true"
                  height="calc(100vh - 172px)"
                  [scrolling]="{ preloadEnabled: true, rowRenderingMode: 'virtual' }"
                  [(selectedRowKeys)]="items.element.value">
        <dxi-column [dataField]="items.element.nameField" [cellTemplate]="items.element.templateFunc ? 'checkBoxTemplate' : null"></dxi-column>
        <div *dxTemplate="let cell of 'checkBoxTemplate'">
            <div [innerHTML]="items.element.templateFunc(cell.data)"></div>
        </div>
    </dx-tree-list>
</div>
