:host {
    .wrapper {
        padding-bottom: 90px;

        ::ng-deep .dx-treelist {
            .dx-select-checkbox {
                position: static;
                display: inline-block;
            }
            .dx-treelist-rowsview {
                border-top: none;
            }
            .star-item {
                display: flex;
                align-items: center;
                .star {
                    margin: 0 5px;
                }
            }
        }
    }
}
