<div class="page-header navbar navbar-fixed-top md-shadow-zero-light" [ngStyle]="{background: appSession.appearanceConfig && appSession.appearanceConfig.portalCustomCssId ? undefined : layoutService.getLayoutColor('navBackground')}">
    <div class="page-header-inner">
        <div class="page-logo" *ngIf="layoutService.showPageLogo">
            <a [href]="origin">
                <img *ngIf="!appSession.hasCustomLogo" src="./assets/common/images/sperse-logo.png" alt="logo" class="logo-layout"/>
                <img *ngIf="appSession.hasCustomLogo"
                     [src]="remoteServiceBaseUrl + '/api/TenantCustomization/GetLogo?' + appSession.getTenantLogoUrlParams()"
                     alt="logo"
                     class="logo-layout"/>
            </a>
        </div>
        <app-account-selector [symbolWidth]="11" [minWidth]="300" [compact]="true"></app-account-selector>
        <contact-info-panel *ngIf="appService.showContactInfoPanel" [data]="appService.contactInfo"></contact-info-panel>
        <user-management-list>
            <li *ngIf="languages.length"
                class="m-nav__item m-dropdown m-dropdown--large m-dropdown--arrow m-dropdown--align-center m-dropdown--mobile-full-width m-dropdown--skin-light m-list-search m-list-search--skin-light m-dropdown--open dropdown-language">
                <a href="javascript:;" class="m-nav__link m-dropdown__toggle" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">
                    <i [class]="currentLanguage.icon"></i>
                    <span class="m-menu__link-text langname">
                        {{currentLanguage.displayName}}
                    </span>
                    <i class="fa fa-angle-down"></i>
                </a>
                <ul class="dropdown-menu">
                    <li *ngFor="let language of languages">
                        <a href="javascript:;" (click)="changeLanguage(language.name)">
                            <i [class]="language.icon"></i> {{language.displayName}}
                        </a>
                    </li>
                </ul>
            </li>
            <user-dropdown-menu *ngIf="layoutService.showUserProfileMenu" [subtitle]="userCompany$ | async" [dropdownMenuItems]="dropdownMenuItems"></user-dropdown-menu>
        </user-management-list>
        <ng-container *ngIf="layoutService.showTopNavBar">
            <top-bar></top-bar>
        </ng-container>
    </div>
</div>