<div class="login">
    <main class="main-content">
        <div class="account-forms">
            <div class="row">
                <div class="col-sm-12 col-xs-12 text-center form-wrapper">
                    <div class="logo">
                        <a [href]="originUrl">
                           <img *ngIf="!appSession.tenantHasCustomLogo"
                                src="./assets/common/images/app-logo-on-dark.png"
                                alt="logo" width="auto" height="54"/>
                           <img *ngIf="appSession.tenantHasCustomLogo"
                                [src]="remoteServiceBaseUrl + '/api/TenantCustomization/GetLogo?' + appSession.getTenantLogoUrlParams()"
                                alt="logo"
                                width="auto" height="54"/>
                        </a>
                    </div>

                    <router-outlet></router-outlet>
                </div>
            </div>
        </div>
        <div class="footer">
            <div class="copyright">
                {{currentYear}} &copy; {{tenantName}} {{ls.l("Platform")}}
            </div>
        </div>
    </main>
</div>