<section class="account-section">
    <header class="section-header">
        <div class="logo">
            <a [href]="originUrl">
                <img *ngIf="!appSession.tenant || !appSession.tenant.logoId"
                     src="./assets/common/images/app-logo-on-dark.png"
                     alt="logo" width="200" height="60"/>
                <img *ngIf="appSession.tenant && appSession.tenant.logoId"
                     [src]="remoteServiceBaseUrl + '/api/TenantCustomization/GetLogo?logoId=' + appSession.tenant.logoId"
                     alt="logo"
                     width="auto" height="60"/>
            </a>
        </div>
    </header>
    <main class="content">
        <div class="left-side">
            <router-outlet></router-outlet>
        </div>
        <div class="right-side">
            <div class="dots"></div>
            <div class="video-container"></div>
            <div class="bg-circle"></div>
        </div>
    </main>
</section>
<!--
1440
865 - 60%
575 - 40%
-->