<section class="new-items-status">
    <header>
        <h2 class="title">{{ls.ls(localization, 'Totals')}}</h2>
    </header>
    <div class="content-wrap">
        <div *ngIf="totalsDataAvailable$ | async; else noData" class="align-data">
            <div class="charts-wrapper" *ngIf="(totalsData$ | async) as totalsData">
                <ng-container *ngFor="let field of fields">
                    <div *ngIf="field.visible" class="chart-head">
                        {{ls.ls(localization, 'CRMDashboard_NewAdded', [ls.ls(localization, field.title).toLowerCase()])}}
                        <div class="value">
                            <ng-container *ngIf="field.type == 'currency'">
                                <span>{{ totalsData[field.name.replace('total', 'new')] | currency: 'USD' : true : '1.0-0' }}</span>
                            </ng-container>
                            <ng-container *ngIf="field.type == 'number'">
                                <span>{{ totalsData[field.name.replace('total', 'new')] | number }}</span>
                            </ng-container>
                        </div>
                    </div>
                    <div *ngIf="field.visible" class="chart-line" [ngStyle]="{ 'background-color': '#F1F5F6' }">
                        <div [ngStyle]="{ width: field.percent, 'background-color': field.color }"></div>
                    </div>
                </ng-container>
            </div>
        </div>
        <ng-template #noData>
            <app-no-data></app-no-data>
        </ng-template>
    </div>
</section>
