<footer class="row align-items-center step-footer">
    <div class="col-8">
        <div *ngIf="conditionsModalService.isDocumentAvailable(conditions.Terms)" class="terms-block row align-items-center">
            <div class="col-1">
                <img src="./assets/common/icons/information-button.svg" alt="info">
            </div>
            <div class="col-11 terms-text">
                <p>{{ ls.l('BankTransferTermsAndConditionText', submitButtonText) }} <a (click)="openTermsModal()">{{ ls.l('TermsConditions') }}</a></p>
            </div>
        </div>
    </div>

    <div class="col-4 text-right">
        <button mat-raised-button class="btn btn-layout" (click)="onSubmit.emit()" [disabled]="submitButtonDisabled">{{ submitButtonText }}</button>
    </div>
</footer>
